<div class="slide-intro">
  <div class="heading">
    <h2>STYLES</h2>
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./assets/img/banner-home-1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/banner-home-2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="./assets/img/banner-home-3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
