<div class="leisure-travel-list">
  <div class="container">
    <div class="row travel-filter">
      <div class="col-md-6">
        <select
          id="styleFilter"
          class="travel-dropdown dropdown-styles"
          name="travel_style"
        >
          <option value="Art & Culture">Art & Culture</option>
          <option value="Nature & Soft Adventure">
            Nature & Soft Adventure
          </option>
          <option value="Wellness & Yoga">Wellness & Yoga</option>
          <option value="Family Vacation">Family Vacation</option>
          <option value="Local Life">Local Life</option>
          <option value="Education Travel">Education Travel</option>
          <option value="Honeymoon package">Honeymoon package</option>
          <option value="Off The Beaten Track">Off The Beaten Track</option>
        </select>
      </div>
      <div class="col-md-6">
        <select
          id="countryFilter"
          class="travel-dropdown dropdown-countries"
          name="travel_country"
        >
          <option value="VIETNAM">VIETNAM</option>
          <option value="CAMBODIA">CAMBODIA</option>
          <option value="LAOS">LAOS</option>
          <option value="MYANMAR">MYANMAR</option>
        </select>
      </div>
    </div>
    <div class="row travel-list" id="filteredContent">
      <div class="col-md-4">
        <div class="travel-item">
          <div class="travel-item__thumb">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="aspect-[1.31] object-contain object-center w-full shadow-lg overflow-hidden"
              alt="thumb"
            />
          </div>
          <div class="travel-item__info">
            <div class="travel-item__title">Visit Craft Villages</div>
            <div class="travel-item__subtitle">
              There are more than 5,000 handicraft villages in the whole country
              of Vietnam. Surprisingly, Hanoi and its surroundings are the
              busiest region. Although the village dwellers prioritize growing
              rice, they began very early on craftwork to meet their own needs
              after harvest time. Craftsmen and tradesmen from these places had
              set up shops around the Old Quarter in the old time. Most of the
              businesses were small-scale and family-based. These activities are
              still largely manual work and integrated into the daily routine of
              the families with children, women, and the elderly participating
              when necessary. Their traditional products are silk, pottery,
              carpentry, paper, rice noodle, conical hats, incense making,
              bamboo and Lacquer furniture…
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="travel-item">
          <div class="travel-item__thumb">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="aspect-[1.31] object-contain object-center w-full shadow-lg overflow-hidden"
              alt="thumb"
            />
          </div>
          <div class="travel-item__info">
            <div class="travel-item__title">Visit Craft Villages</div>
            <div class="travel-item__subtitle">
              There are more than 5,000 handicraft villages in the whole country
              of Vietnam. Surprisingly, Hanoi and its surroundings are the
              busiest region. Although the village dwellers prioritize growing
              rice, they began very early on craftwork to meet their own needs
              after harvest time. Craftsmen and tradesmen from these places had
              set up shops around the Old Quarter in the old time. Most of the
              businesses were small-scale and family-based. These activities are
              still largely manual work and integrated into the daily routine of
              the families with children, women, and the elderly participating
              when necessary. Their traditional products are silk, pottery,
              carpentry, paper, rice noodle, conical hats, incense making,
              bamboo and Lacquer furniture…
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="travel-item">
          <div class="travel-item__thumb">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="aspect-[1.31] object-contain object-center w-full shadow-lg overflow-hidden"
              alt="thumb"
            />
          </div>
          <div class="travel-item__info">
            <div class="travel-item__title">Visit Craft Villages</div>
            <div class="travel-item__subtitle">
              There are more than 5,000 handicraft villages in the whole country
              of Vietnam. Surprisingly, Hanoi and its surroundings are the
              busiest region. Although the village dwellers prioritize growing
              rice, they began very early on craftwork to meet their own needs
              after harvest time. Craftsmen and tradesmen from these places had
              set up shops around the Old Quarter in the old time. Most of the
              businesses were small-scale and family-based. These activities are
              still largely manual work and integrated into the daily routine of
              the families with children, women, and the elderly participating
              when necessary. Their traditional products are silk, pottery,
              carpentry, paper, rice noodle, conical hats, incense making,
              bamboo and Lacquer furniture…
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="travel-item">
          <div class="travel-item__thumb">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="aspect-[1.31] object-contain object-center w-full shadow-lg overflow-hidden"
              alt="thumb"
            />
          </div>
          <div class="travel-item__info">
            <div class="travel-item__title">Visit Craft Villages</div>
            <div class="travel-item__subtitle">
              There are more than 5,000 handicraft villages in the whole country
              of Vietnam. Surprisingly, Hanoi and its surroundings are the
              busiest region. Although the village dwellers prioritize growing
              rice, they began very early on craftwork to meet their own needs
              after harvest time. Craftsmen and tradesmen from these places had
              set up shops around the Old Quarter in the old time. Most of the
              businesses were small-scale and family-based. These activities are
              still largely manual work and integrated into the daily routine of
              the families with children, women, and the elderly participating
              when necessary. Their traditional products are silk, pottery,
              carpentry, paper, rice noodle, conical hats, incense making,
              bamboo and Lacquer furniture…
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="travel-item">
          <div class="travel-item__thumb">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="aspect-[1.31] object-contain object-center w-full shadow-lg overflow-hidden"
              alt="thumb"
            />
          </div>
          <div class="travel-item__info">
            <div class="travel-item__title">Visit Craft Villages</div>
            <div class="travel-item__subtitle">
              There are more than 5,000 handicraft villages in the whole country
              of Vietnam. Surprisingly, Hanoi and its surroundings are the
              busiest region. Although the village dwellers prioritize growing
              rice, they began very early on craftwork to meet their own needs
              after harvest time. Craftsmen and tradesmen from these places had
              set up shops around the Old Quarter in the old time. Most of the
              businesses were small-scale and family-based. These activities are
              still largely manual work and integrated into the daily routine of
              the families with children, women, and the elderly participating
              when necessary. Their traditional products are silk, pottery,
              carpentry, paper, rice noodle, conical hats, incense making,
              bamboo and Lacquer furniture…
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
