<div class="container leisure-travel-styles">
  <div class="heading">
    <h2 class="heading-title-main">LEISURE TRAVEL STYLES</h2>
    <div class="heading-title-sub">
      This is the first and foremost kind of product that we can offer to
      partners. Our products are rather diversified including: classic tours
      (culture, history, nature) | Adventure tours (biking, hiking, trekking,
      kayaking, rock climbing, even paragliding…)| Golf tour| Beach tours/Island
      tours| … and some kinds of theme tours such as bird watching, wide animals
      watching, study tours, working tours, volunteering tours,…
    </div>
  </div>
  <div class="leisure-travel-slide">
    <div class="leisure-travel-slide--block">
      <div class="slider-leisure-travel">
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Art & Culture</div>
            <div class="slide-description--content">
              Indochina has acquired the wealth and cultural richness of many
              ethnicities of each country over thousands of years. People still
              preserve the traditional features of the past and take great
              pleasure in their nation's tradition. Many aspects of culture
              originate not just from the big cities, but also from simple rural
              lifestyles such as traditional wet rice cultivation, traditional
              meal table rules, and numerous year-round local festivals.
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Wellness & Yoga</div>
            <div class="slide-description--content">
              Mindfulness and physical wellness such as meditation and yoga,
              enrich body and soul through traditional herbal therapy at the
              retreats and during journeys. There’s nothing like a vacation to
              help you feel well, and that’s the combination focus of active
              activities and more laid-back wellness itineraries. With our range
              of wellness activities, clients will be able to get a taste of the
              destination whilst indulging in some feel-good activities.
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Local Life</div>
            <div class="slide-description--content">
              Community-based tourism is such an appealing type of tourism in
              Indochina currently. Visitors will experience the most real local
              life, participating in activities and daily life with the
              indigenous people. CBT program is ideal to learn about the local
              people living in rural areas of the country, their way of life,
              their culture, and their close connection to the natural world, as
              well as how they care for, protect, and respect. Locals will
              organize various engaging and interactive activities for guests
              throughout their time in the area.
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Honeymoon package</div>
            <div class="slide-description--content">
              Indochina has some impeccable, unspoiled beaches with fine sand,
              clean water surrounded by lush mountains, and beautiful
              landscapes. Whether you are a beach lover, a couple looking for a
              romantic getaway, or honeymooners planning a dream honeymoon
              vacation, here are the most gorgeous countries that can make you
              feel like living a blissful life. Vietnam and Cambodia are perfect
              honeymoon destinations with so much to offer for once in a
              lifetime holiday with a touch of romance, beach relaxing and
              sightseeing to beautiful places.
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Nature & Soft Adventure</div>
            <div class="slide-description--content">
              The natural sceneries are described as "wild," "mysterious," and
              "fascinating" in many parts of Indochina countries. In point of
              fact, many imposing mountains, magical caves and caverns, gorgeous
              waterfalls, endless streams, fantastic beaches, untamed islands,
              and many other beautiful features are priceless gifts that nature
              has bestowed upon these tropical nations. Most favorite adventure
              activities are kayaking, cycling, rock climbing, river rafting and
              ziplining between tree houses.
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Family Vacation</div>
            <div class="slide-description--content">
              No matter the wide age gap in a group, various fun things are
              abundant in Indochina for families. We can create specific
              itineraries to cater for families of all shapes and sizes. These
              itineraries generally move at a slower pace to others, with more
              time to relax as well as take in the sights. Specific itineraries
              for single parent families, families with teenagers or children
              traveling with grandparents, can also be designed specifically for
              your brand. It’s important that all guests, even the young ones,
              have an appreciation for the world around them.
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Education Travel</div>
            <div class="slide-description--content">
              Our itineraries are designed to suit your needs. By our wealth of
              experiences, your tour may combine cultural immersion or physical
              activity along with study opportunities that are out of the
              ordinary. Some of our successful featuring topics: Animal
              watchings/studying (focus on the national parks); local experience
              (focus on the local life and their daily activities - interacting
              with the local, visit local school, local factories,…);
              responsible tour (focus on the remote area, helping the poor
              community, in combination with some outdoor activities: trekking,
              biking,…)
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="slider-leisure-travel--item">
          <div class="slide-image">
            <img
              src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
              alt=""
            />
          </div>
          <div class="slide-description">
            <div class="slide-description--title">Off the beaten track</div>
            <div class="slide-description--content">
              Beside the most popular hotspot in Indochina in every program,
              there are still plenty of activities to join and discover the
              less-explored regions of this popular destination. This is such a
              great way to not only take in amazing landscapes but also meet up
              local remote people who still follow a traditional way of life.
              Off-the-beaten-track is mostly for adventurous people who tend to
              discover the forgotten natural wonders, diverse ecosystems, and
              traditional rural villages.
            </div>
            <div class="btn-wrap">
              <button class="prev-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
