{% extends "layouts/default.html" %}
{% set pageTitle = 'Group Tours' %}
{% set bodyClasses = '' %}
{% block content %}
  {% include "include/group-tours/index.html" %}
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function () {
      $(".slider-groupTour").slick({
          dots: false,
          infinite: false,
          slidesToShow: 1.5,
          slidesToScroll: 1,
          centerPadding: '60px',
          prevArrow: $('.prev-btn'),
          nextArrow: $('.next-btn'),
      });
    });
  </script>
{% endblock %}