{% extends "layouts/default.html" %}
{% set pageTitle = 'Home' %}
{% set bodyClasses = '' %}
{% block content %}
  {% include "include/home/index.html" %}
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function () {
      $(".slider").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        centerPadding: "20px",
        prevArrow: $(".prev-btn"),
        nextArrow: $(".next-btn"),
        responsive: [
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
      $(".slider-blogs").slick({
        dots: false,
        infinite: false,
        slidesToShow: 2.5,
        slidesToScroll: 1,
        centerPadding: "60px",
        prevArrow: $(".prev-btn-blogs"),
        nextArrow: $(".next-btn-blogs"),
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 1.5
            }
          }, {
            breakpoint: 771,
            settings: {
              slidesToShow: 1.2,
              centerPadding: "20px"
            }
          }
        ]
      });
    });
  </script>
{% endblock %}