{% extends "layouts/default.html" %}
{% set pageTitle = 'Laos' %}
{% set bodyClasses = '' %}
{% block content %}
  {% include "include/laos/index.html" %}
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function() {
      $('map').imageMapResize();
    });
  </script>
{% endblock %}