{% extends "layouts/default.html" %}
{% set pageTitle = 'Leisure Travel Styles' %}
{% set bodyClasses = '' %}
{% block content %}
  {% include "include/leisure-travel-styles/index.html" %}
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function () {
      $(".slider-leisure-travel").slick({
        dots: false,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        centerPadding: '60px',
        prevArrow: $('.prev-btn'),
        nextArrow: $('.next-btn')
      });
      $('.dropdown-styles').select2();
      $('.dropdown-countries').select2();

      var itemList = [
        {
          style: "Art & Culture",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Visit Craft Villages",
          content: "There are more than 5,000 handicraft villages in the whole country of Vietnam. Surprisingly, Hanoi and its surroundings are the busiest region. Although the village dwellers prioritize growing rice, they began very early on craftwork to meet their own needs after harvest time. Craftsmen and tradesmen from these places had set up shops around the Old Quarter in the old time. Most of the businesses were small-scale and family-based. These activities are still largely manual work and integrated into the daily routine of the families with children, women, and the elderly participating when necessary. Their traditional products are silk, pottery, carpentry, paper, rice noodle, conical hats, incense making, bamboo and Lacquer furniture…"
        }, {
          style: "Art & Culture",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Hoi An Ancient Town Exploration",
          content: "The ideal location for exploring Vietnam's rich cultural history is Hoi An Ancient Town, a UNESCO World Heritage Site. This city is a well-preserved representation of a Southeast Asian trade port that grew prosperously in the 16th and 17th centuries. In its prime, Hoi An welcomed traders from China, Spain, the Netherlands, Japan, and other countries, earning a reputation as a hub of cross-cultural interaction. A wealth of cultural activities awaits within Hoi An Ancient Town's streets. You can now participate in various cultural activities in the old town area, such as visiting historic museums and heritage homes, eating delicious food, and shopping for souvenirs in the Old Quarter."
        }, {
          style: "Art & Culture",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Water Puppet Show",
          content: "Legend has it that, about 1000 years ago, this performance was inspired by the common life of peasants in Northern Vietnam. The stage has a frugal appearance in the middle of a shallow pond formed from the waist-deep water level of cultivated paddies. The concept is based on the heart of rural Vietnamese activities such as fishing, agriculture, and traditional tales and stories. There are lots of water puppet theaters across Vietnam, but the most popular theaters are the Thang Long theater in Hanoi and the Golden Dragon theater in Ho Chi Minh City."
        }, {
          style: "Art & Culture",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "The Quintessence of Tonkin Show",
          content: "Defined by a stunning water stage, 3D visual effects, authentic costumes, live music, and coordinated choreography, this show has been able to reconstruct and recapture the most compelling elements of Vietnamese village life, from folklore, music, and poetry to water puppetry and Buddhism. among more than 200 artists, of which more than half are local village residents. They have been training for over two years and are now bringing their spirit to the stage through their own traditional entertainment. Who else can tell Tonkin's story better than the villagers themselves? It is really a performance that you should not miss when traveling on your best tour to Vietnam."
        }, {
          style: "Art & Culture",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "The A O Show in Saigon",
          content: "Being held at the iconic Saigon Opera House, A O Show by Lune Production features visual illusions and amazing performers, combined with contemporary music by a group of talented in-house artists. Missing only the colorful outfits, the crew is often regarded as the infamous Cirque du Soleil, which balances giant bamboo props. Not only that, but they will perform gravity-defying stunts and make your heart beat in time with the music. Afterwards, local dancers and musicians are very friendly and meet and greet their guests."
        }, {
          style: "Art & Culture",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Luang Prabang Heritage Town",
          content: "Among the top places to visit in Laos is the historic and picturesque town of Luang Prabang, designated as a UNESCO World Heritage Site. There are stunning natural areas, royal residences, and more than 30 temples built in the old architectural style of France. A typical day for tourists consists of waking early to join the alms ritual of orange-robed monks and then relaxing over breakfast at a lovely cafe in the quaint town. Enjoy the serene scenery and learn about the region's rich history by spending some time here."
        }, {
          style: "Art & Culture",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Wat That Luang Neua",
          content: "When it comes to the national symbol of Laos, That Luang (or the Great Stupad) in Vientiane is the most sacred monument, even featured on the official seal of Laos. Aside from sightseeing, this location is also home to the That Luang festival, one of Laos's most important Buddhist festivals, which takes place every October and November. During the festival's three days and three nights, visitors can engage in various activities like parades, traditional performances, and religious ceremonies."
        }, {
          style: "Art & Culture",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Vat Phou (Wat Phu) temple complex",
          content: "Wat Phou is an ancient Angkor temple ruin located near the city of Pakse in southern Laos on the banks of the Mekong River. The temple is a UNESCO World Heritage Site hundreds of people visit each year to learn about its history and unique architecture. The temple is a combination of Khmer architecture and Hinduism. Visitors will be astounded by the exceptional craftsmanship of this well-preserved Khmer temple complex, particularly the remarkable carvings adorning the walls, all of which reflect the fascinating beauty that you must see."
        }, {
          style: "Art & Culture",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Watch Sovanna Phum",
          content: "Cambodia's long and diverse performing arts legacy includes shadow puppetry, classical Apsara dance, folklore and mask dance, traditional music, circus, and more. A long period of war and recession is almost entirely responsible for Cambodian art steadily fading away, but thanks to Sovanna Phum, the performing arts community is finally witnessing a comeback. This is an autonomous and self-funded Khmer association leading activity in the field of performing arts in Cambodia. Guests can purchase leather shadow puppets, musical instruments, shows, and other exciting items on sale here."
        }, {
          style: "Art & Culture",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Phare Circus Performance",
          content: "More than just a circus, Phare, the Cambodian Circus performers use theater, music, dance, and modern circus arts to tell uniquely Cambodian stories, transforming the lives of Cambodian youth. The young circus artists will astonish guests with their energy, emotion, enthusiasm, and talent. Phare artists are students and graduates from Phare Ponleu Selpak's vocational training center in Battambang.  The Cambodian Circus is an opportunity to develop artists' careers, revitalize Cambodian art scenes, and sustain the association's artistic, educational, and social projects."
        }, {
          style: "Art & Culture",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Enjoy Apsara Show",
          content: "A tradition has been performed since the earliest days of tourism in the 19th century to treat guests to Siem Reap like a taste of classical Khmer culture. These days, no visit to Cambodia is complete without attending at least one traditional performance. The dance shows happiness and prosperity for the whole country."
        }, {
          style: "Art & Culture",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Discover National Museum of Cambodia",
          content: "Over 5,000 artifacts from the ancient Angkorian era have been preserved in the National Museum of Cambodia. The Leper King from Siem Reap and a massive bronze Vishnu from the eleventh century are among the unique statues, lingas, and other objects on show in the various chambers."
        }, {
          style: "Art & Culture",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "The Royal Palace and Silver Pagoda",
          content: "The Royal Palace is the King's residence, the royal family's home, the location of judicial proceedings, and a representation of the Kingdom. The public is welcome in certain areas. The Silver Pagoda, a well-known pagoda with a prominent location on the riverside and a name derived from its glittering silver floor, is also located within the palace property. Visitors can explore the elaborate temples, libraries, and galleries inside the palace grounds by strolling through the well-kept gardens."
        }, {
          style: "Art & Culture",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Old Rangoon – New Yangon",
          content: "This tour will take you on a stroll/drive through the old town of Rangoon/Yangon in the 1900s & today. Witness the changes from old Rangoon to New Yangon with old photos displayed on each site. Rare insight into the cultural and political history of this amazing city and explore the rich architectural heritage."
        }, {
          style: "Art & Culture",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Yangon Circular Train (A Window into Rural Life)",
          content: "There is no better way to experience Yangon life than a ride on the city’s circular train. Ride the Yangon circle train for a slow journey through the suburban outskirts, observing scenes of daily life and meeting friendly locals."
        }, {
          style: "Art & Culture",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Make A difference (Social Enterprise)",
          content: "Explore Yangon’s up and coming social enterprise scene organized by entrepreneurs committed to running a business that makes a positive social impact. Discover several of the city’s diverse townships on a tour that represents Yangon’s many faces. Meet interesting and dynamic people doing what they love to benefit Myanmar’s communities and culture."
        }, {
          style: "Nature & Soft Adventure",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Trekking in Puluong/Sapa/Hoang Su Phi",
          content: "For city dwellers seeking outdoors, Vietnam has many trekking options. Sa Pa, a northern mountainous area, has the most popular routes. Fansipan is Indochina's tallest peak at 3144 meters (10282 ft) and takes three days to climb. Or visit Da Lat in the Central Highlands if you are unwilling to undertake a multi-day trek. The highlands have routes for all abilities. Some adventurous individuals may prefer to visit remote areas. This is doable; however, a tour organization is recommended because some ultra-rural areas may not welcome tourists. The guide can translate for you with locals."
        }, {
          style: "Nature & Soft Adventure",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Diving in Vietnam",
          content: "Despite having nearly 3500 kilometers of coastline in the South China Sea and the Gulf of Thailand, Vietnam's diving scene is still in its infancy. Nha Trang in central Vietnam is perfect for both beginners and certified divers. Popular diving spots include Black Island (Hon Mun Island) and Madonna Rock. Expect to see vibrant coral and aquatic life beneath the surface. The Cham Islands off the coast of Hoi An provide some of the best diving in Vietnam. Swim with rays and sharks and explore a shipwreck in the Con Dao archipelago in the Gulf of Thailand."
        }, {
          style: "Nature & Soft Adventure",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Visiting National Parks",
          content: "Vietnam is home to thirty different protected areas, some of which include tropical rainforests, caves, waterfalls, and a wide variety of endangered animals and other forms of wildlife. Visiting one of Vietnam's national parks is highly recommended for people who are interested in getting close to nature and participating in various outdoor pursuits. Cat Tien, Bach Ma, and Cuc Phuong are examples of ones that are well-known and easy to visit. There is also an option to stay near the parks/nature reservation including budget-friendly dorms and deluxe bungalows."
        }, {
          style: "Nature & Soft Adventure",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Kayaking/Canoeing/River Rafting",
          content: "Various ideal places for these activities are in Ba Be, Puluong, Ha Giang, Halong Bay, Lan Ha Bay, Phong Nha, Dalat and Phu Quoc…"
        }, {
          style: "Nature & Soft Adventure",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Kayaking in the Four Thousand Islands",
          content: "Si Phan Don (Four Thousand Islands) is a popular destination for those looking for relaxation, but there is too much to see here along the Mekong to spend your entire vacation in a hammock. One of the most excellent places in the nation to kayak and take in the breathtaking surroundings as you meander along the river, paddling over calm waters and a few more difficult sections. A chance to see the critically endangered Irrawaddy dolphin on trips."
        }, {
          style: "Nature & Soft Adventure",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Ziplining through primal forest",
          content: "Thrill seekers interested in having an adventure that is truly one of a kind, can go to the northern part of Laos and participate in the Gibbon Experience. Your wildest dreams of adventuring can come true as you take to the air on ziplines that can be as long as 500 meters and travel at high speeds through verdant forests and valleys. The three-day excursion includes entertaining activities, including lodging in tree huts that can only be reached via zipline. The fee of the experience goes toward supporting the preservation of the black gibbon's natural habitat, which is the forest that is immediately adjacent to it."
        }, {
          style: "Nature & Soft Adventure",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Boating through a 7km limestone cave",
          content: "A visit to the ominous Tham Kong Lo cave has got to be one of the most memorable parts of any vacation to Laos. This limestone cavern is awe-inspiring thanks to its length—7 kilometers—and its height—up to 90 meters in some spots. It is also the habitat of bats and spiders that feed on birds. You will be navigating the enormous river passage in almost complete darkness, with just the light from your flashlight and the headlamp of the boatman to guide you. In the course of a tour, you will have the opportunity to stop halfway through and wander through a stalactite forest that is beautifully illuminated."
        }, {
          style: "Nature & Soft Adventure",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Cycling in Siem Reap",
          content: "Cities like Siem Reap and Phnom Penh make it simple to go on a riding tour because biking is a systematic way to explore the countryside or historical ruins. The optimum time is when the weather is cool, in the early morning or late alternately, not on a day when it rains. A day trip is sufficient for those who only want a quick expenerience. Lengthier tours are available for cyclists, including those from Phnom Penh to Siem Reap. You can see farmers working in the rice fields  way. You might also ride a mountain bike on the gravel road or stroll a bamboo trail."
        }, {
          style: "Nature & Soft Adventure",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Motor-Bike/Vespa tours in lost temples",
          content: "A motorbike tour is an excellent alternative for those interested in going off the main path, discovering the mountains, or uncovering hidden temples in isolated places. Regardless of whether we are in the dry or wet season, it would be best to have sun protection on hand because there are always routes that are excellent for motorcycle rides. Getting away from the hustle and bustle of the cities, you can visit locations visitors rarely visit, such as historical temples that are even older than Angkor, the jungle, or you could cross the Mekong River. All of these are great ways to escape the bustle and noise of the towns."
        }, {
          style: "Nature & Soft Adventure",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Scuba diving in Sihanoukville",
          content: "October through June offer the best diving conditions because the monsoon season lasts from July to September, impacting visibility. The coast around Sihanoukville and the nearby islands are excellent locations for scuba diving. You can choose between a day trip and an overnight trip. You will be guided by a diving teacher from the Professional Diving Association to ensure your safety, whether you are a beginner or an experienced diver. If you take a boat for around 1.5 hours to dive, you can view a fantastic underwater world full of hard and soft corals, reef fish, seahorses, octopuses, and other creatures."
        }, {
          style: "Nature & Soft Adventure",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Hot Air balloon experience",
          content: "For 30 minutes, fly over the rice fields and watch the sunrise over the sugar palm trees and the small villages around Siem Reap. You will also get to see some archaeological remains and the magnificent reliefs of the landscape below your feet. It’s a unique experience to discover the province in a stunning setting."
        }, {
          style: "Nature & Soft Adventure",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Dala Trishaw Tour",
          content: "Be enchanted by the colours, sights and sounds of rural Myanmar with a half day guided tour to Dhala. Travel by ferry across the Yangon River to Dhala where a trishaw ride exposes the natural beauty, laid-back pace and local customs of this charming town"
        }, {
          style: "Nature & Soft Adventure",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Balloon Experience Over Bagan",
          content: "You will witness quite possibly the best panoramic views of Bagan and its surrounds. One of the most important archaeological sites in Asia and arguably the world, the thousands of temples at Bagan sit on a dry agricultural plain wedged in a bend of the imperious Irrawaddy River. Flights last around 45 minutes but the entire experience lasts about two and a half hours."
        }, {
          style: "Nature & Soft Adventure",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Bagan Bike Tour",
          content: "The perfect introduction to Bagan, its people, culture and way of life. Learn about local handicrafts and cottage industries; discover world-famous pagodas as well as lesser-known temples well off the beaten track."
        }, {
          style: "Wellness & Yoga",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Wellness resorts",
          content: `
            This list features the top wellness resorts with high-end spa and wellness service:
              1.TIA Wellness Resort
              Address: 109 Vo Nguyen Giap, Ngu Hanh Son, Da Nang, Vietnam
              2. Alba Wellness Valley Hue
              Address: Phong Son Commune, Phong Dien District, Thua Thien Hue Province, Vietnam
              3. Almanity Hoi An Wellness Resort
              Address: 326 Ly Thuong Kiet, Tan An Ward, Hoi An City, Quang Nam Province, Viet Nam
          `
        }, {
          style: "Wellness & Yoga",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Nature retreats",
          content: `
            Wellness retreat tourism is becoming a trend in Vietnam. Along the country, there are various choices of wellness retreat resorts that meet your needs. Walking around the off-the-beaten-track paths, you will see stretching terraced rice fields, mountains, and forests. Besides, you can relax by cool streams on the trekking route or swim in an infinity pool surrounded by beautiful terraced rice fields. This list features the most trending nature retreats:
              1. Puluong Retreat
              2. Le charm Tu Le Yen Bai
              3. Mai Chau ecolodge 
              4.  Avana Retreat
              5. Topas Ecolodge
          `
        }, {
          style: "Wellness & Yoga",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Yoga & Meditation",
          content: "Vinyasa yoga is a series of yoga poses that connect the body and mind of the practitioner. Let’s close your eyes and relax your back, neck, and shoulders. Besides the Vinyasa yoga retreat, natural meditation and restorative yoga are also engaging activities in your wellness retreat trip. There is no more relaxing experience than doing restorative yoga after trekking and before enjoying your dinner with vegan and other types of food."
        }, {
          style: "Wellness & Yoga",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Spa treatment & Detox",
          content: "Vietnam was voted Asia's best spa destination at the awards by World Spa Awards, a sister event of the prestigious World Travel Awards in 2022. The detox program is ideal if you want to reduce the toxins in your body and the fatigue in daily life. This program helps the skin look brighter and helps you lose some weight thanks to the program's low-protein diet."
        }, {
          style: "Wellness & Yoga",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Beach/ hill resorts",
          content: `
            If you want a beach vacation without the crowds, this list features the top resorts for ocean views, great restaurants, high-end spa, exceptional service, and glamorous sunsets.
            The coastline of Vietnam is more than 3000 km which is one of the conditions that create many breathtaking beaches for this country. Some beaches have been planned and developed to serve the needs of tourists while others are still pristine.
            1. Amanoi Vinh Hy
            2. Six Senses Con Dao
            3. Zannier Bai San Ho, Phu Yen
            4. Six Senses Ninh Van Bay, Nha Trang
            5. Four Seasons The Nam Hai, Hoi An
          `
        }, {
          style: "Wellness & Yoga",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Meditation in Sagaing",
          content: "Connect with Myanmar’s deeply spiritual culture in Mandalay. Travel to a monastery in Sagaing, a town brimming with religious centres. Learn traditional culture and some meditation techniques from a local master."
        }, {
          style: "Family Vacation",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Beach fun",
          content: "What could be a more enjoyable way to relax than spending your vacation with your loved ones at a stunning coastal resort? A good family vacation needs to include exciting activities and leisure to rest. Imagine that you can relax on the beach while your children can play, build sandcastles, and swim in the crystal-clear water of the ocean. This will be a priceless moment that, undoubtedly, each person will take pleasure in experiencing. With over a thousand miles of coastline spanning throughout the country, Vietnam will be a fantastic option for you and your family. Some of the most beautiful beaches in the country can be found in Da Nang, Phu Quoc, Nha Trang, and Mui Ne."
        }, {
          style: "Family Vacation",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Festive fun",
          content: `No matter where you go, festivals are one of the best opportunities to get to know a country and interact with its people. The festival offers a variety of activities for you and your family, including decorations, music filling the streets, traditional folk games played in public, and a variety of excellent food to try. Most significantly, everyone will be involved, which means human contact will significantly improve.

          Although Vietnam has many festivals throughout the year, the Hoi An Lantern Festival, which takes place on the full moon day of the month, is an event tourists must not miss. Beautiful paper lanterns decorate the beautiful city of Hoi An, creating a quaint and alluring atmosphere when lit at night. Visitors can also participate in the Hue Festival, which takes place once every two years and is a significant event that draws performers from all around Vietnam.
          `
        }, {
          style: "Family Vacation",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Rural experiences",
          content: "Children today are born into a technological environment, so the tempting appeal of phones and iPads is unavoidable. One of the most beneficial benefits of traveling with children is introducing them to various lifestyles. When visiting Vietnam, there are numerous opportunities for families to immerse themselves in the simple lifestyle of rural Vietnamese—participating in craft workshops to make Vietnamese traditional lanterns or kites, for example. Flying kites or running on the sidewalks of Vietnamese villages is a very calm and soothing experience. You can also attend cooking classes for traditional Vietnamese meals."
        }, {
          style: "Family Vacation",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Visiting the highlight attractions",
          content: "Laos has many amazing sights, from stunning natural scenery to the country's profound cultural heritage. Therefore, spending a day exploring the finest that each city has to offer will be a fun experience that will assist travelers of all ages in better understanding the location they are visiting. These include the capital city of Vientiane, the UNESCO World Heritage site of Luang Prabang, the Patuxai Victory Monument, numerous well-known and revered temples like the Pha That Luang Stupa, Ho Phra Kaew, and Wat Si Saket, and the Lao National Museum, and more."
        }, {
          style: "Family Vacation",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Fun & educational experience on the farm",
          content: "Becoming a rice farmer while traveling might be an exciting and unique activity for the whole family. Through participation in this one-of-a-kind activity, you will gain an in-depth understanding of the local rice production process and experience it firsthand. Rice is the ultimate foundation of everyday life in Asia, especially in Laos. Yet, the traditional methods of cultivating and growing rice continue to surprise many tourists who visit the region. Your child will be able to obtain valuable educational experience while working on the farm and gain a better understanding of the daily life of a farmer. Working in the fields like the local farmer is guaranteed to be a fun way to spend some time."
        }, {
          style: "Family Vacation",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Elephant Village Sanctuary in Luang Prabang",
          content: "The Elephant Village Sanctuary in Laos is a learning center committed to the conservation and preservation of Asian elephants in the region. This is a once-in-a-lifetime opportunity to get very close to some of the most incredible animals in the world and one of the most immersive, hands-on experiences the country has to offer. Throughout the tour, you will have the opportunity to participate in various fascinating activities, such as bathing the elephants and feeding them, visiting an elephant hospital or museum, hiking through the jungle, and seeing the stunning Tad Sae waterfall... Your children will have such a fun time since kids love animals. Also, the whole family will have an excellent time while experiencing Laos's rich cultural heritage up close and personal with the natural world and its wildlife."
        }, {
          style: "Family Vacation",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Unleash your inner Lara Croft at Ta Prohm",
          content: `
            Of the many temples in Cambodia, Ta Prohm is one that any child will want to see the most. It is because of the vast wave of the action-adventure film "Tomb Raider" with the participation of actress Angelina Jolie, which was filmed in this temple.

            This temple has been gradually attacked and conquered by the surrounding tropical jungle, and it resembles most of the Angkor structures when European explorers first discovered them. The systems are deteriorating, everything is coated in moss, and tall, ancient strangler figs have taken root within the walls. However, it creates a cinematic setting that your family will undoubtedly enjoy.

          `
        }, {
          style: "Family Vacation",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Take the Bamboo Train at Battambang",
          content: "Battambang is Cambodia\'s second most populous city, despite receiving fewer visitors and having a less touristy atmosphere than Siem Reap. Battambang was a part of French Indochina for many years, and as a result, it is famous for its French architecture and cosmopolitan atmosphere. This bamboo train is highly recommended for families traveling around the country. The train, which is fondly referred to as \" Norrie,\" is simply a bamboo platform balanced over two sets of wheels and driven by a motorcycle engine. It was initially utilized to great purpose in the days following the overthrow of the Khmer Rouge. It was a lifeline to villages that needed to move products throughout the country. The Khmer Rouge had been overthrown. As a result of the significant improvements made to the roads in recent years, the Norrie is now a unique tourist attraction."
        }, {
          style: "Family Vacation",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Visit Kep and Kampot",
          content: "Kep and Kampot are lovely southern Cambodian twin cities. You may snorkel at Rabbit Island, visit a butterfly farm, hike in the national park, and shop at the crab market in Kep. Kids enjoy watching the fisherman bring in the catch of the day and eating a large dish of fresh seafood at the market. Visitors to Kep are greeted by a statue of a waving crab. The French colonial power left delectable Parisian baguettes in bakeries. Kampot, a decaying yet attractive riverside colonial town, is also worth a visit. The Kampot pepper crab, a Cambodian dish originated here, may be sampled at the crab market. The village is famous for its rare black peppercorns. After touring the town, go to a pepper plantation and enjoy a river cruise in the early evening to see the firefly."
        }, {
          style: "Family Vacation",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Green Hill Valley Elephant Camp",
          content: "Green Hill Valley Elephant Camp is a very unique place that is efficiently run by Tin Win Maw who has been around elephants all of her life. This elephant sanctuary is all about taking care of the elephants, so guests can scrub, bathe and feed these gentle giants"
        }, {
          style: "Family Vacation",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Family Fun Yangon",
          content: "This tour will provide families with young children a different view of Yangon. Walking in the park and visiting the zoo and joining a fun hands-on handicrafts workshop suitable for the whole family. Visit a number of vibrant local markets in Yangon with a chance to take a fantastic family photo."
        }, {
          style: "Local Life",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Meditation in Sagaing",
          content: `
              Address: Tra Que village, Cam Ha Commune, 3 kilometers away from the center of Hoi An City to the Northwest.

              This well-known place to experience the most authentic, peaceful atmosphere of the Vietnamese countryside and learn how to grow and harvest vegetables like a real farmer. There is also the opportunity to learn how to make Banh Xeo - a traditional Vietnamese cake and enjoy it with various clean and fresh herbs from the garden.
          `
        }, {
          style: "Local Life",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Local life in Lac Village, Mai Chau",
          content: `
            Address: Mai Chau district, Hoa Binh province
            Lac Village in Mai Chau Hoa Binh is one of Vietnam's most popular community-based tourism destinations, as it is ideal for those seeking peace and relaxation. Mountains and forests and the rich and diverse Thai ethnic culture surround the charming natural atmosphere.
            Lac Village is famous as a community tourism model thanks to its many one-of-a-kind services and comfortable homestays. There are many fun things to do, like dancing, singing, having a campfire and meeting the locals.
          `
        }, {
          style: "Local Life",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Local life in Sin Suoi Ho Village, Lai Chau",
          content: `
            Address: Sin Suoi Ho commune, Phong Tho district, Lai Chau City
            Sin Suoi Ho is a Mong village in the mountains, and once you've been there, you'll want to stay for the rest of your life to enjoy the fresh air, slow pace, and pure environment.
            Regarding community-based tourism, Sin Suoi Ho village in Vietnam is unrivaled. Nearly 1,500 meters above sea level, this area has stunning natural scenery and a pleasant, mild climate throughout the year. Discover the culture of the H'Mong people, marvel at their beautiful yellow orchids, and study their intricate handiwork. The Mong way of life—one unspoiled by modern influences—remains intact in Sin Suoi Ho.
          `
        }, {
          style: "Local Life",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Rural life in Con Son, Can Tho",
          content: `
            Address: No. 10, Hai Ba Trung Street, Ninh Kieu District, Can Tho City.
            Visitors to Con Son get a taste of the simple, rustic beauty of rural living. Tourists can observe locals caring for and harvesting fruit, fish, and shrimp and can also ask questions about the process.
            Tourists can participate in fascinating fish, snails, and crab-catching activities. Then, from the ingredients in the garden, processing turned into irresistible country delicacies for tourists to enjoy.
          `
        }, {
          style: "Local Life",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Nalan Homestay “Khmu Village”",
          content: "At Nam Ha National Protected Area, you can explore the beautiful natural environment tucked away in the middle of the rainforest. Visitors have the opportunity to visit the Khmu people's village, where they can discover the Khmu people's way of life, culture, and customs, as well as partake in a wide selection of exciting tourist activities that the residents provide and even spend the night in Khmu people's homestay."
        }, {
          style: "Local Life",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Jungle Experience: Trek in Nam Ha National Protected Area",
          content: "During this adventure, guests will get the opportunity to stroll through the rainforest in Nam Ha NPA, where they will be led by a guide and taught about the valuable herbs and edible plants that grow in the forest. And how the native people who live here have adapted over the years to use the natural resources of the forest, such as how to cook in the bamboo pipe or banana leaves in the woods. Moreover, visitors can enjoy a picnic-style lunch in the forest in the style of the Kho Mu ethnic group."
        }, {
          style: "Local Life",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Jungle Safari Camp in Nam Ha NPA",
          content: "This is a once-in-a-lifetime opportunity to explore the wildest forest of Nam Ha NPA. A professional guide will lead you through your adventure, learning and experiencing rainforest survival techniques such as camping and making a traditional hunter's shelter from banana leaves and bamboo. Visitors can also immerse themselves in the lovely untamed surroundings and learn about medicinal herbs and wild animal stories here. You'll also be able to master fire-making and culinary techniques from the food you find along your journey, such as fishing or hunting frogs. This is an unparalleled opportunity to learn about human survival through realistic activities."
        }, {
          style: "Local Life",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Kayak Namtha River",
          content: "Guests will have the opportunity to kayak on the peaceful Namtha River before stopping to visit the Lantern people in Sop Tud village. While there, you will have the chance to meet the locals and learn about the culture of the Lantern people. Taking a moment to appreciate the breathtaking scenery that Nam Ha National Park has to offer. After that, you will have a picnic lunch by the river and enjoy authentic Lao dishes made with fresh ingredients."
        }, {
          style: "Local Life",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Prek Thnout River",
          content: 'Less than an hour from Kampot Town, at the base of the Bokor Mountain Range, you will find pristine, unspoiled nature, clean rivers, breathtaking evergreen forests, exotic wildlife (wild monkeys, birds, and peacocks), delicious local cuisine, tranquility, and traditional rural Cambodian village life. Visitors can participate in various activities here, like eating delectable local fare, strolling through the forest to the "Blue Water Pool,watching wild animals, learning about the local flora and vegetation, and visiting the factory making rattan furniture.'
        }, {
          style: "Local Life",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Thmatboey village",
          content: "Kulen Promtep Wildlife Sanctuary, located in the Northern Plains of Cambodia, is home to an uninhabited community known as Thmatboey. The site is the only known nesting ground for the Giant Ibis and the White-shouldered Ibis. Both are on the verge of extinction and support breeding populations vital to biodiversity conservation worldwide. Visitors have the opportunity to stroll through a diverse ecosystem that features open woodlands, meadows that are flooded seasonally, deciduous dipterocarp trees, and wetlands that are distributed throughout the landscape. Participate in engaging activities to explore, such as witnessing rare creatures, learning about the local people's forest survival lifestyle, trekking, and learning about the local culture on tour."
        }, {
          style: "Local Life",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Banteay Meanchey Town",
          content: "The Banteay Chhmar temple is an Angkorian structure from the 12th century. The Global Heritage Fund will restore the so-called \" Temple of the Cat,\" one of the city's most famous landmarks. It also features barays (rectangular water reservoirs) built during the Pol Pot era and those dating back to ancient times. Temples and barays are open to the public for sightseeing and picnicking. Women from the area will be responsible for cooking. In addition, visitors can experience rural life in the area via ox-cart, bicycle, or Koyun, chat with locals, and even spend the night in a rustic wooden guesthouse. There is also the Mekong Silk Center, where visitors may learn about the silk production process and purchase local goods."
        }, {
          style: "Local Life",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Koh Pdao island",
          content: "The world's last remaining population of freshwater dolphins can be found in the Mekong River on Koh Pdao. In addition to the stunning natural environment along the Mekong River, visitors can spot Irrawaddy dolphins swimming beside their boats. During the dry season, Kratie is home to breathtaking sunsets, a fascinating landscape along the Mekong River, and a pleasant river beach. Tourists can experience local Khmer culture by participating in traditional Khmer dances or cooking authentic Khmer cuisine. In addition, you can go on bike rides along the island, jungle hikes, and boat tours of the island. In addition, you can help out the locals by farming, playing sports (football or volleyball) with kids, teaching them English, digging fish and frog ponds, and making chicken and duck cages."
        }, {
          style: "Local Life",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Yangon Circular Train",
          content: "There is no better way to experience Yangon life than a ride on the city’s circular train. Ride the Yangon circle train for a slow journey through the suburban outskirts, observing scenes of daily life and meeting friendly locals."
        }, {
          style: "Local Life",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Village Life of Kyun Thiri Island",
          content: "Discover village life on a small and rarely visited island near Bagan. Meet the locals to get to know of local life and Burmese culture. Visit the typical farming village and monastery on an island for a glimpse of Myanmar’s spiritual side."
        }, {
          style: "Education Travel",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Themed school tours",
          content: "Special interest school expeditions that might require a focus on a specific subject such as music, history, art, geography and more."
        }, {
          style: "Education Travel",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Experiential learning through travel",
          content: "Trips designed to maximize cultural exposure by incorporating workshops, seminars and learning tours and nature diversity in national parks. organic farm visits, Rice farming,  Kayaking, Bamboo workshop, Cycling , Community Service / Charity work, Cooking classes, School engagement opportunities, Beach games, Surfing and more"
        }, {
          style: "Education Travel",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Service learning",
          content: "Thanks to our strong sustainable partnerships with local communities, we offer opportunities to learn and actively contribute."
        }, {
          style: "Education Travel",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Community health education",
          content: "To promote good health within marginalized communities, these itineraries are catered to medical and nursing students. Trekking, Community Service / Charity work, Farming: Rice, Corn, Cardamom, Vegetables, Cooking classes, Traditional fabric dying, Traditional paper making, Collecting traditional herbs and plants, Campfire BBQs, School engagement, Cycling, Traditional games, music and dance"
        }, {
          style: "Education Travel",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Charity challenges",
          content: "Trekking, Community Service / Charity work, Tea farming and production, Orchard visits, Dairy farming, Cooking classes, Campfire BBQs, School engagement opportunities, Traditional games, music and dance, Team building."
        }, {
          style: "Education Travel",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Themed school tours",
          content: "Special interest school expeditions that might require a focus on a specific subject such as music, history, art, geography and more."
        }, {
          style: "Education Travel",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Experiential learning through travel",
          content: "Trips designed to maximize cultural exposure by incorporating workshops, seminars and learning tours and nature diversity in national parks. organic farm visits, Rice farming,  Kayaking, Bamboo workshop, Cycling , Community Service / Charity work, Cooking classes, School engagement opportunities, Beach games, Surfing and more"
        }, {
          style: "Education Travel",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Service learning",
          content: "Thanks to our strong sustainable partnerships with local communities, we offer opportunities to learn and actively contribute."
        }, {
          style: "Education Travel",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Community health education",
          content: "To promote good health within marginalized communities, these itineraries are catered to medical and nursing students. Trekking, Community Service / Charity work, Farming: Rice, Corn, Cardamom, Vegetables, Cooking classes, Traditional fabric dying, Traditional paper making, Collecting traditional herbs and plants, Campfire BBQs, School engagement, Cycling, Traditional games, music and dance"
        }, {
          style: "Education Travel",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Charity challenges",
          content: "Trekking, Community Service / Charity work, Tea farming and production, Orchard visits, Dairy farming, Cooking classes, Campfire BBQs, School engagement opportunities, Traditional games, music and dance, Team building."
        }, {
          style: "Education Travel",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Themed school tours",
          content: "Special interest school expeditions that might require a focus on a specific subject such as music, history, art, geography and more."
        }, {
          style: "Education Travel",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Experiential learning through travel",
          content: "Trips designed to maximize cultural exposure by incorporating workshops, seminars and learning tours and nature diversity in national parks. organic farm visits, Rice farming,  Kayaking, Bamboo workshop, Cycling , Community Service / Charity work, Cooking classes, School engagement opportunities, Beach games, Surfing and more"
        }, {
          style: "Education Travel",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Service learning",
          content: "Thanks to our strong sustainable partnerships with local communities, we offer opportunities to learn and actively contribute."
        }, {
          style: "Education Travel",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Community health education",
          content: "To promote good health within marginalized communities, these itineraries are catered to medical and nursing students. Trekking, Community Service / Charity work, Farming: Rice, Corn, Cardamom, Vegetables, Cooking classes, Traditional fabric dying, Traditional paper making, Collecting traditional herbs and plants, Campfire BBQs, School engagement, Cycling, Traditional games, music and dance"
        }, {
          style: "Education Travel",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Charity challenges",
          content: "Trekking, Community Service / Charity work, Tea farming and production, Orchard visits, Dairy farming, Cooking classes, Campfire BBQs, School engagement opportunities, Traditional games, music and dance, Team building."
        }, {
          style: "Honeymoon package",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Sweet moment in Vietnam tour",
          content: `
            -        Surprising Honeymoon settings & explore Halong Bay's unusually picturesque beauty with rocks and islets, beaches and hollow islands.
            -        Visit major landmarks of Hanoi city and enjoy an exciting show of Water Puppetry.
            -        Discover the old royal architectural works in Hue, which has got the most traditional Vietnamese lifestyle.
            -        Strolling through riverside streets of Hoian Ancient Town & relax by the beaches in Nha Trang – one of 29 most beautiful bays in the world or by the beaches in Phu Quoc Island - voted to be one of “the cleanest and beautiful beaches of the world” by ABC News.
            -        Wander around the hectic hub of Saigon and glide through the waterways of the Mekong Delta, enjoying the slow rhythm of life
          `
        }, {
          style: "Honeymoon package",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Unique Honeymoon in Cambodia tour",
          content: `
            -        Surprising Honeymoon settings at hotels/unique places.
            -        Visit the impressive colorful Khmer-style royal palace complex.
            -        Get an experience of daily life on Tonle Sap Lake, taking a boat trip with your beloved one.
            -        Get lost in the dreamy ruins of renowned Angkor Wat and surrounding temples, enjoy a memorable hilltop sunset.
            -        Experience nature running riot at the mysterious ruin of Ta Prohm.
            -        Enjoy time at the vibrant Angkor night market.
          `
        }, {
          style: "Honeymoon package",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Romantic Journey in Laos tour",
          content: `
            -        A paradise of unbelievable beauty of jungles and limestone cliffs for anyone who is keen on avoiding the crowds.
            -        Surprising Honeymoon settings at hotels/unique places.
            -        Explore Vientiane - a charming and fascinating capital, with an interesting mix of Lao, Thai, Chinese, Vietnamese, French, Soviet and American influences
            -        Explore the tranquil and verdant countryside town of Vang Vieng, drifting past mountains along a gentle river.
            -        Discover Luang Prabang - considered as the best-preserved traditional city in Southeast Asia.
          `
        }, {
          style: "Off The Beaten Track",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Discover Puluong Nature Reserve",
          content: "One glance at the Pu Luong Nature Reserve and you’ll see why the ethnic Thai people made this enchanting valley their home long ago. The slow pace in Pu Luong is a striking contrast to life in the capital just a few hours away. Endless mountains, rice terraced field valleys and pristine jungle are just a few good reasons to visit."
        }, {
          style: "Off The Beaten Track",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Explore Cat Tien National Park",
          content: "Cat Tien National Park is well-known by bird watchers for the rare and diverse species found there but is generally undiscovered by travelers. The park has incredible biodiversity, excellent hiking, and there are primate and bear sanctuaries, both of which are open to visitors."
        }, {
          style: "Off The Beaten Track",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Jeep Tour Hanoi",
          content: "Experience the sights, sounds, and smells of Hanoi in a unique way as you explore the city in a Soviet-era GAZ-69 jeep. See a mix of city highlights and hidden gems in the capital of Vietnam and learn about the country’s history from your guide. Choose from morning, afternoon, or evening tours and enjoy a delicious street food meal and drink at a rooftop bar included in your package."
        }, {
          style: "Off The Beaten Track",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Saigon Scooter Food Tour",
          content: "If there’s one absolute must-do in Saigon, it’s a local food tour: The knowledge gained on a good culinary tour sets you up for your entire vacation. Prepare yourself for an evening scooter food tour, experience the city by night on a motorbike (with a designated driver), get an intimate look at local life, and sample street food classics straight from the vendors."
        }, {
          style: "Off The Beaten Track",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Discover An Binh Island",
          content: "An Binh Islet is the green tourism site in Vinh Long attracting tourists with cultural features of the waters. Explore the island on a bicycle, cycling between pretty orchards, palm trees, and through traditional villages. Roam along the waters, visit the fruit orchards, hand-pick and enjoy the fruits as local specialties such as jackfruit, durian, longan, plum, rambutan... and also take them as gifts for friends and family. "
        }, {
          style: "Off The Beaten Track",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Mekong Delta By Speed Boat",
          content: "Cruising along the Saigon River into the Mekong Delta area by VIP and luxury speedboat is absolutely unique. On the way, you will enjoy the fresh air of the daily lives of local citizens living along the river banks. Visit the local market for the rest stop and discover local daily life, and try some typical fruits. traditional music, cycling on village roads, rowing a boat, savoring honey tea, riding on Vietnam Lambro Tuk Tuk, and visiting a coconut candy factory. A lunch in traditional Vietnamese style will astound you."
        }, {
          style: "Off The Beaten Track",
          country: "VIETNAM",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Saigon Sunset Cocktail Boat Trip",
          content: "Get away from other busy spots of the city to enjoy your real life by watching the magical sunset and the charming Saigon River in a luxury speedboat in the late evening. Get a chance to explore beautiful landscapes, enjoy the fresh air, and understand the daily lives of local citizens living along the river banks. When the sun goes down, the city will be lit up with lights from the city, showing you a totally different face of crowded Saigon."
        }, {
          style: "Off The Beaten Track",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Sunset Dinner Cruise in Phnom Penh",
          content: "On this 2-hour dinner cruise, enjoy the sunset, listen to live traditional Khmer music, coast past floating villages, see the Royal Palace, and marvel at the Phnom Penh skyline from a different perspective. Have a chance to enter the point where the Tonle Sap, Mekong, and Bassac rivers meet. The Khmer and Western all-you-can-eat BBQ buffet is prepared on the boat using fresh, local, organic ingredients with no chemicals, and includes vegetarian and vegan options. "
        }, {
          style: "Off The Beaten Track",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Enjoy Dinner On Tara Boat",
          content: "Board the legendary Queen Tara, one of the biggest floating restaurants in Siem Reap, and share a romantic evening with your loved ones when you embark on the Queen Tara sunset cruise in Siem. Enjoy unlimited drinks with your friends and family while admiring the magnificent Tonle Sap and seeing the floating villages in the middle of the great lake."
        }, {
          style: "Off The Beaten Track",
          country: "CAMBODIA",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Helicopter experience in Angkor Wat",
          content: "For the ultimate luxury experience in Cambodia, try a helicopter ride for spectacular views over Siem Reap and the Angkor Complex. From the helicopter, the magical Angkor complex will leave you speechless."
        }, {
          style: "Off The Beaten Track",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Try the Gibbon Experience",
          content: "Being renowned for the world’s highest tree houses, the Gibbon Experience is a tourism based project located in Bokeo Province. Travellers may fly through jungles via zip lines and stay overnight in the tree houses as part of the journey to search for gibbons. The experience is truly amazing and adventurous. "
        }, {
          style: "Off The Beaten Track",
          country: "LAOS",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Canoe through a 7-km cave",
          content: "Tham Kong Lor Cave is an impressive natural masterpiece located at the Phu Hin Bun National Park. The Phu Hin Bun rivers flow through the cave, and visitors can canoe through it and discover the emerald pond hidden deep inside. The pond is believed to have a connection with the Hindu God, Indra. "
        }, {
          style: "Off The Beaten Track",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Irrawaddy River Sunset cocktail",
          content: "Cruise along the Irrawaddy River, enjoying magnificent views of the temples of Bagan as the sun begins to set. Sit back, relax and enjoy a refreshing Myanmar Beer or soft drink while enjoying the sunset view from the boat."
        }, {
          style: "Off The Beaten Track",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Balloon Over Inle Lake",
          content: "The stunning natural beauty of Inle Lake is with the Balloon experience over Inle Lake. Fly high over the lake and the surrounding hills during a luxury hot air ballooning experience."
        }, {
          style: "Off The Beaten Track",
          country: "MYANMAR",
          img: "https://cdn.builder.io/api/v1/image/assets/TEMP/0862840e-4635-4cf2-b920-003970290f84?apiKey=b4655bf8d56943228c825aef8f09662b&width=800",
          title: "Canoe Ride through Villages",
          content: "Inle Canoe Lady (Boutique Canoe Service) is an innovative and responsible tourism product at Inle lake by giving the boutique canoe service for all travelers to visit the Pauk Par village. There are thirty women who row with Inle Canoe Lady. Their mission is to promote inclusive and sustainable tourism in Pauk Par Village and promote female empowerment in Inle region, Shan State."
        }
      ];

      // Function to update the filtered content
      function updateFilteredContent() {
        var styleFilter = $("#styleFilter").val();
        var countryFilter = $("#countryFilter").val();

        var filteredItems = itemList.filter(function (item) {
          return (styleFilter === "all" || item.style === styleFilter) && (countryFilter === "all" || item.country === countryFilter);
        });

        var content = "";
        filteredItems.forEach(function (item) {
          content += '<div class="col-md-4">';
          content += '<div class="travel-item">';
          content += '<div class="travel-item__thumb">';
          content += '<img loading="lazy" src="' + item.img + '" class="aspect-[1.31] object-contain object-center w-full shadow-lg overflow-hidden" alt="thumb" />';
          content += '</div>';
          content += '<div class="travel-item__info">';
          content += '<div class="travel-item__title">' + item.title + '</div>';
          content += '<div class="travel-item__subtitle">' + item.content + '</div>';
          content += '</div>';
          content += '</div>';
          content += '</div>';
        });

        $("#filteredContent").html(content);
      }

      // Event handlers for dropdown changes
      $("#styleFilter, #countryFilter").change(function () {
        updateFilteredContent();
      });

      // Initial update
      updateFilteredContent();
    });
  </script>
{% endblock %}