{% extends "layouts/default.html" %}
{% set pageTitle = 'Mice' %}
{% set bodyClasses = '' %}
{% block content %}
  {% include "include/mice/index.html" %}
{% endblock %}

{% block js %}
  <script>
    let slidesToShow = 4;
    if (window.innerWidth < 1200) {
      slidesToShow = 3;
    } 
    if (window.innerWidth <= 768) {
      slidesToShow = 2;
    } 
    if (window.innerWidth <= 576) {
      slidesToShow = 1;
    } 

    $(document).ready(function () {
      $(".mice-secret .mice-slide").slick({
        slidesToShow: slidesToShow,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 10000,
        prevArrow: $(".prev-btn"),
        nextArrow: $(".next-btn"),
      });
    });
  </script>
{% endblock %}