{% extends "layouts/default.html" %}
{% set pageTitle = 'Tour' %}
{% set bodyClasses = '' %}
{% block content %}
  {% include "include/tour/index.html" %}
{% endblock %}

{% block js %}
  <script>
    let slidesToShow = 3;
    if (window.innerWidth < 768) {
      slidesToShow = 2;
    } 
    if (window.innerWidth < 576) {
      slidesToShow = 1;
    } 
    $(document).ready(function () {
      $(".slider").slick({
        slidesToShow: slidesToShow,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 10000,
        prevArrow: $(".prev-btn"),
        nextArrow: $(".next-btn"),
      });

      $(".similar-tour-slider").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 10000,
        prevArrow: $(".prev-btn1"),
        nextArrow: $(".next-btn1"),
      });
    });
  </script>
{% endblock %}