{% extends "layouts/default.html" %}
{% set pageTitle = 'What Define Us' %}
{% set bodyClasses = '' %}
{% block content %}
  {% include "include/what-define-us/index.html" %}
{% endblock %}

{% block js %}
  <script>
    $(".slider-vision").slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      prevArrow: $('.prev-btn-vision'),
      nextArrow: $('.next-btn-vision')
    });

    $(".slide-people").slick({
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      centerPadding: '20px',
      prevArrow: $('.prev-btn-people'),
      nextArrow: $('.next-btn-people'),
      responsive: [
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            centerPadding: '0'
          }
        }, {
          breakpoint: 767,
          settings: {
            slidesToShow: 1.1
          }
        }, {
          breakpoint: 350,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  </script>
{% endblock %}