<div class="viet-nam__culture container pt-5 mb-5">
  <div class="row m-md-5">
    <div class="col-lg-6 col-12 p-4">
      <img class="w-100" src="./assets/img/myanmar-map.png" alt="myanmar-map" usemap="#image-map-myanmar">
      <map name="image-map-myanmar">
        <area class="pointer" target="" alt="" title="YANGON" coords="NaN" shape="circle">
        <area class="pointer" target="" alt="" title="BAGAN" coords="182,282,21" shape="circle">
        <area class="pointer" target="" alt="" title="MANDALAY" coords="242,257,23" shape="circle">
        <area class="pointer" target="" alt="" title="INLE LAKE AND KALAW TREK" coords="254,299,21" shape="circle">
        <area class="pointer" target="" alt="" title="GOLDEN ROCK AND THE SOUTHEAST MYANMAR" coords="NaN" shape="circle">
    </map>
    </div>
    <div class="viet-nam__culture--intro col-lg-6 col-12">
      <img class="w-100" src="./assets/img/Rectangle 295 (8).png" alt="#">
      <div class="px-3 mb-4">
        <h6 class="title fz-14 font-weight-bold">BAGAN</h6>
        <p class="description">
          Most tourists will plan to visit both of these treasures of Myanmar, and the connection between the two cities is easy and convenient now not only by air. Stretching over 41,000sq km with 4,000 thousand relics, BAGAN is an irresistible attraction, where every temple or stupa is a unique piece of art and belongs to a different time, so the masters had made them diverse with their own creativeness. At sunrises and sunsets, visitors can contemplate the sun hanging over a horizon, prolonging above thousands of stupas and temples; many tourists will also wait for the high season to book an expensive balloon to get the best view here.
        </p>
      </div>
      <div class="row px-3 ">
        <div class="info_1 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (1).png" alt="#">
          <p>Using bikes or horse-carts instead of vehicles in order to keep the area clean, quiet and not to scare the locals’ cattle.</p>
        </div>
        <div class="info_2 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (2).png" alt="#">
          <p>Staying at a hotel near the river, enjoying local food with the locals, strolling around Nyang-U and visiting Swezigon pagoda at sunset time.</p>
        </div>
        <div class="info_3 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (3).png" alt="#">
          <p>Giving jobs to the locals by traveling to/from Mandalay via night deluxe bus, or riverway when possible, instead of flights.</p>
        </div>
        <div class="info_4 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (4).png" alt="#">
          <p>Great place for meditation, religious tours, education tours and theme tours about fine-arts.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="viet-nam__culture--trending d-flex flex-column align-items-center">
    <h4 class="fz-24 mb-4">TRENDING NOW</h4>
    <div class="d-flex">
      <img class="px-3 pointer" src="./assets/img/icon-youtube.png" alt="icon youtube">
      <img class="px-3 pointer" src="./assets/img/icon-insta.png" alt="icon instagram">
      <img class="px-3 pointer" src="./assets/img/icon-fb.png" alt="icon facebook">
      <img class="px-3 pointer" src="./assets/img/icon-linkin.png" alt="icon linkin">
      <img class="px-3 pointer" src="./assets/img/icon-twitter.png" alt="icon twitter">
    </div>
  </div>
</div>