<div class="viet-nam__description container py-5">
  <p class="mb-4">Being famous to the world as ''The Golden Land'' for its fertile land, wealth of minerals, distinctive culture and 2,600 years of Buddhist civilization, Myanmar possesses too many ''golden'' treasures to combine in just one visit.</p>
  <img class="w-100" src="./assets/img/Rectangle 295 (7).png" alt="Rectangle 295 (7)">
</div>