<div class="viet-nam__overview container">
  <div class="viet-nam__overview--heading d-flex mb-3 pb-1">
    <h2 class="fz-18">WHY <br> <span class="fz-24">MYANMAR</span></h2>
    <img src="./assets/img/flag-myanmar.png" alt="flag-myanmar" class="ml-3">
  </div>

  <div class="viet-nam__overview--content">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="item position-relative mb-4">
          <img class="w-100 h-100" src="./assets/img/Frame 1000001790 (4).png" alt="content">
          <div class="info position-absolute">
            <h4 class="font-weight-bold fz-18">Nature</h4>
            <p>Over 3000 km coastline and the tropical weather, numerous all year-round sunny white sand beaches, diversified natures with mountains, national parks, nature reserves, bays, caves</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="item position-relative mb-4">
          <img class="w-100 h-100" src="./assets/img/Frame 1000001792 (4).png" alt="content">
          <div class="info position-absolute">
            <h4 class="font-weight-bold fz-18">History</h4>
            <p>Thousands of years of civilization, reigned by many feudal dynasties until the first half of 20th Century, went through wars from both internal and external. The country reunited & the peace was set throughout the territory completely in 1975.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="item position-relative mb-4">
          <img class="w-100 h-100" src="./assets/img/Frame 1000001793 (2).png" alt="content">
          <div class="info position-absolute">
            <h4 class="font-weight-bold fz-18">Culture</h4>
            <p>54 ethnic groups with diverse customs and culture, long-held traditions in which Viet is the majority group. Life differs between cities, countryside and mountainous areas yet people are all friendly, helpful and hospitable.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="item position-relative mb-4">
          <img class="w-100 h-100" src="./assets/img/Frame 1000001790 (5).png" alt="content">
          <div class="info position-absolute">
            <h4 class="font-weight-bold fz-18">Architecture</h4>
            <p>French colonial architecture remains: the government buildings, mansions & villas, city opera houses, bridge, churches and cathedrals, post office, or tree-lined boulevards found in major cities like Hanoi & Ho Chi Minh City together with blocked buildings & skyscrapers. Traditional architecture at many local villages in Hue & Hoi An while house-on-stilts are home to mountainous ethnic people.</p>
          </div>
      </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="item position-relative mb-4">
          <img class="w-100 h-100" src="./assets/img/Frame 1000001792 (5).png" alt="content">
          <div class="info position-absolute">
            <h4 class="font-weight-bold fz-18">Food</h4>
            <p>A variety of choices for food from local cuisine to Asian cuisine (Japanese, Korean, Chinese, Malaysian, Indian), Middle East’s (Lebanese, Turkish) and Western cuisine (Spanish, Italian, French) together with multiple fast food brands such as KFC, Mc Donald’s, Loteria,…</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>