<div class="viet-nam__weather position-relative">
  <img src="./assets/img/FAQs.png" class="d-block w-100 background" alt="weather" />
  <div class="viet-nam__weather--breadcrumbs position-absolute d-flex align-items-center">
    <hr>
    <div class="items text-white fz-16">
      <span class="weather-tab pointer px-4 active">Weather</span>
       / 
      <span class="quick-facts-tab pointer px-4">Quick facts</span>
       / 
      <span class="faq-tab pointer px-4">Useful FAQs</span>
    </div>
  </div>
  <div class="viet-nam__weather--content position-absolute p-lg-5 p-4 text-white fz-18 font-weight-bold">
    <div class="weather d-none d-block">
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          REGION
        </h3>
        <p class="text-center px-4">1 <br> JAN</p>
        <p class="text-center px-4">2 <br> FEB</p>
        <p class="text-center px-4">3 <br> MAR</p>
        <p class="text-center px-4">4 <br> APR</p>
        <p class="text-center px-4">5 <br> MAY</p>
        <p class="text-center px-4">6 <br> JUN</p>
        <p class="text-center px-4">7 <br> JUL</p>
        <p class="text-center px-4">8 <br> AUG</p>
        <p class="text-center px-4">9 <br> SEP</p>
        <p class="text-center px-4">10 <br> OCT</p>
        <p class="text-center px-4">11 <br> NOV</p>
        <p class="text-center px-4">12 <br> DEC</p>
      </div>
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          YANGON
        </h3>
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun.png" alt="rain">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
      </div>
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          MANDALAY <br> BAGAN / INLE
        </h3>
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/sun.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
      </div>
            <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          BEACHES
        </h3>
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
      </div>
    </div>
    <div class="quick-facts d-none">
      <div class="row">
        <div class="col-6">
          <div class="capital d-flex mb-3">
            <h3>CAPITAL:</h3>
            <span class="pl-2">Naypyidaw</span>
          </div>
          <div class="language mb-3 d-flex">
            <h3>LANGUAGE:</h3>
            <span class="pl-2">Burmese</span>
          </div>
          <div class="population mb-3">
            <h3>POPULATION:</h3>
            <div class="d-flex align-items-center">
              <h1>53.37</h1>
              <span>million <br> (2018)</span>
            </div>
          </div>
          <div class="area mb-3">
            <h3>AREA:</h3>
            <div class="d-flex align-items-center">
              <h1>676,578</h1>
              <span>km2</span>
            </div>
          </div>
          <div class="coordinates mb-3 d-flex">
            <h3>CURRENCY:</h3>
            <span class="pl-2">Myanmar Kyat (1 US$ = 1459.40 Kyat, Jan 2020)</span>
          </div>
          <div class="religion mb-3">
            <h3>RELIGION:</h3>
            <span>Buddhist (87.9%), Christian (6.2%), Muslim (4.3%), Hindu (0.5%), Animist (0.8%) and others (0.2%)</span>
          </div>
        </div>
        <div class="col-6">
          <div class="coordinates mb-3 d-flex">
            <h3>COORDINATES:</h3>
            <span class="pl-2">116’00 N, 106’00 E</span>
          </div>
          <div class="electricity mb-3">
            <h3>ELECTRICITY:</h3>
            <span>Between</span>
            <div class="d-flex align-items-center">
              <h1>230</h1>
              <span>Volt <br> 50 Hz</span>
            </div>
          </div>
          <div class="religion mb-3">
            <h3>TIME ZONE:</h3>
            <div class="d-flex align-items-center">
              <h1>GMT+6:30</h1>
              <span>Hours</span>
            </div>
            <span>Daylight saving time (DST) is not implemented in Myanmar.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="faq p-lg-5 d-none p-4 w-100">
      <div class="item">
        <div class="d-none d-block i1">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Visa for Myanmar</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-visa-viet-nam" aria-expanded="false" aria-controls="faq-visa-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-visa-viet-nam">
            There is an E visa service available, but it is only for single entry visas obtained through Myanmar's airports and not through border crossings or seaports. Tourists can stay in Myanmar for a maximum of 28 days during their 90-day visa's validity. There is some misunderstanding regarding the real policy in place, therefore it is crucial that travelers considering a trip to Myanmar double-check the specifics before they embark for the country. Visas on arrival have resumed at airports.
          </p>
        </div>
        <div class="d-none i2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Best time to visit Myanmar</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-best-time" aria-expanded="false" aria-controls="faq-best-time" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-best-time">
            The dry season, between October and May, is the ideal time to explore Myanmar. Travel is varied and gratifying because the entire nation is accessible, the temples sparkle, and the beaches are uncrowded.
          </p>
        </div>
        <div class="d-none i3">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Dress code</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-dess-code" aria-expanded="false" aria-controls="faq-dess-code" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-dess-code">
            Don't wear shorts, miniskirts, or bare shoulders when visiting sacred sites. At times, like when you enter a temple, you will have to take your shoes off. You should never turn your back on a Buddha statue or image.
          </p>
        </div>
        <div class="d-none i4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Emergency contact</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-emergency" aria-expanded="false" aria-controls="faq-emergency" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-emergency">
            If there is an issue, if possible, get in touch with your Embassy like passport loss. Due to the low salary of police, obtaining a report may require filing an insurance claim, possibly paying a bribe, and having a translation on hand as few police officers will be able to speak English. There is little doubt that the health facilities in urban centers like Mandalay, Bagan, and Yangon are significantly superior to those in rural regions.
          </p>
        </div>
        <div class="d-none i5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Safety in Myanmar</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-safety-viet-nam" aria-expanded="false" aria-controls="faq-safety-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-safety-viet-nam">
            To be advised.
          </p>
        </div>
        <div class="d-none i6">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Health advices</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-health-advices" aria-expanded="false" aria-controls="faq-health-advices" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-health-advices">
            - Drink plenty of fluids during the day (2 liters).
            <br>
            - Do not drink tap water in Vietnam. Only bottled water is drinkable.
            <br>
            - Wash your hands frequently
            <br>
            - Avoid eating unpeeled fruit or raw vegetables and ice.
            <br>
            - Most important: trust your gut feeling. If you don’t like your food, stop eating and do a double check when eating from street vendors.
          </p>
        </div>
        <div class="d-none i7">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Do and don’t in Vietnam</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-do-dont" aria-expanded="false" aria-controls="faq-do-dont" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-do-dont">
            Do
            <br>
            <span class="pl-3 d-block pt-1">
              - Dress modestly, especially while visiting places of worship like monasteries and pagodas.
              <br>
              - Prioritize serving the elderly.
              <br>
              - Always treat monks, nuns, and novices with respect.
              <br>
              - Use both hands to give and receive things.
              <br>
              - Make a small bow when you pass older people.
              <br>
              - Take care when shooting pictures so as not to upset anyone
              <br>
              - Directly tipping those you believe deserve it will ensure that your money reaches the intended recipient.
            </span>
            <br>
            Don’t
            <br>
            <span class="pl-3 d-block pt-1">
            - Position yourself in a seat facing a Buddha image.
            <br>
            - Carelessly handle a Buddha statue
            <br>
            - If you're a woman, avoid touching monks.
            <br>
            - Step on a monk's shadow.
            <br>
            - Don't touch anyone's head
            <br>
            - Let your feet be in any noticeable position
            <br>
            - Point at individuals, particularly in front of their faces.
            <br>
            - Participate in gambling.
            <br>
            - Engage in civil discourse about religion or politics.
            <br>
            - If you are unsure of the source of the water, drink bottled water or accept ice in your beverage.
            </span>
          </p>
        </div>
      </div>
      <div class="pagination fz-14 d-flex mt-3">
        <div class="px-3 py-2 pointer p1 active">1.</div>
        <div class="px-3 py-2 pointer p2">2.</div>
        <div class="px-3 py-2 pointer p3">3.</div>
        <div class="px-3 py-2 pointer p4">4.</div>
        <div class="px-3 py-2 pointer p5">5.</div>
        <div class="px-3 py-2 pointer p6">6.</div>
        <div class="px-3 py-2 pointer p7">7.</div>
      </div>
    </div>
  </div>
</div>