<div class="tour__glance container py-5">
  <div class="heading d-flex justify-content-center mb-5">
    <h2 class="heading-title-main">AT A GLANCE</h2>
  </div>
  <div class="tour__glance--list">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (13).png" alt="">
            <h4 class="fz-16 font-weight-bold">MEALS</h4>
          </div>
          <div class="description fz-14">
            13 x Breakfasts
            <br>
            11 x Lunches
            <br>
            10 x Dinners
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (14).png" alt="">
            <h4 class="fz-16 font-weight-bold">TRANSPORT</h4>
          </div>
          <div class="description fz-14">
            Overnight train, a domestic flight and boats in the Mekong Delta and HalongBay
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (15).png" alt="">
            <h4 class="fz-16 font-weight-bold">GROUP SIZE</h4>
          </div>
          <div class="description fz-14">
            Maximum: 12
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (16).png" alt="">
            <h4 class="fz-16 font-weight-bold">EXPERT TEAM</h4>
          </div>
          <div class="description fz-14">
            The full services of a Wild Frontiers Tour Leader with local guides where appropriate
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (17).png" alt="">
            <h4 class="fz-16 font-weight-bold">ACCOMMODATION</h4>
          </div>
          <div class="description fz-14">
            All accommodation as outlined in the itinerary
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (18).png" alt="">
            <h4 class="fz-16 font-weight-bold">ENTRANCE FEES</h4>
          </div>
          <div class="description fz-14">
            All entrance fees for sights mentioned in the itinerary
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (19).png" alt="">
            <h4 class="fz-16 font-weight-bold">FITNESS RATING</h4>
          </div>
          <div class="description fz-14">
            Low / Moderate
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6 mb-5">
        <div class="item p-md-4 p-3">
          <div class="title">
            <img class="mb-2" src="./assets/img/Group 5 (20).png" alt="">
            <h4 class="fz-16 font-weight-bold">WILD MILES</h4>
          </div>
          <div class="description fz-14">
            This tour will earn you 11494 Wild Miles
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
