<div class="tour__highlights container py-5">
  <div class="heading d-flex justify-content-center mb-4">
    <h2 class="heading-title-main">HIGHLIGHTS</h2>
  </div>
  <div class="position-relative">
    <div class="slider p-3">
      <div class="slider-item p-2 m-3">
        <img class="w-100" src="./assets/img/Rectangle 295 (13).png" alt="">
        <p>Stay aboard an overnight train and a Bhaya cruise around world-renown Halong Bay</p>
      </div>
      <div class="slider-item p-2 m-3">
        <img class="w-100" src="./assets/img/Rectangle 295 (14).png" alt="">
        <p>Overnight in the Mekong Delta, surrounded by daily life on the river with floating markets and villages nearby</p>
      </div>
      <div class="slider-item p-2 m-3">
        <img class="w-100" src="./assets/img/Rectangle 295 (13).png" alt="">
        <p>Stay aboard an overnight train and a Bhaya cruise around world-renown Halong Bay</p>
      </div>
      <div class="slider-item p-2 m-3">
        <img class="w-100" src="./assets/img/Rectangle 295 (15).png" alt="">
        <p>Discover well-preversed buildings and unique cuisine in the market town of Hoi An, a Vietnamese gemy</p>
      </div>
      <div class="slider-item p-2 m-3">
        <img class="w-100" src="./assets/img/Rectangle 295 (13).png" alt="">
        <p>Stay aboard an overnight train and a Bhaya cruise around world-renown Halong Bay</p>
      </div>
      <div class="slider-item p-2 m-3">
        <img class="w-100" src="./assets/img/Rectangle 295 (15).png" alt="">
        <p>Discover well-preversed buildings and unique cuisine in the market town of Hoi An, a Vietnamese gemy</p>
      </div>
    </div>
    <div class="position-absolute prev-btn">
      <img src="./assets/img/previous.png" alt="previous">
    </div>
    <div class="position-absolute next-btn">
      <img src="./assets/img/next.png" alt="next">
    </div>
  </div>
</div>