<div class="tour__itinerary container py-5">
  <div class="heading d-flex justify-content-center mb-5">
    <h2 class="heading-title-main">ITINERARY</h2>
  </div>
  <div class="tour__itinerary--details">
    <div class="schedule mb-5">
      <div class="map-pin mb-4">
        <div class="title d-flex align-items-center fz-18 mb-1">
          <div class="image">
            <img src="./assets/img/map-pin.png" alt="map-pin">
          </div>
          <p>VIETNAM</p>
        </div>
        <div class="description pt-2">
          <div class="font-weight-bold fz-14 text-uppercase px-3 py-2">
            Start the tour from Vietnam
          </div>
        </div>
      </div>
      <div class="map-pin mb-4">
        <div class="title d-flex align-items-center fz-18 mb-1">
          <div class="image">
            <img src="./assets/img/Group 453 (1).png" alt="map-pin">
          </div>
          <p>Day 1. Hanoi </p>&nbsp;<span class="fz-14">( Arrival )</span>
        </div>
        <div class="description pt-2">
          <div class="bg-white">
            Arrival in <b>Hanoi</b> . We welcome and transfer you to hotel. Rest of the day is your leisure time to explore the city on your own
            <div class="d-flex">
              <img class="pr-3" src="./assets/img/Group 453.png" alt="Group 453">
              Overnight in Hanoi.
            </div>
          </div>
        </div>
      </div>
      <div class="map-pin mb-4">
        <div class="title d-flex align-items-center fz-18 mb-1">
          <div class="image">
            <img src="./assets/img/Group 453 (2).png" alt="map-pin">
          </div>
          <p>Day 2. Hanoi ➟ Halong Bay</p>
        </div>
        <div class="description pt-2">
          <div class="bg-white">
            Morning, enjoy breakfast at hotel and depart for Halong Bay at approximately 8:00am,
            <br>
            Upon arrival i Halong Bay, we still board the vessel and partake in a delectable lunch. During the meal, we still cruise through thousands of stunning islands and islets. Following lunch, you may freshen up in your room before embraking on a visit to the Suprising Cave, kayaking, swimming, and other activities. Later, return to the vessel, get a drink and enjoy a picturesque sunset scenery in the bay. <span class="pointer color-blue">Halong photo.</span>
            <div class="d-flex">
              <img class="pr-3" src="./assets/img/Group 453.png" alt="Group 453">
              Overnight on boat in &nbsp;<b>Halong Bay.</b>
              <div class="d-flex">
                <img class="px-3" src="./assets/img/Group 454.png" alt="Group 454 ">
                B, L, D
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-pin mb-4">
        <div class="title d-flex align-items-center fz-18 mb-1">
          <div class="image">
            <img src="./assets/img/Group 453 (2).png" alt="map-pin">
          </div>
          <p>Day 3. Halong Bay ➟ Hanoi</p>
        </div>
        <div class="description pt-2">
          <div class="bg-white">
            In the morning, breakfast will be served on board. We will then proceed to cruise to a Pearl Farm village and continue exploring the enchanting <b>Halong Bay</b>, navigating through numerous captivating islands and islets.
            <br>
            Druing lunch on board, we will make our way back to the pier before transferring back to Hanoi.
            <div class="d-flex">
              <img class="pr-3" src="./assets/img/Group 453.png" alt="Group 453">
              Overnight in &nbsp;<b>Hanoi.</b>
              <div class="d-flex">
                <img class="px-3" src="./assets/img/Group 454.png" alt="Group 454 ">
                B, L
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-pin mb-4">
        <div class="title d-flex align-items-center fz-18 mb-1">
          <div class="image">
            <img src="./assets/img/Group 453 (4).png" alt="map-pin">
          </div>
          <p>Day 4. Hanoi ➟ Ho Chi Minh</p>
        </div>
        <div class="description pt-2">
          <div class="bg-white">
            Explore <b>the Temple of Literature</b>, a UNESCO World Heritage Site, and discover the rich history of Vietnam’s first university. Walk around the picturesque Hoan Kiem Lake, and visit <b>the Ngoc Son Temple</b>, perched on an island in the lake. Continue your exploration at <b>the Vietnam Museum of Ethnology</b>, which showcases the diverse ethnic groups of Vietnam through fascinating exhibits and artifacts.
            <br>
            After that, we transfer you to airport for flight to Ho Chi Minh. Once arrived in Tan Son Nhat airport, you’ll be taken to hotel for your stay.
            <div class="d-flex">
              <img class="pr-3" src="./assets/img/Group 453.png" alt="Group 453">
              Overnight in &nbsp;<b>Ho Chi Minh.</b>
              <div class="d-flex">
                <img class="px-3" src="./assets/img/Group 454.png" alt="Group 454 ">
                B, L
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="price color-gray py-2 bg-gray-transparent">
      <div class="d-flex justify-content-between fz-18 px-4 pb-2">
        <h4 class="text-uppercase">Tour price</h4>
        <h4 class="text-uppercase">join in tour</h4>
      </div>
      <div class="economy bg-white d-flex justify-content-between px-4 py-3">
        <div class="fz-14">
          Economy 2* + Hotels
        </div>
        <div class="d-flex align-items-center">
          <div class="old-price fz-16">$1021</div>&nbsp;&nbsp;US&nbsp;&nbsp;<div class="new-price fz-18">$868</div>
        </div>
      </div>
      <div class="economy bg-white d-flex justify-content-between px-4 py-3">
        <div class="fz-14">
          Superior 3* + Hotels
        </div>
        <div class="d-flex align-items-center">
          <div class="old-price fz-16">$1115</div>&nbsp;&nbsp;US&nbsp;&nbsp;<div class="new-price fz-18">$948</div>
        </div>
      </div>
      <div class="economy bg-white d-flex justify-content-between px-4 py-3">
        <div class="fz-14">
          First Class 4* + Hotels
        </div>
        <div class="d-flex align-items-center">
          <div class="old-price fz-16">$1372</div>&nbsp;&nbsp;US&nbsp;&nbsp;<div class="new-price fz-18">$1166</div>
        </div>
      </div>
      <div class="economy bg-white d-flex justify-content-between px-4 py-3">
        <div class="fz-14">
          Deluxe 5* + Hotels
        </div>
        <div class="d-flex align-items-center">
          <div class="old-price fz-16">$1821</div>&nbsp;&nbsp;US&nbsp;&nbsp;<div class="new-price fz-18">$1548</div>
        </div>
      </div>
      <div class="note mt-4 px-4">
        <b>Note: </b>
        <ul class="pl-3 pt-3">
          <li>All price are based on per adult, in Double/Twin sharing</li>
          <li>Surcharge will be applied for single traveler or single room request</li>
        </ul>
      </div>
    </div>
    <div class="includes mt-4 color-gray p-3">
      <div class="row">
        <div class="left col-md-6 col-12 mb-3">
          <div class="mb-3">
            <h4 class="text-uppercase fz-18 fw-500">price includes:</h4>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (5).png" alt="Group 453 (5)">
            <p>All flight in the tour.</p>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (6).png" alt="Group 453 (6)">
            <p>Hotel & Accommodation.</p>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (7).png" alt="Group 453 (7)">
            <p>Meals ( B, L, D = Breakfast, Lunch, Dinner ).</p>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (8).png" alt="Group 453 (8)">
            <p>Transfer Vehicle.</p>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (9).png" alt="Group 453 (9)">
            <p>English speaking guide.</p>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (10).png" alt="Group 453 (10)">
            <p>Entrance and sightseeing tickets.</p>
          </div>
        </div>
        <div class="right col-md-6 col-12 mb-3">
          <div class="mb-3">
            <h4 class="text-uppercase fz-18 fw-500">excludes:</h4>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (11).png" alt="Group 453 (11)">
            <p>Drinks.</p>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (12).png" alt="Group 453 (12)">
            <p>Tips.</p>
          </div>
          <div class="d-flex mb-2">
            <img class="mr-3" src="./assets/img/Group 453 (13).png" alt="Group 453 (13)">
            <p>Persional expenses.</p>
          </div>
          <div class="pt-5">
            <div class="mb-3">
              <h4 class="text-uppercase fz-18 fw-500">singgle supplement:</h4>
            </div>
            <div class="d-flex mb-2">
              <p>May be applied with solo traveler.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
