<div class="tour__overview container py-5">
  <div class="tour__overview--intro row mb-5">
    <div class="col-md-7 col-12">
      <div class="left mb-2">
        <h4 class="fz-24">
          <span>16 Day.</span> A glance to Indochina (Vietnam, Cambodia, Laos)
        </h4>
        <b class="d-block my-3 fz-20">$50</b>
        <p class="description fz-14">This 16 day tour takes you to visit the best of Vietnam, Cambodia and Laos. Discover the greatest landscapes: Hanoi city, Halong Bay, Ho Chi Minh city, Mekong floating market. Visit the historical places in Cambodia including Angkor Wat, Angkor Thom, Ta Prohm and the lovely Laos.
        </p>
        <div class="contact d-flex mt-3 mb-4">
          <div class="quick-enquiry fz-16 px-2 py-1 d-flex align-items-center">
            <i class="fa-regular fa-envelope text-white fz-22 mr-2"></i>
            <span>
              Quick Enquiry
            </span>
          </div>
          <div class="like ml-3 fz-16 px-3 py-1 d-flex align-items-center">
            <i class="fa-regular fa-heart fz-22 mr-2"></i>
            <span>
              Like
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <div class="right">
        <h4 class="fz-18 px-3 py-2">DESTINATION</h4>
        <div class="row px-3 py-2">
          <div class="col-3 font-weight-bold">Location</div>
          <div class="col-9">Cambodia, Laos, Vietnam</div>
        </div>
        <div class="row px-3 py-2">
          <div class="col-3 font-weight-bold">Vietnam</div>
          <div class="col-9">Hanoi, Halong Bay, Ho Chi Minh city, Cu Chi, Mekong Delta</div>
        </div>
        <div class="row px-3 py-2">
          <div class="col-3 font-weight-bold">Cambodia</div>
          <div class="col-9">Siem Reap</div>
        </div>
        <div class="row px-3 py-2">
          <div class="col-3 font-weight-bold">Laos</div>
          <div class="col-9">Vientiane, Luang Prabang, Vang Vieng</div>
        </div>
        <h4 class="fz-18 px-3 py-2">TRAVELING</h4>
        <div class="row px-3 py-2">
          <div class="col-3 font-weight-bold">Style</div>
          <div class="col-9">Daily Depature, Small Group, Private Tour</div>
        </div>
        <div class="row px-3 py-2">
          <div class="col-3 font-weight-bold">Theme</div>
          <div class="col-9">Discovery, Wonder, Cruise, Culture, History</div>
        </div>
      </div>
    </div>
  </div>
  <div class="tour__overview--carousel">
    <div id="carouselOverviewTour" class="carousel slide" data-ride="carousel" data-interval="10000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/Rectangle 347.png" class="d-block w-100" alt="Rectangle 347.png">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner-home-2.jpg" class="d-block w-100" alt="banner-home-2.jpg">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner-home-3.jpg" class="d-block w-100" alt="banner-home-3.jpg">
        </div>
      </div>
      <button class="carousel-control-prev z-index-10" type="button" data-target="#carouselOverviewTour" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next z-index-10" type="button" data-target="#carouselOverviewTour" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
</div>