<div class="tour__similar-tour container py-5">
  <div class="heading d-flex justify-content-center mb-4">
    <h2 class="heading-title-main">SIMILAR TOUR</h2>
  </div>
  <div class="position-relative">
    <div class="similar-tour-slider p-3">
      <div class="row d-flex">
        <div class="col-lg-6 col-12">
          <img src="./assets/img/Rectangle 295 (2).png" alt="">
        </div>
        <div class="col-lg-6 col-12 mt-2">
          <div class="intro mb-2">
            <h4 class="fz-24">
              <span>16 Day.</span> A glance to Indochina (Vietnam, Cambodia, Laos)
            </h4>
            <span class="sub-title d-block my-2">ASIA COMBO • TOUR-ID: ASA16</span>
            <b class="d-block my-3 fz-20">$50</b>
            <p class="description">This 16 day tour takes you to visit the best of Vietnam, Cambodia and Laos. Discover the greatest landscapes: Hanoi city, Halong Bay, Ho Chi Minh city, Mekong floating market. Visit the historical places in Cambodia including Angkor Wat, Angkor Thom, Ta Prohm and the lovely Laos.</p>
          </div>
          <div class="details">
            <h4 class="fz-18 px-3 py-2">DESTINATION</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Country</div>
              <div class="col-9">Cambodia, Laos, Vietnam, Myanmar</div>
            </div>
            <h4 class="fz-18 px-3 py-2">TRAVELING</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Style</div>
              <div class="col-9">Daily Depature, Small Group, Private Tour</div>
            </div>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Theme</div>
              <div class="col-9">Discovery, Wonder, Cruise, Culture, History</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-lg-6 col-12">
          <img src="./assets/img/Rectangle 295 (2).png" alt="">
        </div>
        <div class="col-lg-6 col-12 mt-2">
          <div class="intro mb-2">
            <h4 class="fz-24">
              <span>16 Day.</span> A glance to Indochina (Vietnam, Cambodia, Laos)
            </h4>
            <span class="sub-title d-block my-2">ASIA COMBO • TOUR-ID: ASA16</span>
            <b class="d-block my-3 fz-20">$50</b>
            <p class="description">This 16 day tour takes you to visit the best of Vietnam, Cambodia and Laos. Discover the greatest landscapes: Hanoi city, Halong Bay, Ho Chi Minh city, Mekong floating market. Visit the historical places in Cambodia including Angkor Wat, Angkor Thom, Ta Prohm and the lovely Laos.</p>
          </div>
          <div class="details">
            <h4 class="fz-18 px-3 py-2">DESTINATION</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Country</div>
              <div class="col-9">Cambodia, Laos, Vietnam, Myanmar</div>
            </div>
            <h4 class="fz-18 px-3 py-2">TRAVELING</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Style</div>
              <div class="col-9">Daily Depature, Small Group, Private Tour</div>
            </div>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Theme</div>
              <div class="col-9">Discovery, Wonder, Cruise, Culture, History</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute prev-btn1">
      <img src="./assets/img/previous.png" alt="previous">
    </div>
    <div class="position-absolute next-btn1">
      <img src="./assets/img/next.png" alt="next">
    </div>
  </div>
</div>