<div class="banner-with-text">
  <img
    src="https://cdn.vn.alongwalk.info/wp-content/uploads/2023/04/02030504/image-101-hinh-anh-ha-long-nen-tho-huu-tinh-khien-ban-phai-ngat-ngay-168035430327879.jpg"
    alt=""
  />
  <div class="content">
    <h3>CHILD PROTECTION AND SUPPORT</h3>
    <p>
      Threeland commits to protect children by committing not to hire children under 18 or engage in any suppliers with signs of child-labor.
    </p>
    <p>
      Refuse to sex tourism as it often relates to children’s sexual, physical, and mental exploitation.
    </p>
    <p>
      Guests are advised not to give money or buy things from begging children,  instead to donate to registered NGOs/organizations that support child welfare.
    </p>
  </div>
</div>
