<div class="sustainability-ourcsr">
  <div class="container">
    <h3 class="heading">OUR CSR</h3>
    <p>
      <img class="thumb-lager"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/81f2eded-6539-4cb2-842f-272877a95a41?apiKey=b4655bf8d56943228c825aef8f09662b&"
        alt="" />
    </p>
    <h3 class="title-content">Respect the nature habit</h3>
    <ul>
      <li>
        Working with local communities to create authentic travel experiences that benefit the destination.
      </li>
      <li>
        Maintain the integrity of the local community: promote tours that respect local culture and give back to the
        community.
      </li>
      <li>
        Stand up for equal rights at the workplace and the community: follow the local employment regulations and
        promote equal rights.
      </li>
      <li>
        Help our clients to avoid poverty exploitation: educate about tipping and how to face challenging situations.
      </li>
      <li>
        Give preference to sustainable suppliers: give them priority that whole sustainable policies align with our own.
      </li>
    </ul>
    <br />
    <h3 class="title-content">Environment care</h3>
    <p>
      Encourage and constantly remind our clients about preserving the natural environment everywhere they go,
      especially in extremely environmentally sensitive areas.
    </p>
    <p>
      From small details of notice for green travel tips in the itinerary to well-educated tour guides, we are making
      huge efforts from smallest actions to make every trip more responsible to the environment.
    </p>
    <ul class="col-content">
      <li>
        <div class="heading">
          <span class="ic">
            <img src="./assets/img/ic-our-1.png" alt="" />
          </span>
          Refuse
        </div>
        <p>
          No excursions and attractions in which captive wildlife is held, except for properly regulated activities in
          compliance with local, national and international law. In case of living specimens of protected and wildlife
          species these are only kept by those authorized and suitably equipped to house and care for them humanely.
        </p>
        <p>
          Avoid choosing popular destinations and places to visit to cause overcrowding. Being aware of this issue when
          planning a travel itinerary will help reduce pressure on the already fragile environment and ecosystem, as
          well as the local community.
        </p>
        <p>
          Help to protect children at risk, say no to all orphanage tourism and school visits.
        </p>
      </li>
      <li>
        <div class="heading">
          <span class="ic">
            <img src="./assets/img/ic-our-2.png" alt="" />
          </span>
          Reduce
        </div>
        <p>
          Reduced air pollution as carbon-footprint is also among our great concerns by encouraging our clients to use
          more environmentally friendly transportation for sightseeing.
        </p>
        <p>
          Reduce disposable and consumable goods. Reduce the use of single-plastic within all offices by discouraging
          staff’s food and drink orders using plastic containers.
        </p>
        <p>
          Reduce consumption of natural resources at a sufficient level to help restoring natural resources and reducing
          waste to the environment.
        </p>
      </li>
      <li>
        <div class="heading">
          <span class="ic">
            <img src="./assets/img/ic-our-3.png" alt="" />
          </span>
          Reusable
        </div>
        <p>
          Choose eco-friendly suppliers: choose a property that adopts a sustainability policy.
        </p>
        <p>
          Encourage visitors to bring shower gel and shampoo bottles from home for travel.
        </p>
        <p>
          Recommend to use stainless steel bottles which can last for many years.
        </p>
      </li>
      <li>
        <div class="heading">
          <span class="ic">
            <img src="./assets/img/ic-our-4.png" alt="" />
          </span>
          Recycle
        </div>
        <p>
          Encourage travelers to bring reusable bags such as eco-friendly canvas, paper or plastic bags at the grocery
          store or sundries at the local market.
        </p>
        <p>
          Make our trips non-plastic by replacing plastic water bottles with biodegradable or refillable bottles.
        </p>
      </li>
    </ul>

    <h3 class="title-content">Promote economic development</h3>
    <p>
      <i>We support and give preference to local suppliers and local communities.</i>
    </p>
    <p>
      <i>We support community-based tourism initiatives. Purchase locally produced products/goods and work with small local businesses as they rely solely on local passing trade for their survival.</i>
    </p>
    <p>
      We allow time for local interaction with clients. Everyone should be responsible and fight corruption.
    </p>
  </div>
</div>