<div class="sustainability-local">
  <div class="thumbnail">
    <img src="./assets/img/localThumnail.png" alt="" />
  </div>
  <div class="content">
    <h2 class="heading-title-main">
      LOCAL COMMUNITY IS THE SOUL OF OUR DESTINATION
    </h2>
    <img src="./assets/img/airrline.png" alt="" />

    <div class="content-text">
      <ul>
        <li>
          We are well aware that being responsible to only the environment is
          not enough, but the well-being of the local community is also of
          paramount importance.
        </li>
        <li>
          We want to make sure that local communities can get the most of the
          benefits (whether financially, culturally, or environmentally) from
          every tour we operate in their places and that our operations can make
          positive differences to their livelihoods.
        </li>
        <li>
          We work closely and extensively with local homestays in rural
          destinations to raise their awareness about how they can take tourism
          as a driver of their economic development.
        </li>
        <li>
          We cater pro-poor travel that helps to increase the net benefit for
          the disadvantaged people in a destination while creating meaningful
          cultural exchanges between local people and tourists. In Threeland, we
          always think about how we can maximize benefits.
        </li>
        <li>
          Conserving the local fragile environment, promoting their indigenous
          cultures, supporting their local economy, and leaving nothing but our
          footprints that can be washed away.
        </li>
      </ul>
    </div>
  </div>
</div>
