<div class="definiteUs-philosophy sustainability-philosophy">
  <div class="container">
    <h2 class="heading-title-main">
      INTERNAL POLICIES ARE THE ROOT OF OUR ACTIONS
    </h2>
    <div class="about-us--sevice">
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-inter-1.png" alt="" />
        <span class="line"></span>
        <div class="text-description-center">
          We believe that in order to educate our guests about responsible travel and sustainable tourism, our staff must know well what it is. 
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-inter-2.png" alt="" />
        <span class="line"></span>
        <div class="text-description-center">
          We established steadfast guidelines of sustainability to raise awareness of our staff about what it means to be sustainable tourism and how to achieve it.
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-inter-3.png" alt="" />
        <span class="line"></span>
        <div class="text-description-center">
          Besides educating our staff about sustainability practices, we create a more ethical and fair working environment for everyone regardless of people’s backgrounds or disabilities.
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-inter-4.png" alt="" />
        <span class="line"></span>
        <div class="text-description-center">
          Our ambition of moving towards zero-plastic offices is practicing with a detailed guideline to save water and electricity. 
        </div>
      </div>
    </div>
  </div>
</div>
