<div class="aboutUs-infomation sustainability-aboutUs">
  <div class="container">
    <div class="aboutUs-infomation--box">
      <div class="box-content">
        <h2 class="heading-title-main">RESPONSIBILITY</h2>
        <div class="box-content--des">
          Our ambition is to become one of the leading sustainable DMC who
          advocates for sustainable development and management of tourism that
          make destinations better places for travelers to visit, and for locals
          to live in.Three pillars of sustainability: economic, social and
          environmental. We endeavor to maximize the benefits to local
          communities of our presence while minimizing any negative impacts.
          Whenever possible we will work with local suppliers who share our
          philosophy and will actively monitor their business practices and
          services.
        </div>
      </div>
      <div class="box-img">
        <img src="./assets/img/sustainability-resonsibility.png" alt="" />
      </div>
    </div>
  </div>
</div>
