<div class="container mice-gallery">
  <div class="row">
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/73d13cd7-d926-41d0-a699-cea717acfed9?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/57302936-c2b2-405c-bab3-ca86615b6be9?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/5e1ef9cd-ae98-4801-93bc-6d73e1480e81?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/65ff282a-e348-4850-9282-56a434b37088?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/804f973d-4918-43f5-954b-ea692c4944a0?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/009a443c-31ac-4eb2-8e72-d4d73109b6ae?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/dfd9793d-7206-4452-bd32-970980e9a390?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="mice-gallery__item">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/ac835de5-4925-4887-8439-ecfd3c8f14dd?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
  </div>
</div>
