<div class="container mice-introduction">
  <div class="row">
    <div class="col-lg-6">
      <div class="mice-thumb">
        <img
          loading="lazy"
          srcset="
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets/TEMP/aebda847-fffb-4bc4-9de9-e8e8355a1242?apiKey=b4655bf8d56943228c825aef8f09662b&
          "
          class="img"
        />
      </div>
    </div>
    <div class="col-lg-6">
      <div class="heading-title-main mice-title">Mice</div>
      <div class="mice-description">
        <p>
          MICE is also becoming one of our strong points recently. Together with
          our partners, we have successfully organized many trips for our
          clients who come from different fields and different cultures
          stretching from Asian to Western countries but sharing the common high
          satisfactions on our services. Some of them can be listed are Coca
          Cola, Suzuki, Prudential (UK), many from pharmacy, insurance
          companies….
        </p>
        <p>
          What we share is a common respect for customer service, creativity,
          quality, professionalism and a vision of how these can be applied to
          the modern M.I.C.E travel and events industry. We work closely with
          our Hotel, Events and Team Building divisions and provide the best and
          cost-effective solutions for M.I.C.E projects of all scales to Vietnam
          and Indochina.
        </p>
      </div>
    </div>
  </div>
</div>
