<div class="mice-secret">
  <div class="heading">
    <h2 class="heading__title">The secret of the success</h2>
    <div class="heading__subtitle">
      <hr />
      We pride ourselves in organizing many successful events for our dear customers around the globe. As each
      requirement for MICE is unique and should have its own tailored programme and set of experiences, to provide the
      “wow” factor and meet your expectation of an event, we have set various tailored experiences, exclusive
      itineraries for our partners to ensure all delegates are engaged and events are flawless. The following five
      advantages contribute largely to our reliability:
    </div>
  </div>
  <div class="mice-slide d-flex">
    <div class="slide-item">
      <div class="slide-item__heading">
        <div class="heading-icon">
          <img src="./assets/img/icon-flexible.svg" />
        </div>
        <div class="heading-title">Flexible group size</div>
      </div>
      <div class="slide-item__content">
        Careful handling of groups, regardless group size, for the entire process.
      </div>
    </div>
    <div class="slide-item">
      <div class="slide-item__heading">
        <div class="heading-icon">
          <img src="./assets/img/Group 6 (1).png" />
        </div>
        <div class="heading-title">Strong Network</div>
      </div>
      <div class="slide-item__content">
        Introduce MICE at potential alternative destinations as our network of operation offices are placed throughout
        Indochina.
      </div>
    </div>
    <div class="slide-item">
      <div class="slide-item__heading">
        <div class="heading-icon">
          <img src="./assets/img/Group 6 (2).png" />
        </div>
        <div class="heading-title">Our Inspiration</div>
      </div>
      <div class="slide-item__content">
        Develop exclusive idea to create authentic local touch for customers
      </div>
    </div>
    <div class="slide-item">
      <div class="slide-item__heading">
        <div class="heading-icon">
          <img src="./assets/img/Group 6 (3).png" />
        </div>
        <div class="heading-title">Dedicated and specialized MICE team </div>
      </div>
      <div class="slide-item__content">
        For our customers’ tailor-made experiences, we strive continuously to match events with their ideas and needs.
      </div>
    </div>
    <div class="slide-item">
      <div class="slide-item__heading">
        <div class="heading-icon">
          <img src="./assets/img/Group 6 (4).png" />
        </div>
        <div class="heading-title">Engaging Activities</div>
      </div>
      <div class="slide-item__content">
        Cultural interaction & deep immersion for exciting and comfortable activities. 
      </div>
    </div>
  </div>
</div>