<div class="container customized-tour-form">
  <div class="mb-40 form-title">
    A TRIP DESIGNED JUST FOR YOU? LET’S GET STARTED…
  </div>
  <div class="mb-40 form-question">
    How many people are traveling? If children are included, what are their
    ages?
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-input-label">Adults (Age > 10)</div>
      <input type="text" class="text" />
    </div>
    <div class="col-md-4">
      <div class="form-input-label">Kids (Age 5-11)</div>
      <input type="text" class="text" />
    </div>
    <div class="col-md-4">
      <div class="form-input-label">Babies (Age &lt; 5)</div>
      <input type="text" class="text" />
    </div>
  </div>
  <div class="text-uppercase mt-40 mb-3 form-question">
    Where would you like to travel?
  </div>
  <div class="form-group">
    <label class="form-check-label custom-checkbox" for="country_vietnam">
      <input type="checkbox" class="form-check-input" id="country_vietnam" />
      Viet Nam
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="form-group">
    <label class="form-check-label custom-checkbox" for="country_laos">
      <input type="checkbox" class="form-check-input" id="country_laos" />
      Laos
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="form-group">
    <label class="form-check-label custom-checkbox" for="country_cambodia">
      <input type="checkbox" class="form-check-input" id="country_cambodia" />
      Cambodia
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="form-group">
    <label class="form-check-label custom-checkbox" for="country_thailand">
      <input type="checkbox" class="form-check-input" id="country_thailand" />
      Thailand
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="form-group">
    <label class="form-check-label custom-checkbox" for="country_myanmar">
      <input type="checkbox" class="form-check-input" id="country_myanmar" />
      Myanmar
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="text-uppercase mt-40 mb-3 form-question">
    Date of arrival and duration of travel. Are these dates flexible?
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="text" placeholder="Date of arrival*" />
    </div>
    <div class="col-md-6">
      <input type="text" class="text" placeholder="Trip length*" />
    </div>
  </div>
  <div class="text-uppercase mt-40 mb-3 form-question">
    What type of hotel would you like to use?
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-check-label custom-checkbox" for="country_vietnam1">
          <input
            type="checkbox"
            class="form-check-input"
            id="country_vietnam1"
          />
          3 Stars: From $40-$60/r/n
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-check-label custom-checkbox" for="country_vietnam2">
          <input
            type="checkbox"
            class="form-check-input"
            id="country_vietnam2"
          />
          4 Stars: From $70-$110/r/n
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-check-label custom-checkbox" for="country_vietnam3">
          <input
            type="checkbox"
            class="form-check-input"
            id="country_vietnam3"
          />
          Local homestay: From $20-$30/r/n
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-check-label custom-checkbox" for="country_vietnam4">
          <input
            type="checkbox"
            class="form-check-input"
            id="country_vietnam4"
          />
          Specialty Lodging: From $60-$80/r/n
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-check-label custom-checkbox" for="country_vietnam5">
          <input
            type="checkbox"
            class="form-check-input"
            id="country_vietnam5"
          />
          5 Stars: From $120-$190/r/n ++
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <label class="form-check-label custom-checkbox" for="country_vietnam6">
          <input
            type="checkbox"
            class="form-check-input"
            id="country_vietnam6"
          />
          Boutique: From $50-$70/r/n
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="text-uppercase mt-40 mb-3 form-question">Tell us more</div>
  <div class="form-question__desc mb-3">
    Please enter any further information or special interests such as Food
    tours, Cooking Class, Nature & Wildlife, Beach, Culture Shows, History,
    Museum, market & local village visits, and Soft Adventure (leisure cycling,
    hiking & walking...etc.).
  </div>
  <textarea nane="tell_us_more" rows="2"></textarea>
  <div class="mt-40 mb-3 tell-us-about-you">TELL US ABOUT YOU</div>
  <div class="form-question__desc mb-3">
    Note: Your information will be kept private
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <input type="text" class="text" placeholder="Full name*" />
    </div>
    <div class="col-md-6 mb-3">
      <input type="text" class="text" placeholder="Phone*" />
    </div>
    <div class="col-md-6 mb-3">
      <input type="text" class="text" placeholder="Email*" />
    </div>
    <div class="col-md-6 mb-3">
      <input type="text" class="text" placeholder="Nationality*" />
    </div>
  </div>
  <div class="form-question__desc mb-3">
    Your information will be strictly protected in compliance with our Privacy
    and Securiry Policy
  </div>
  <button type="submit" class="btn btn-success position-relative btn-custom">
    Submit my request
  </button>
</div>
