<div class="viet-nam__culture container pt-5 mb-5">
  <div class="row m-md-5">
    <div class="col-lg-6 col-12 p-4">
      <img class="w-100" src="./assets/img/viet-nam-map.png" alt="Vietnam map" usemap="#image-map-vietnam">
      <map name="image-map-vietnam">
        <area class="pointer" target="" alt="" title="Hanoi" coords="281,113,28" shape="circle">
        <area class="pointer" target="" alt="" title="Ha Long" coords="341,113,29" shape="circle">
        <area class="pointer" target="" alt="" title="Ninh Binh" coords="271,235,NaN" shape="circle">
        <area class="pointer" target="" alt="" title="Sapa" coords="202,56,20" shape="circle">
        <area class="pointer" target="" alt="" title="Pu Luong" coords="NaN" shape="circle">
        <area class="pointer" target="" alt="" title="Hue" coords="355,327,19" shape="circle">
        <area class="pointer" target="" alt="" title="Da Nang" coords="385,350,13" shape="circle">
        <area class="pointer" target="" alt="" title="Hoi An" coords="399,365,9" shape="circle">
        <area class="pointer" target="" alt="" title="Nha Trang" coords="430,531,20" shape="circle">
        <area class="pointer" target="" alt="" title="Da Lat" coords="NaN" shape="circle">
        <area class="pointer" target="" alt="" title="Mui Ne" coords="392,594,21" shape="circle">
        <area class="pointer" target="" alt="" title="Ho Chi Minh" coords="321,602,19" shape="circle">
        <area class="pointer" target="" alt="" title="Mekong Delta" coords="NaN" shape="circle">
        <area class="pointer" target="" alt="" title="Phu Quoc" coords="203,637,19" shape="circle">
    </map>
    </div>
    <div class="viet-nam__culture--intro col-lg-6 col-12">
      <img class="w-100" src="./assets/img/Rectangle 295 (1).png" alt="#">
      <div class="px-3 mb-4">
        <h6 class="title fz-14 font-weight-bold text-uppercase">HUE</h6>
        <p class="description">
          Known widely as the former royal capital in the 19th century, Hue, a Unesco site since 1994, reflects the old time’s delicacy and conservation with valuable vestiges from the last feudal dynasty, many ancient relics, archeological traces and a poetic, slow-paced rhythm. Despite only 2hrs from the sunny beaches and lively quarters of Danang and Hoi An, Hue is still quite different with special tranquil ambience that requires you more time to intermingle with the elegant people, to taste their plentiful dishes, to contemplate royal food décor and visit royal heritages’ ornaments, or just to bike thru quiet gardens and villages. For the Vietnamese, Hue is additionally known as a homeland of beloved musicians and artists, whose art masterpieces are found everywhere in the city.
        </p>
      </div>
      <div class="row px-3 ">
        <div class="info_1 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5.png" alt="#">
          <p>Royal Legacies: The Royal Citadel Complex (UNESCO heritage) & Kings’ tombs (Khai Dinh, Minh Mang, Tu Duc), Hue Royal Court Music (UNESCO intangible heritage)</p>
        </div>
        <div class="info_2 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 6.png" alt="#">
          <p>Buddhist roots: Thien Mu Pagoda, Tu Hieu Monastery</p>
        </div>
        <div class="info_3 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 7.png" alt="#">
          <p>Nature: Bach Ma National Park, Tam Giang Lagoon, Lang Co Beach.</p>
        </div>
        <div class="info_4 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 8.png" alt="#">
          <p>Others: Cyclo or cycling, dragon boat on Huong River, street food, royal dining, cooking tour.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="viet-nam__culture--trending d-flex flex-column align-items-center">
    <h4 class="fz-24 mb-4">TRENDING NOW</h4>
    <div class="d-flex">
      <img class="px-3 pointer" src="./assets/img/icon-youtube.png" alt="icon youtube">
      <img class="px-3 pointer" src="./assets/img/icon-insta.png" alt="icon instagram">
      <img class="px-3 pointer" src="./assets/img/icon-fb.png" alt="icon facebook">
      <img class="px-3 pointer" src="./assets/img/icon-linkin.png" alt="icon linkin">
      <img class="px-3 pointer" src="./assets/img/icon-twitter.png" alt="icon twitter">
    </div>
  </div>
</div>