<div class="slide-intro">
  <div class="heading">
    <h2>EPIC VIETNAM</h2>
  </div>
  <div id="carouselPageVietNam" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators justify-content-center">
      <li data-target="#carouselPageVietNam" data-slide-to="0" class="active"></li>
      <li data-target="#carouselPageVietNam" data-slide-to="1"></li>
      <li data-target="#carouselPageVietNam" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner">
      <div class="carousel-item position-relative active">
        <img src="./assets/img/halong_bay.jpeg" class="d-block w-100" alt="Rectangle 347.png">
        <div class="carousel-caption item-slide-page-viet-nam position-absolute">
          <p class="fw-500 font-italic font-pacifico">Historical vestiges, breathtaking landscape, fascinating culture,
          <br>
          bustling modern life, and sophisticated cuisines.
          </p>
        </div>
      </div>
      <!-- <div class="carousel-item position-relative">
        <img src="./assets/img/banner-home-2.jpg" class="d-block w-100" alt="banner-home-2.jpg">
        <div class="carousel-caption item-slide-page-viet-nam position-absolute">
          <p class="fw-500 font-italic font-pacifico">Historical vestiges, breathtaking landscape, fascinating culture,
            <br>
            bustling modern life, and sophisticated cuisines.
            </p>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="./assets/img/banner-home-3.jpg" class="d-block w-100" alt="banner-home-3.jpg">
        <div class="carousel-caption item-slide-page-viet-nam position-absolute">
          <p class="fw-500 font-italic font-pacifico">Historical vestiges, breathtaking landscape, fascinating culture,
            <br>
            bustling modern life, and sophisticated cuisines.
            </p>
        </div>
      </div> -->
    </div>
    <!-- <button class="carousel-control-prev z-index-10" type="button" data-target="#carouselPageVietNam" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next z-index-10" type="button" data-target="#carouselPageVietNam" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button> -->
  </div>
</div>
