<div class="viet-nam__weather position-relative">
  <img src="./assets/img/Rectangle 381.png" class="d-block w-100 background" alt="weather" />
  <div class="viet-nam__weather--breadcrumbs position-absolute d-flex align-items-center">
    <hr>
    <div class="items text-white fz-16">
      <span class="weather-tab pointer px-4 active">Weather</span>
       / 
      <span class="quick-facts-tab pointer px-4">Quick facts</span>
       / 
      <span class="faq-tab pointer px-4">Useful FAQs</span>
    </div>
  </div>
  <div class="viet-nam__weather--content position-absolute p-lg-5 p-4 text-white fz-18 font-weight-bold">
    <div class="weather d-none d-block">
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          REGION
        </h3>
        <p class="text-center px-4">1 <br> JAN</p>
        <p class="text-center px-4">2 <br> FEB</p>
        <p class="text-center px-4">3 <br> MAR</p>
        <p class="text-center px-4">4 <br> APR</p>
        <p class="text-center px-4">5 <br> MAY</p>
        <p class="text-center px-4">6 <br> JUN</p>
        <p class="text-center px-4">7 <br> JUL</p>
        <p class="text-center px-4">8 <br> AUG</p>
        <p class="text-center px-4">9 <br> SEP</p>
        <p class="text-center px-4">10 <br> OCT</p>
        <p class="text-center px-4">11 <br> NOV</p>
        <p class="text-center px-4">12 <br> DEC</p>
      </div>
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          NORTH
        </h3>
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/rain.png" alt="rain">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
      </div>
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          CENTER
        </h3>
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/rain_2.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/rain_2.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/rain.png" alt="snowflake">
      </div>
            <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          SOUTH
        </h3>
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_2.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
      </div>
    </div>
    <div class="quick-facts d-none">
      <div class="row">
        <div class="col-6">
          <div class="capital d-flex mb-3">
            <h3>CAPITAL:</h3>
            <span class="pl-2">Hanoi</span>
          </div>
          <div class="population mb-3">
            <h3>POPULATION:</h3>
            <div class="d-flex align-items-center">
              <h1>98.17</h1>
              <span>million <br> (2021)</span>
            </div>
          </div>
          <div class="area mb-3">
            <h3>AREA:</h3>
            <div class="d-flex align-items-center">
              <h1>331.699</h1>
              <span>km2 <br> (128.070 m2)</span>
            </div>
          </div>
          <div class="language mb-3">
            <h3>LANGUAGE:</h3>
            <span>Vietnamese is the official language despite diverse ethnic languages spoken in many remote parts of the country.
              <br>
              English is widely used specially among youth in big cities.
            </span>
          </div>
          <div class="religion mb-3">
            <h3>RELIGION:</h3>
            <span>Buddhists (75 %), Catholics (7%), Caodaïstes (2 %), Hoa Hao (2%), Protestants (0.75%), Muslims (0.1%)</span>
          </div>
          <div class="coordinates mb-3 d-flex">
            <h3>COORDINATES:</h3>
            <span class="pl-2">16’00 N, 106’00 E</span>
          </div>
        </div>
        <div class="col-6">
          <div class="electricity mb-3">
            <h3>ELECTRICITY:</h3>
            <span>Between</span>
            <div class="d-flex align-items-center">
              <h1>220</h1>
              <span>Volt <br> 50 Hz</span>
            </div>
            <span>Plugs type A (two flat vertical pins), type C, and type F (two round pins) fit most Vietnam electrical outlets. If your power plug has 3 pins, you would need an adapter as most electrical outlets here do not include grounding holes.
            </span>
          </div>
          <div class="religion mb-3">
            <h3>TIME ZONE:</h3>
            <div class="d-flex align-items-center">
              <h1>GMT+7</h1>
              <span>Hours</span>
            </div>
            <span>Daylight saving time (DST) is not implemented in Vietnam.
            </span>
          </div>
          <div class="currency mb-3">
            <h3>CURRENCY:</h3>
            <span>Vietnamese Dong VND ($1 = 23.500 VND – April 2023)
              <br>
              USD is accepted in some tourist places, but with unfavorable rates.
              <br>
              ATMs are popular in most cities. Money withdrawal rate at ATMs costs an <br> average of 3.3%.
              <br>
              Credit cards are accepted widely except in local markets.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="faq p-lg-5 d-none p-4 w-100">
      <div class="item">
        <div class="d-none d-block i1">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Visa for Vietnam</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-visa-viet-nam" aria-expanded="false" aria-controls="faq-visa-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-visa-viet-nam">
            Vietnam now offers 22 countries a 15–30-day visa exemption.
            <br>
            E-Visa is available, which is good for a single entrance and a stay in Vietnam of up to 30 days. Visit the immigration website at https://evisa.xuatnhapcanh.gov.vn for details on acquiring an e-Visa.
            <br>
            Threeland is able to offer Visa approval letters for our partner’s clients on request.
          </p>
        </div>
        <div class="d-none i2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Best time to visit Vietnam</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-best-time" aria-expanded="false" aria-controls="faq-best-time" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-best-time">
            The greatest seasons to visit Vietnam are from October to April although there is no one ideal period due to the vast variances in latitude and altitude. It's a great place to go any time of year.
            <br>
            Summer from May to September is also the ideal time to travel in terms of best price.
          </p>
        </div>
        <div class="d-none i3">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Dress code</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-dess-code" aria-expanded="false" aria-controls="faq-dess-code" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-dess-code">
            Dress modestly, covering your shoulders and knees, when visiting religious places, the countryside, and the Ho Chi Minh Mausoleum. Before visiting a temple or pagoda, don't forget to take off your hat and shoes.
          </p>
        </div>
        <div class="d-none i4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Emergency contact</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-emergency" aria-expanded="false" aria-controls="faq-emergency" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-emergency">
            To contact the police, an ambulance, or general phone number inquiries in an emergency, dial 113, 115, or 116, respectively.
            <br>
Sometimes the switchboard operators may not always be competent in other languages, it may be beneficial to seek assistance from the locals.
          </p>
        </div>
        <div class="d-none i5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Safety in Vietnam</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-safety-viet-nam" aria-expanded="false" aria-controls="faq-safety-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-safety-viet-nam">
            For foreigners, Vietnam is regarded as a safe place to travel. Sadly, there is a chance of pickpocketing in popular tourist destinations like Hanoi and Ho Chi Minh City. It is advisable to adopt sensible safety measures when visiting crowded areas. High-end gadgets and other valuables should generally be locked in your luggage or kept in the hotel safe. Additionally, a waist belt or bag that hangs around the neck might be used to store money, a passport, or other such items.
          </p>
        </div>
        <div class="d-none i6">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Health advices</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-health-advices" aria-expanded="false" aria-controls="faq-health-advices" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-health-advices">
            - Drink plenty of fluids during the day (2 liters).
            <br>
            - Do not drink tap water in Vietnam. Only bottled water is drinkable.
            <br>
            - Wash your hands frequently
            <br>
            - Avoid eating unpeeled fruit or raw vegetables and ice.
            <br>
            - Most important: trust your gut feeling. If you don’t like your food, stop eating and do a double check when eating from street vendors.
          </p>
        </div>
        <div class="d-none i7">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Do and don’t in Vietnam</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-do-dont" aria-expanded="false" aria-controls="faq-do-dont" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-do-dont">
            Do
            <br>
            <span class="pl-3 d-block pt-1">
              - On a trip to Vietnam, everyone should keep the word "respect" in mind. It is reciprocal, and the Vietnamese are by nature kind and welcoming. Visitors are expected to treat them and their beautiful land with respect.
              <br>
              - Respecting their faith and its structures, such as taking off your shoes before entering a temple, is one of the absolute must-dos. If visitors plan to visit temples, they should dress modestly. It is nice to ask people's permission before taking their photo, right?
            </span>
            <br>
            Don’t
            <br>
            <span class="pl-3 d-block pt-1">
            - You should always use both hands while giving or receiving something.
            Even if you are on a tour, you will have plenty of free time. 
            <br>
            - If you are traveling alone, you should have a map and the contact information for your lodging with you and should put any valuables you do not need with you in a safety deposit box at your hotel.
            <br>
            - You should always behave appropriately in public and never use your finger or foot to point. Additionally, touching someone's head is considered disrespectful.
            </span>

          </p>
        </div>
      </div>
      <div class="pagination fz-14 d-flex mt-3">
        <div class="px-3 py-2 pointer p1 active">1.</div>
        <div class="px-3 py-2 pointer p2">2.</div>
        <div class="px-3 py-2 pointer p3">3.</div>
        <div class="px-3 py-2 pointer p4">4.</div>
        <div class="px-3 py-2 pointer p5">5.</div>
        <div class="px-3 py-2 pointer p6">6.</div>
        <div class="px-3 py-2 pointer p7">7.</div>
      </div>
    </div>
  </div>
</div>