<div class="contact-us">
  <div class="container">
    <div class="heading">
      <h3>Contact Us</h3>
      <h2 class="heading-title-main">Drop A Message</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-md-7">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name:" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email:" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Subject:"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="10"
                  class="form-control"
                  placeholder="Your Message"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-success btn-custom">
              Send now
            </button>
            <div id="g-recaptcha" data-callback="recaptchaCallback"></div>
          </div>
        </form>
      </div>
      <div class="col-md-5">
        <img src="./assets/img/Rectangle 295.png" alt="" />
      </div>
    </div>
  </div>
</div>
