<footer>
  <div class="container">
    <div class="row align-items-center" style="min-height: 225px">
      <div class="col-lg-4">
        <div class="footer-logo">
          <h3>traveland</h3>
        </div>
        <div class="footer-isocial">
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="45"
              viewBox="0 0 44 45"
              fill="none"
            >
              <circle
                cx="22"
                cy="22.2754"
                r="21.35"
                stroke="white"
                stroke-width="1.3"
              />
              <path
                d="M23.2221 19.2198V16.7753C23.2221 16.1007 23.7696 15.5531 24.4443 15.5531H25.6665V12.4976H23.2221C21.1969 12.4976 19.5554 14.139 19.5554 16.1642V19.2198H17.111V22.2753H19.5554V32.0531H23.2221V22.2753H25.6665L26.8887 19.2198H23.2221Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="45"
              viewBox="0 0 44 45"
              fill="none"
            >
              <circle
                cx="22"
                cy="22.2754"
                r="21.35"
                stroke="white"
                stroke-width="1.3"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.1112 22.2753C17.1112 19.5754 19.3002 17.3864 22.0001 17.3864C24.7 17.3864 26.889 19.5754 26.889 22.2753C26.889 24.9752 24.7 27.1642 22.0001 27.1642C19.3002 27.1642 17.1112 24.9752 17.1112 22.2753ZM18.9445 22.2753C18.9445 23.9596 20.3158 25.3309 22.0001 25.3309C23.6843 25.3309 25.0556 23.9596 25.0556 22.2753C25.0556 20.5899 23.6843 19.2198 22.0001 19.2198C20.3158 19.2198 18.9445 20.5899 18.9445 22.2753Z"
                fill="white"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.3334 12.4976H25.6667C29.0413 12.4976 31.7778 15.2341 31.7778 18.6087V25.942C31.7778 29.3166 29.0413 32.0531 25.6667 32.0531H18.3334C14.9588 32.0531 12.2223 29.3166 12.2223 25.942V18.6087C12.2223 15.2341 14.9588 12.4976 18.3334 12.4976ZM25.6667 30.2198C28.0256 30.2198 29.9445 28.3009 29.9445 25.942V18.6087C29.9445 16.2498 28.0256 14.3309 25.6667 14.3309H18.3334C15.9745 14.3309 14.0556 16.2498 14.0556 18.6087V25.942C14.0556 28.3009 15.9745 30.2198 18.3334 30.2198H25.6667Z"
                fill="white"
              />
              <path
                d="M27.2556 17.6716C27.6154 17.6716 27.9071 17.38 27.9071 17.0202C27.9071 16.6604 27.6154 16.3687 27.2556 16.3687C26.8959 16.3687 26.6042 16.6604 26.6042 17.0202C26.6042 17.38 26.8959 17.6716 27.2556 17.6716Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="45"
              viewBox="0 0 44 45"
              fill="none"
            >
              <circle
                cx="22"
                cy="22.2754"
                r="21.35"
                stroke="white"
                stroke-width="1.3"
              />
              <path
                d="M30.9467 17.0529C30.4163 16.1093 29.8406 15.9358 28.6685 15.8698C27.4976 15.7903 24.5533 15.7573 22.0025 15.7573C19.4468 15.7573 16.5013 15.7903 15.3316 15.8685C14.162 15.9358 13.5851 16.1081 13.0497 17.0529C12.5034 17.9952 12.2223 19.6183 12.2223 22.4759C12.2223 22.4783 12.2223 22.4795 12.2223 22.4795C12.2223 22.482 12.2223 22.4832 12.2223 22.4832V22.4857C12.2223 25.331 12.5034 26.9663 13.0497 27.8989C13.5851 28.8424 14.1607 29.0135 15.3304 29.093C16.5013 29.1614 19.4468 29.2018 22.0025 29.2018C24.5533 29.2018 27.4976 29.1614 28.6697 29.0942C29.8418 29.0148 30.4175 28.8437 30.948 27.9001C31.4992 26.9675 31.7778 25.3322 31.7778 22.4869C31.7778 22.4869 31.7778 22.4832 31.7778 22.4808V22.4771C31.7778 19.6183 31.4992 17.9952 30.9467 17.0529ZM19.5556 26.1462V18.8129L25.6667 22.4795L19.5556 26.1462Z"
                fill="white"
              />
            </svg>
          </a>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="45"
              viewBox="0 0 44 45"
              fill="none"
            >
              <circle
                cx="22"
                cy="22.2754"
                r="21.35"
                stroke="white"
                stroke-width="1.3"
              />
              <path
                d="M19.0283 22.0103L19.0274 22.0103C18.8069 22.0108 18.5831 22.0113 18.3547 22.0113C18.4263 21.9128 18.4711 21.8545 18.5204 21.7963C19.1072 21.0573 19.6939 20.3137 20.2807 19.5657C20.4509 19.3462 20.6211 19.1267 20.7286 18.8714C20.8496 18.5758 20.7197 18.2936 20.4151 18.1906C20.2762 18.1547 20.1374 18.1368 19.994 18.1413C19.1967 18.1368 18.395 18.1368 17.5977 18.1413C17.4857 18.1413 17.3737 18.1548 17.2662 18.1816C17.096 18.2219 16.9616 18.3608 16.9213 18.531C16.8631 18.7818 17.0199 19.0371 17.2752 19.0954C17.3827 19.1178 17.4947 19.1312 17.6066 19.1312C17.8485 19.1334 18.0915 19.1334 18.3345 19.1334C18.5775 19.1334 18.8205 19.1334 19.0624 19.1357C19.0765 19.1369 19.0913 19.1353 19.1062 19.1336C19.1479 19.1291 19.1906 19.1244 19.2236 19.1805C19.1833 19.2298 19.143 19.2835 19.1027 19.3373C18.4084 20.2152 17.7141 21.0976 17.0244 21.9755C16.8541 22.195 16.7646 22.4368 16.89 22.7056C17.0154 22.9743 17.2707 23.0281 17.5305 23.0415C17.6807 23.0511 17.8286 23.0493 17.9776 23.0475C18.0373 23.0467 18.0973 23.046 18.1576 23.046C18.3391 23.046 18.5204 23.0463 18.7015 23.0466C19.2443 23.0474 19.7859 23.0482 20.33 23.0415C20.7152 23.037 20.9212 22.7996 20.8809 22.4458C20.8451 22.1636 20.6525 22.0158 20.2986 22.0113C19.8806 22.0084 19.4606 22.0093 19.0283 22.0103Z"
                fill="white"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M23.5505 19.6553C23.658 19.5164 23.77 19.3865 23.9536 19.3507C24.3075 19.279 24.6389 19.5075 24.6434 19.8658C24.6569 20.7616 24.6524 21.6575 24.6434 22.5533C24.6434 22.7862 24.4911 22.9923 24.2716 23.0594C24.0477 23.1445 23.7924 23.0774 23.6446 22.8848C23.5684 22.7907 23.5371 22.7728 23.4296 22.8579C23.022 23.1893 22.5606 23.2476 22.0634 23.0863C21.2661 22.8265 20.9391 22.2039 20.8496 21.4469C20.7555 20.6273 21.0287 19.9285 21.7633 19.4985C22.3725 19.1357 22.9906 19.167 23.5505 19.6553ZM21.9649 21.2902C21.9738 21.4873 22.0365 21.6754 22.153 21.8321C22.3949 22.1546 22.8562 22.2218 23.1832 21.98C23.237 21.9396 23.2862 21.8904 23.331 21.8321C23.5819 21.4917 23.5819 20.9318 23.331 20.5914C23.2056 20.4167 23.0085 20.3137 22.798 20.3092C22.3053 20.2779 21.9604 20.6586 21.9649 21.2902Z"
                fill="white"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M26.6546 21.317C26.6187 20.1659 27.3757 19.3059 28.4507 19.2745C29.5929 19.2387 30.426 20.0046 30.4619 21.1244C30.4977 22.2577 29.8034 23.0594 28.7329 23.1669C27.5638 23.2834 26.6367 22.4368 26.6546 21.317ZM27.7788 21.2095C27.7699 21.4335 27.8371 21.653 27.9714 21.8366C28.2178 22.1591 28.6792 22.2218 29.0017 21.971C29.0509 21.9352 29.0912 21.8904 29.1315 21.8456C29.3913 21.5052 29.3913 20.9318 29.136 20.5914C29.0106 20.4212 28.8135 20.3137 28.603 20.3092C28.1193 20.2824 27.7788 20.6496 27.7788 21.2095Z"
                fill="white"
              />
              <path
                d="M26.2604 20.4257C26.2604 20.6571 26.2609 20.8885 26.2614 21.12C26.2624 21.5828 26.2634 22.0457 26.2604 22.5085C26.2649 22.8265 26.014 23.0908 25.696 23.0998C25.6423 23.0998 25.584 23.0953 25.5303 23.0818C25.3063 23.0236 25.1361 22.7862 25.1361 22.504V18.9431C25.1361 18.8727 25.1356 18.8029 25.1351 18.7332C25.1341 18.5944 25.1331 18.4562 25.1361 18.316C25.1406 17.9711 25.3601 17.7471 25.6915 17.7471C26.032 17.7427 26.2604 17.9666 26.2604 18.325C26.2634 18.7909 26.2624 19.2588 26.2614 19.7261C26.2609 19.9593 26.2604 20.1931 26.2604 20.4257Z"
                fill="white"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.4313 29.403C11.4764 30.8095 12.5665 31.9742 13.983 32.0312C14.8129 32.0616 15.6448 32.0528 16.476 32.044C16.8693 32.0399 17.2632 32.0357 17.6559 32.0357C17.7455 32.0357 17.8351 32.0402 17.9247 32.0491H24.3971C24.9335 32.0491 25.4699 32.0501 26.0063 32.0511L26.0096 32.0511C27.0846 32.0531 28.1596 32.0551 29.2346 32.0491H29.257C30.5601 32.0374 31.639 31.1115 31.8896 29.8841C31.9719 29.6125 32.0161 29.3242 32.0161 29.0257V15.4538C32.0161 13.8211 30.6926 12.4976 29.0599 12.4976H14.3637C14.0809 12.4976 13.8073 12.5373 13.5483 12.6114C12.461 12.8655 11.5831 13.7486 11.4479 14.9636C11.4213 15.123 11.4075 15.2868 11.4075 15.4538V29.0257C11.4075 29.1535 11.4156 29.2794 11.4313 29.403ZM18.711 12.5871C18.6955 12.6268 18.6577 12.6436 18.6216 12.6597C18.6063 12.6664 18.5914 12.6731 18.5786 12.6812C17.6917 13.2008 16.881 13.8234 16.2002 14.5938C15.0759 15.8659 14.2965 17.3261 14.0323 19.0237C13.5664 22.0203 14.5026 24.5644 16.6212 26.6876C16.9975 27.0683 17.0467 27.3639 16.7466 27.8745C16.3838 28.4882 15.8329 28.9048 15.2461 29.2855C15.2043 29.3094 15.1625 29.3372 15.1207 29.3651C15.0998 29.379 15.0789 29.393 15.058 29.4064C14.9639 29.487 15.0222 29.5274 15.1028 29.5632C15.1207 29.6035 15.1431 29.6393 15.17 29.6752C15.4743 29.9451 15.7692 30.2259 16.0639 30.5066C16.2681 30.701 16.4723 30.8955 16.6795 31.0861C16.9169 31.3056 17.1542 31.534 17.3827 31.7625C17.4023 31.7802 17.4247 31.7955 17.448 31.8099C17.4247 31.7943 17.4023 31.7776 17.3827 31.758C17.1542 31.5251 16.9169 31.3011 16.6795 31.0816C16.4723 30.891 16.2681 30.6966 16.0639 30.5021C15.7691 30.2214 15.4742 29.9406 15.17 29.6707C15.1431 29.6349 15.1207 29.599 15.1028 29.5587C16.245 29.7827 17.3603 29.6304 18.4577 29.2944C18.8295 29.1825 19.2012 29.0705 19.5775 28.9764C19.8328 28.9092 20.1015 28.9227 20.3479 29.0123C23.1877 29.9887 25.9917 29.8991 28.7508 28.6898C29.8751 28.1926 30.9008 27.4938 31.7698 26.6204C31.7805 26.6096 31.7905 26.5976 31.8006 26.5854C31.8325 26.5469 31.8653 26.5073 31.9266 26.5039V15.4538C31.9266 13.8705 30.6432 12.5871 29.0599 12.5871H18.711Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="footer-infomation">
          <div class="row">
            <div class="col-md-7">
              <div class="content-contact">
                <p>
                  <img src="./assets/img/ft-phone.png" alt="" />
                  <span>+855 63 766 728</span>
                </p>
                <p>
                  <img src="./assets/img/ft-mail.png" alt="" />
                  <span>help@traveland.asia</span>
                </p>
                <p>
                  <img src="./assets/img/ft-address.png" alt="" />
                  <span>203 Sangkat, Svay Dungum, Siem Reap, Cambodia</span>
                </p>
              </div>
            </div>
            <div class="col-md-5">
              <ul class="menu-footer">
                <li class="item">
                  <a href=""><strong>HOME</strong></a>
                </li>
                <li class="item">
                  <a href="">Styles</a>
                </li>
                <li class="item">
                  <a href="">About</a>
                </li>
                <li class="item">
                  <a href="">Guides</a>
                </li>
                <li class="item">
                  <a href="">Discover</a>
                </li>
                <li class="item">
                  <a href="">Sustainability</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">© Copyright 2023 by Traveland</div>
  </div>
</footer>
