<header class="travel-menu">
  <div class="container">
    <nav class="navbar navbar-dark fixed-top navbar-expand-lg navbar-light">
      <div class="navbar-brand logo">
        <a href="/home.html"
          ><img alt="logo" src="./assets/img/logo.png"
        /></a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              href="/about-us.html"
              id="navbarDropdown-about-us"
              role="button"
            >
              About us
            </a>
            <!-- <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdown-about-us"
            >
              <a class="dropdown-item" href="/what-define-us.html"
                >What defines us?</a
              >
              <a class="dropdown-item" href="/our-timelines.html"
                >Our Timeline</a
              >
              <a class="dropdown-item" href="/meet-the-team.html"
                >Meet Our Team</a
              >
            </div> -->
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown-destination"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Destination
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdown-destination"
            >
              <a class="dropdown-item" href="/viet-nam.html">Vietnam</a>
              <a class="dropdown-item" href="/cambodia.html">Cambodia</a>
              <a class="dropdown-item" href="/laos.html">Laos</a>
              <a class="dropdown-item" href="/myanmar.html">Myanmar</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown-travel-styles"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Travel Styles
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdown-travel-styles"
            >
              <a class="dropdown-item" href="/group-tours.html"
                >Series/Group tour</a
              >
              <a class="dropdown-item" href="/leisure-travel-styles.html"
                >Leisure travel styles</a
              >
              <a class="dropdown-item" href="/customized-tour.html"
                >Customized tour</a
              >
              <a class="dropdown-item" href="/mice.html">MICE</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/travel-guide.html">Guides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sustainability.html">Sustainability</a>
          </li>
        </ul>
        <div class="box-search-menu">
          <button type="button" class="my-2 my-lg-0 btn-search-top">
            <svg
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M384 208A176 176 0 1 0 32 208a176 176 0 1 0 352 0zM343.3 366C307 397.2 259.7 416 208 416C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208c0 51.7-18.8 99-50 135.3L507.3 484.7c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0L343.3 366z"
              />
            </svg>
          </button>

          <form class="form-inline form-search-top">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
