<div class="modal fade" id="popupPlanHoliday" tabindex="-1" aria-labelledby="popupPlanHolidayLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded">
        <div class="heading background-blue d-flex justify-content-between py-3 px-4 text-white">
            <h3 class="fz-24">PLAN YOUR HOLIDAY</h3>
            <button type="button" class="font-weight-bold" data-dismiss="modal" aria-label="Close">
                <i class="fa-solid fa-xmark fz-24 font-weight-bold text-white"></i>
            </button>
        </div>
        <div class="body color-gray py-4 px-3">
            <div class="description mb-4">
                <p class="fw-500">
                    In order to plan your desire holiday and secure our promotion rate, please fill the form below. We guarantee that your personal information will not be shared, exchanged or sold with / to anyone or other third organization.
                </p>
            </div>
            <div class="form">
                <div class="row align-items-center mb-3">
                    <div class="col-md-4 col-12">
                        <h5 class="fz-14 font-weight-bold pl-lg-3 pl-0">Full Name *</h5>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="text" class="w-100 px-3 py-2">                        
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-md-4 col-12">
                        <h5 class="fz-14 font-weight-bold pl-lg-3 pl-0">Your Email *</h5>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="text" class="w-100 px-3 py-2">                        
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-md-4 col-12">
                        <h5 class="fz-14 font-weight-bold pl-lg-3 pl-0">Your Phone</h5>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="text" class="w-100 px-3 py-2">                        
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-lg-4 col-12">
                        <h5 class="fz-14 font-weight-bold pl-lg-3 pl-0">Preferred travel date *</h5>
                    </div>
                    <div class="col-lg-8 col-12 d-flex">
                        <div class="col-6 px-0">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                <div class="input-group-text">From</div>
                                </div>
                                <input type="date" class="form-control rounded-0" id="inlineFormInputGroup" placeholder="YYYY/MM/DD">
                            </div>                  
                        </div>
                        <div class="col-6 px-0">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                <div class="input-group-text rounded-0">To</div>
                                </div>
                                <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="YYYY/MM/DD">
                            </div>                  
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-md-4 col-12">
                        <h5 class="fz-14 font-weight-bold pl-lg-3 pl-0">Preferred destinations *</h5>
                    </div>
                    <div class="col-md-8 col-12">
                        <select class="form-control fz-14 fw-500" id="exampleFormControlSelect1">
                            <option disabled selected hidden>multiple choices available...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>                        
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-md-6 col-12 flex-column align-items-center mb-3">
                        <h6 class="fz-14 font-weight-bold text-center">Number of adults</h6>
                        <input type="number" value="1" min="1" class="text-center w-100 px-3 py-2">
                    </div>
                    <div class="col-md-6 col-12 flex-column align-items-center mb-3">
                        <h6 class="fz-14 font-weight-bold text-center">Number of children</h6>
                        <input type="number" value="0" min="0" class="text-center w-100 px-3 py-2">
                    </div>
                    <div class="col-md-6 col-12 flex-column align-items-center mb-3">
                        <h6 class="fz-14 font-weight-bold text-center">Travel style</h6>
                        <select class="form-control fz-14 fw-500" id="exampleFormControlSelect1">
                            <option disabled selected hidden>Culture and history</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>  
                    </div>
                    <div class="col-md-6 col-12 flex-column align-items-center mb-3">
                        <h6 class="fz-14 font-weight-bold text-center">Service Category</h6>
                        <select class="form-control fz-14 fw-500" id="exampleFormControlSelect1">
                            <option disabled selected hidden>Standard</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>  
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-12">
                        <h5 class="fz-14 font-weight-bold text-center">Your further comments</h5>
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>                        
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-md-4 col-12">
                        <h5 class="fz-14 font-weight-bold pl-lg-3 pl-0">Promo Code</h5>
                    </div>
                    <div class="col-md-8 col-12 d-flex">
                        <input type="text" class="w-100 px-3 py-2">
                        <button type="button" class="btn background-blue text-white fw-500 ml-2">Apply</button>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn text-white fw-500 background-green border-0">Start with us</button>
            <button type="button" class="btn text-white fw-500 background-red border-0" data-dismiss="modal">Cancel</button>
        </div>
  </div>
</div>