<div class="viet-nam__culture container pt-5 mb-5">
  <div class="row m-md-5">
    <div class="col-lg-6 col-12 p-4">
      <img class="w-100" src="./assets/img/Layer 1.png" alt="Layer 1" usemap="#image-map-laos">
      <map name="image-map-laos">
        <area class="pointer" target="" alt="" title="LUANG PRABANG" coords="148,204,22" shape="circle">
        <area class="pointer" target="" alt="" title="VIENTIANE" coords="206,373,34" shape="circle">
        <area class="pointer" target="" alt="" title="VANG VIENG" coords="189,310,30" shape="circle">
        <area class="pointer" target="" alt="" title="XIENG KHOANG" coords="NaN" shape="circle">
        <area class="pointer" target="" alt="" title="SOUTHERN LAOS" coords="NaN" shape="circle">
    </map>
    </div>
    <div class="viet-nam__culture--intro col-lg-6 col-12">
      <img class="w-100" src="./assets/img/Rectangle 295 (10).png" alt="#">
      <div class="px-3 mb-4">
        <h6 class="title fz-14 font-weight-bold">VIENTIANE</h6>
        <p class="description">
          Located in the Northwest of Laos, Vientiane is the capital as well as the largest city of Laos. Compared to the hectic, bustling capitals in other Southeast Asian countries, Vientiane is known for its laid back atmosphere. The city presents a valuable, long-standing Laos with ancient, golden relics, mystic stories related to Buddhism and Hinduism, historic religious beliefs and mixed Lao-France architecture with Laos sculptures. It’s the most attractive destination for those who enjoy a peaceful, relaxed vibe. Even though in Vientiane the days blend into one another, once you leave, you’ll miss this place more than you expected. Just apart from Thailand by a bridge over Mekong River, Vientiane is still a border-gate, from where you will leave behind the developed, hectic, modernized 21st-century world to deep yourself into a laid-back atmosphere and slow pace of life that you may have always wished for. With very few traffic jams, noise or rush hours, Vientiane presents a valuable, long-standing Laos with golden relics, solemn pagodas, and crowded but elegant streets and boulevards.</p>
      </div>
      <div class="row px-3 ">
        <div class="info_1 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (5).png" alt="#">
          <p>Visit Theravada pagodas; attend annual Pha That Luang Festival in October.</p>
        </div>
        <div class="info_2 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (6).png" alt="#">
          <p>Take Vientiane as the departure to the elephant feeding center at Phu Khao Khuay National Protected area, or to Vang Vieng and the Plain of Jars.</p>
        </div>
        <div class="info_3 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (7).png" alt="#">
          <p>Walking, biking or taking tuk tuk to enjoy the peaceful atmosphere around the city and visit the central temples.</p>
        </div>
        <div class="info_4 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (8).png" alt="#">
          <p>Taking place at dyes class or visiting Lao Textiles workshop, studio and gallery creates woven art.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="viet-nam__culture--trending d-flex flex-column align-items-center">
    <h4 class="fz-24 mb-4">TRENDING NOW</h4>
    <div class="d-flex">
      <img class="px-3 pointer" src="./assets/img/icon-youtube.png" alt="icon youtube">
      <img class="px-3 pointer" src="./assets/img/icon-insta.png" alt="icon instagram">
      <img class="px-3 pointer" src="./assets/img/icon-fb.png" alt="icon facebook">
      <img class="px-3 pointer" src="./assets/img/icon-linkin.png" alt="icon linkin">
      <img class="px-3 pointer" src="./assets/img/icon-twitter.png" alt="icon twitter">
    </div>
  </div>
</div>