<div class="viet-nam__description container py-5">
  <p class="mb-4">Often overlooked in favor of its better-known neighbors, landlocked Laos remains one of Southeast Asia’s most beguiling destinations. Caught in the middle of the two Indochina wars and long isolated from the rest of the world, the country retains a slow, rather old-fashioned charm, and its people – incredibly laidback and friendly, even by Asian standards – are undoubtedly one of the highlights of any visit.</p>
  <img class="w-100" src="./assets/img/Rectangle 295 (9).png" alt="Rectangle 295 (7)">
</div>