<div class="viet-nam__recommended container pt-5">
  <div class="heading d-flex justify-content-center mb-4">
    <h2 class="heading-title-main">RECOMMENDED TOUR</h2>
  </div>
  <div class="viet-nam__recommended--tour">
    <div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <img src="./assets/img/Rectangle 295 (2).png" alt="">
        </div>
        <div class="col-lg-6 col-12 mt-2">
          <div class="intro mb-2">
            <h4 class="fz-24">
              <span>16 Day.</span> A glance to Indochina (Vietnam, Cambodia, Laos)
            </h4>
            <span class="sub-title d-block my-2">ASIA COMBO • TOUR-ID: ASA16</span>
            <b class="d-block my-3 fz-20">$50</b>
            <p class="description">This 16 day tour takes you to visit the best of Vietnam, Cambodia and Laos. Discover the greatest landscapes: Hanoi city, Halong Bay, Ho Chi Minh city, Mekong floating market. Visit the historical places in Cambodia including Angkor Wat, Angkor Thom, Ta Prohm and the lovely Laos.</p>
          </div>
          <div class="details">
            <h4 class="fz-18 px-3 py-2">DESTINATION</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Country</div>
              <div class="col-9">Cambodia, Laos, Vietnam, Myanmar</div>
            </div>
            <h4 class="fz-18 px-3 py-2">TRAVELING</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Style</div>
              <div class="col-9">Daily Depature, Small Group, Private Tour</div>
            </div>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Theme</div>
              <div class="col-9">Discovery, Wonder, Cruise, Culture, History</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <img src="./assets/img/Rectangle 295 (3).png" alt="">
        </div>
        <div class="col-lg-6 col-12 mt-2">
          <div class="intro mb-2">
            <h4 class="fz-24">
              <span>16 Day.</span> A glance to Indochina (Vietnam, Cambodia, Laos)
            </h4>
            <span class="sub-title d-block my-2">ASIA COMBO • TOUR-ID: ASA16</span>
            <b class="d-block my-3 fz-20">$50</b>
            <p class="description">This 16 day tour takes you to visit the best of Vietnam, Cambodia and Laos. Discover the greatest landscapes: Hanoi city, Halong Bay, Ho Chi Minh city, Mekong floating market. Visit the historical places in Cambodia including Angkor Wat, Angkor Thom, Ta Prohm and the lovely Laos.</p>
          </div>
          <div class="details">
            <h4 class="fz-18 px-3 py-2">DESTINATION</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Country</div>
              <div class="col-9">Cambodia, Laos, Vietnam, Myanmar</div>
            </div>
            <h4 class="fz-18 px-3 py-2">TRAVELING</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Style</div>
              <div class="col-9">Daily Depature, Small Group, Private Tour</div>
            </div>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Theme</div>
              <div class="col-9">Discovery, Wonder, Cruise, Culture, History</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <img src="./assets/img/Rectangle 295 (4).png" alt="">
        </div>
        <div class="col-lg-6 col-12 mt-2">
          <div class="intro mb-2">
            <h4 class="fz-24">
              <span>16 Day.</span> A glance to Indochina (Vietnam, Cambodia, Laos)
            </h4>
            <span class="sub-title d-block my-2">ASIA COMBO • TOUR-ID: ASA16</span>
            <b class="d-block my-3 fz-20">$50</b>
            <p class="description">This 16 day tour takes you to visit the best of Vietnam, Cambodia and Laos. Discover the greatest landscapes: Hanoi city, Halong Bay, Ho Chi Minh city, Mekong floating market. Visit the historical places in Cambodia including Angkor Wat, Angkor Thom, Ta Prohm and the lovely Laos.</p>
          </div>
          <div class="details">
            <h4 class="fz-18 px-3 py-2">DESTINATION</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Country</div>
              <div class="col-9">Cambodia, Laos, Vietnam, Myanmar</div>
            </div>
            <h4 class="fz-18 px-3 py-2">TRAVELING</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Style</div>
              <div class="col-9">Daily Depature, Small Group, Private Tour</div>
            </div>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Theme</div>
              <div class="col-9">Discovery, Wonder, Cruise, Culture, History</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <img src="./assets/img/Rectangle 295 (5).png" alt="">
        </div>
        <div class="col-lg-6 col-12 mt-2">
          <div class="intro mb-2">
            <h4 class="fz-24">
              <span>16 Day.</span> A glance to Indochina (Vietnam, Cambodia, Laos)
            </h4>
            <span class="sub-title d-block my-2">ASIA COMBO • TOUR-ID: ASA16</span>
            <b class="d-block my-3 fz-20">$50</b>
            <p class="description">This 16 day tour takes you to visit the best of Vietnam, Cambodia and Laos. Discover the greatest landscapes: Hanoi city, Halong Bay, Ho Chi Minh city, Mekong floating market. Visit the historical places in Cambodia including Angkor Wat, Angkor Thom, Ta Prohm and the lovely Laos.</p>
          </div>
          <div class="details">
            <h4 class="fz-18 px-3 py-2">DESTINATION</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Country</div>
              <div class="col-9">Cambodia, Laos, Vietnam, Myanmar</div>
            </div>
            <h4 class="fz-18 px-3 py-2">TRAVELING</h4>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Style</div>
              <div class="col-9">Daily Depature, Small Group, Private Tour</div>
            </div>
            <div class="row px-3 py-2">
              <div class="col-3 font-weight-bold">Theme</div>
              <div class="col-9">Discovery, Wonder, Cruise, Culture, History</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="paginate d-flex justify-content-center mt-4">
      <ul class="pagination">
        <li class="pagination-item px-3 py-2 active"><a href="#">1</a></li>
        <li class="pagination-item px-3 py-2"><a href="#">2</a></li>
        <li class="ellipsis px-3 py-2">...</li>
        <li class="pagination-item px-3 py-2"><a href="#">99</a></li>
      </ul>
    </div>
  </div>
</div>