<div class="slide-intro">
  <div class="heading">
    <h2>LAID-BACK LAOS</h2>
  </div>
  <div id="carouselPageVietNam" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators justify-content-center">
      <li data-target="#carouselPageVietNam" data-slide-to="0" class="active"></li>
      <li data-target="#carouselPageVietNam" data-slide-to="1"></li>
      <li data-target="#carouselPageVietNam" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/img/laos3.jpeg" class="d-block w-100" alt="Rectangle 347.png">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/wat-xieng-thong-laos.jpeg" class="d-block w-100" alt="banner-home-2.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/monks-1822569_1920.jpeg" class="d-block w-100" alt="banner-home-3.jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev z-index-10" type="button" data-target="#carouselPageVietNam" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next z-index-10" type="button" data-target="#carouselPageVietNam" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>
