<div class="viet-nam__weather position-relative">
  <img src="./assets/img/Rectangle 381 (1).png" class="d-block w-100 background" alt="weather" />
  <div class="viet-nam__weather--breadcrumbs position-absolute d-flex align-items-center">
    <hr>
    <div class="items text-white fz-16">
      <span class="weather-tab pointer px-4 active">Weather</span>
       / 
      <span class="quick-facts-tab pointer px-4">Quick facts</span>
       / 
      <span class="faq-tab pointer px-4">Useful FAQs</span>
    </div>
  </div>
  <div class="viet-nam__weather--content position-absolute p-lg-5 p-4 text-white fz-18 font-weight-bold">
    <div class="weather d-none d-block">
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          REGION
        </h3>
        <p class="text-center px-4">1 <br> JAN</p>
        <p class="text-center px-4">2 <br> FEB</p>
        <p class="text-center px-4">3 <br> MAR</p>
        <p class="text-center px-4">4 <br> APR</p>
        <p class="text-center px-4">5 <br> MAY</p>
        <p class="text-center px-4">6 <br> JUN</p>
        <p class="text-center px-4">7 <br> JUL</p>
        <p class="text-center px-4">8 <br> AUG</p>
        <p class="text-center px-4">9 <br> SEP</p>
        <p class="text-center px-4">10 <br> OCT</p>
        <p class="text-center px-4">11 <br> NOV</p>
        <p class="text-center px-4">12 <br> DEC</p>
      </div>
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          VIENTIANE
        </h3>
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun.png" alt="rain">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
      </div>
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white text-uppercase">
          luang prabang <br> / north region <br> / bolavens trail
        </h3>
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/sun.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="snowflake">
      </div>
            <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white text-uppercase">
          pakse and <br> south region
        </h3>
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun">
        <img class="mx-4" src="./assets/img/snowflake 1.png" alt="sun">
      </div>
    </div>
    <div class="quick-facts d-none">
      <div class="row">
        <div class="col-6">
          <div class="area mb-3">
            <h3>AREA:</h3>
            <div class="d-flex align-items-center">
              <h1>237,955</h1>
              <span>km2</span>
            </div>
          </div>
          <div class="population mb-3">
            <h3>POPULATION:</h3>
            <div class="d-flex align-items-center">
              <h1>6.5</h1>
              <span>million <br> (2015)</span>
            </div>
          </div>
          <div class="capital d-flex mb-3">
            <h3>CAPITAL:</h3>
            <span class="pl-2">Vientiane</span>
          </div>
          <div class="language mb-3">
            <h3>MAIN TOURIS DESTINATIONS:</h3>
            <span class="pl-2">Luang Prabang, Vientiane, Vang Vieng, Xieng Khoang and Southern Laos</span>
          </div>
          <div class="coordinates mb-3 d-flex">
            <h3>CURRENCY:</h3>
            <span class="pl-2">Kip (LAK)</span>
          </div>
          <div class="religion mb-3">
            <h3>LANGUAGE:</h3>
            <span>Lao, Hmong, Khmu</span>
          </div>
        </div>
        <div class="col-6">
          <div class="coordinates mb-3 d-flex">
            <h3>RELIGION:</h3>
            <span class="pl-2">Buddhism</span>
          </div>
          <div class="coordinates mb-3 d-flex">
            <h3>COORDINATES:</h3>
            <span class="pl-2">11° 59' 16.68'' N;  ‎104° 58' 50.21'' E</span>
          </div>
          <div class="electricity mb-3">
            <h3>ELECTRICITY:</h3>
            <span>Between</span>
            <div class="d-flex align-items-center">
              <h1>220 - 230</h1>
              <span>Volt <br> 50 Hz</span>
            </div>
            <span>Plugs with two flat pins</span>
          </div>
          <div class="religion mb-3">
            <h3>TIME ZONE:</h3>
            <div class="d-flex align-items-center">
              <h1>GMT+7</h1>
              <span>Hours</span>
            </div>
            <span>Daylight saving time (DST) is not implemented in Laos.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="faq p-lg-5 d-none p-4 w-100">
      <div class="item">
        <div class="d-none d-block i1">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Visa for Laos</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-visa-viet-nam" aria-expanded="false" aria-controls="faq-visa-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-visa-viet-nam">
            The VOA is valid for a single entry of 30 days and may be extended by an additional 60 days. Alternatively, most nationalities are also eligible to apply for a tourist e-Visa online to avoid long queues when entering the country. All visa applications require a passport with six months validity and an empty page, as well as two passport photos and visa fee in cash (amount depends on nationality). As travel policies change regularly, it’s best to check the official government website for the latest regulations before visiting.
          </p>
        </div>
        <div class="d-none i2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Best time to visit</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-best-time" aria-expanded="false" aria-controls="faq-best-time" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-best-time">
            Laos only has two distinct seasons—dry and wet—and during the rainy season, which lasts from May to October, many people are genuinely content to remain there. 
            <br>
            Accepting some moderately heavy rain, typically in the afternoons but perhaps not for any extended periods, will be necessary.
            <br>
            The benefit of visiting during that time is that there are less tourists and prices are lower. The Mekong River can flood occasionally, especially in the months of July and August.
          </p>
        </div>
        <div class="d-none i3">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Dress code in Laos</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-dess-code" aria-expanded="false" aria-controls="faq-dess-code" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-dess-code">
            All guests are required to adhere strictly to the Royal Palace's rigorous and temple dress code, which calls for conservative attire. Please cover up before entering if you are a man or woman wearing shorts or a short skirt.
          </p>
        </div>
        <div class="d-none i4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Emergency contact</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-emergency" aria-expanded="false" aria-controls="faq-emergency" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-emergency">
            If there is an issue, you should, if possible, get in touch with your Embassy. This is especially true for situations like passport loss. Due to the low salary of police, obtaining a report may require filing an insurance claim, possibly paying a bribe, and having a translation on hand since few police officers will be able to speak English. Clearly, urban regions with higher access to healthcare than rural locations include Vientiane and Luang Prabang. Get a list of crucial phone numbers for the areas listed on your itinerary.
          </p>
        </div>
        <div class="d-none i5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Safety in Laos</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-safety-viet-nam" aria-expanded="false" aria-controls="faq-safety-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-safety-viet-nam">
            Laos is a generally safe country, and reports of travelers experiencing any physical issues are extremely rare. Be on the lookout for pickpockets and always keep any expensive electronics and documents in a safe location because pickpockets may appear in well-known tourist spots.
          </p>
        </div>
        <div class="d-none i6">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Do and don’t in Laos</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-do-dont" aria-expanded="false" aria-controls="faq-do-dont" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-do-dont">
            Visitors may be recommended to bring any necessary basic medications and prescription medications since Laos only offers basic healthcare. If you abide by some ground rules and show respect for the local religion and culture, you may anticipate finding a reasonably laid-back atmosphere.

            <br>
            Do
            <br>
            <span class="pl-3 d-block pt-1">
              - Recognize the standard greeting.
              <br>
              - In any religious setting, dress modestly. If in doubt, wear modest clothing regardless in case your plans alter throughout the day.
              <br>
              - In the presence of a Buddha and monks, slightly bowed.
              <br>
              - When entering a residence, remove your shoes.
              <br>
              - When offered food or water, accept it even if you're not hungry or thirsty.
              <br>
              - Exercise patience since certain things take time.
            </span>
            <br>
            Don’t
            <br>
            <span class="pl-3 d-block pt-1">
            - Ever touch a Lao person's head.
            <br>
            - Always wear modest clothing
            <br>
            - Drink tap water; there is also access to plenty of bottled water.
            <br>
            - Drink too much; it's disrespectful.
            <br>
            - Touch a Buddha or turn your back on it in disobedience.
            <br>
            - Throw trash everywhere.
            </span>
          </p>
        </div>
      </div>
      <div class="pagination fz-14 d-flex mt-3">
        <div class="px-3 py-2 pointer p1 active">1.</div>
        <div class="px-3 py-2 pointer p2">2.</div>
        <div class="px-3 py-2 pointer p3">3.</div>
        <div class="px-3 py-2 pointer p4">4.</div>
        <div class="px-3 py-2 pointer p5">5.</div>
        <div class="px-3 py-2 pointer p6">6.</div>
      </div>
    </div>
  </div>
</div>