<section class="bgr-section-2">
  <div class="traveland-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="traveland-service--img">
            <img src="./assets/img/img-traveland-service.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="heading">
            <h3>SERVICES <img src="./assets/img/airrline.png" alt="" /></h3>
            <h2 class="heading-title-main">What we stand for</h2>
          </div>
          <div class="traveland-service--list">
            <div class="traveland-service--list-item">
              <div class="title-head">
                <img src="./assets/img/ic-relationship.png" alt="" />
                <span>Strong relationship with key suppliers</span>
              </div>
              <div class="text-description-center text-left">
                A rate winner due to special bulk agreements with hotels and
                other service providers.
              </div>
            </div>
            <div class="traveland-service--list-item">
              <div class="title-head">
                <img src="./assets/img/ic-onStop.png" alt="" />
                <span>One-stop-shop for full travel services</span>
              </div>
              <div class="text-description-center text-left">
                MICE, Full package tour, visa fast track, ticketing, airport
                transfers, hotel reservation.
              </div>
            </div>
            <div class="traveland-service--list-item">
              <div class="title-head">
                <img src="./assets/img/ic-innovatip.png" alt="" />
                <span>Innovative product team</span>
              </div>
              <div class="text-description-center text-left">
                Frequently update travel trends & be mindful in every program to
                ensure its meaningful travel purpose.
              </div>
            </div>
            <div class="traveland-service--list-item">
              <div class="title-head">
                <img src="./assets/img/ic-talented.png" alt="" />
                <span>Talented and dedicated team</span>
              </div>
              <div class="text-description-center text-left">
                Our excellent consultancy on planning the most fast & efficient
                travel services on the ground 24/7.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="traveland-experience">
    <div class="container">
      <div class="heading">
        <h2 class="heading-title-main">Experience collection</h2>
        <div class="description">
          Traveland.Asia believes that great travel experiences are created
          through passion, knowledge, and local expertise. Traveland.Asia
          product team is adaptable, dynamic, and forward-thinking to keep up
          with the latest news and trends. From community-based travel to luxury
          holidays or any special-interest tours, we offer customized
          itineraries to suit individual or group requirements by our suitable
          specialists in each segment.
        </div>
      </div>
      <div class="body-exper">
        <div class="row">
          <div class="col-md-6 item-col">
            <a href="/group-tours.html">
              <div class="box-exper">
                <div class="icon-exper">
                  <img src="./assets/img/ic-exper (1).png" alt="" />
                </div>
                <div class="des-exper">
                  <h3>Series/group tour</h3>
                  <div class="text">
                    Cooperated with over 1600 partners around the globe,
                    Traveland Asia is capable of leveraging our buying power to
                    secure the best deals for Group Series and fixed departures.
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 item-col">
            <a href="/leisure-travel-styles.html">
              <div class="box-exper">
                <div class="icon-exper">
                  <img src="./assets/img/ic-exper (2).png" alt="" />
                </div>
                <div class="des-exper">
                  <h3>LEISURE STYLES</h3>
                  <div class="text">
                    Our products are rather diversified and customizable:
                    classic tours (culture, history, nature) | Adventure tours
                    (biking, hiking, trekking,…)| Golf tour| Beach tours/Free &
                    easy hotel package and theme tours (yoga, study…)
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 item-col">
            <a href="/mice.html">
              <div class="box-exper">
                <div class="icon-exper">
                  <img src="./assets/img/ic-exper (3).png" alt="" />
                </div>
                <div class="des-exper">
                  <h3>Mice</h3>
                  <div class="text">
                    MICE is becoming one of our strong points recently. We have
                    successfully organized many groups coming from different
                    fields and different cultures stretching from Asian to
                    Western countries but sharing the common high satisfactions
                    on our services.
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 item-col">
            <a href="/customized-tour.html">
              <div class="box-exper">
                <div class="icon-exper">
                  <img src="./assets/img/ic-exper (4).png" alt="" />
                </div>
                <div class="des-exper">
                  <h3>CUSTOMIZED TOUR</h3>
                  <div class="text">
                    Our team of experienced professionals is dedicated to
                    delivering innovative solutions that meet the unique needs
                    of each client. We tailor every travel itinerary based on
                    our most requested highlights, from the most common route to
                    those that go out of the ordinary.
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
