<div class="find-your-destination">
  <div class="container">
    <div class="heading">
      <h3>Find your</h3>
      <h2
        class="heading-title-main d-flex align-items-center justify-content-center"
      >
        <img src="./assets/img/ic-fly.png" alt="" />
        favorite destination
        <img src="./assets/img/ic-address.png" alt="" />
      </h2>
    </div>
  </div>
  <div class="find-your-destination--owl">
    <div class="center slider">
      <div class="slider-item">
        <img
          src="./assets/img/LAOS.jpeg"
        />
        <div class="heading-title">
          <h3>LAOS</h3>
        </div>
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/VIETNAM.jpeg"
        />
        <div class="heading-title">
          <h3>Vietnam</h3>
        </div>
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/LAOS.jpeg"
        />
        <div class="heading-title">
          <h3>LAOS</h3>
        </div>
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/CAMBODIA.jpeg"
        />
        <div class="heading-title">
          <h3>CAMBODIA</h3>
        </div>
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/VIETNAM.jpeg"
        />
        <div class="heading-title">
          <h3>Vietnam</h3>
        </div>
      </div>
    </div>
    <div class="btn-wrap">
      <button class="prev-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="30"
          viewBox="0 0 18 30"
          fill="none"
        >
          <path
            d="M15 27L3 15L15 3"
            stroke="white"
            stroke-width="5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <button class="next-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="30"
          viewBox="0 0 18 30"
          fill="none"
        >
          <path
            d="M3 27L15 15L3 3"
            stroke="white"
            stroke-width="5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
