<div class="about-us about-position">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="body-content">
          <p>
            Welcome to Traveland.Asia! one of the top DMC has been nominated in Indochina for over 2 decades. Offering high-quality travel packages, value-based travel services, MICE and sustainable experience-rich solutions in Vietnam and Indochina, our extensive products are built by a deeply rooted understanding, corporate social responsibility and appreciation of Asia’s rich and diverse cultures.
          </p>
          <p>
            With a constant innovation and non-stop working philosophy, each of our products is fulfilled by enormous effort from our original Asian product team to our current network of global representatives. In each country we operate, we’ve curated in-depth and customized tours that uncover the most authentic parts of each destination while ensuring top-notch ground services.
          </p>
          <p>
            Regardless of our clients and markets, either with package tours, tailor-made inquiries, or any kind of travel service, our expertise and professionalism will never be compromised.
          </p>
        </div>
        <br />
        <a href="" class="btn btn-success btn-custom">
          Find out more
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="10"
            viewBox="2 2 8 10"
            fill="none"
          >
            <path
              d="M1 13L7 7L1 1"
              stroke="white"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="col-lg-6">
        <div class="about-us--sevice">
          <div class="about-us--sevice-item">
            <img src="./assets/img/ic-sevice-1.png" alt="" />
            <h3 class="heading">Our Mission</h3>
            <div class="text-description-center">
              Sustainable Tourism is central to our ethos. Working as a responsible tour operator, our mission is to make tourism sustainable & ethical for all.
            </div>
          </div>
          <div class="about-us--sevice-item">
            <img src="./assets/img/ic-sevice-2.png" alt="" />
            <h3 class="heading">Our Core Values</h3>
            <div class="text-description-center">
              Dedicated teamwork with more than 60 multi-lingual enthusiastic specialists for instant support. Tours are designed with definite mindfulness to the environment.
            </div>
          </div>
          <div class="about-us--sevice-item">
            <img src="./assets/img/ic-sevice-3.png" alt="" />
            <h3 class="heading">Our Global Networks</h3>
            <div class="text-description-center">
              Our wide network of sales representatives stretches from Asia to Europe & operation offices across the travel destinations to ensure optimal services on the spot.
            </div>
          </div>
          <div class="about-us--sevice-item">
            <img src="./assets/img/ic-sevice-4.png" alt="" />
            <h3 class="heading">Our Reliability</h3>
            <div class="text-description-center">
              Long-standing experience in 2 decades dealing with various markets; financial stability with Travel Liability Insurance Package of USD 1,000,000
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
