<div class="affiliates-traveland">
  <h3>Our Affiliates</h3>
  <ul class="affiliates-traveland--brand">
    <li>
      <img src="./assets/img/2.png" alt="" />
    </li>
    <li>
      <img src="./assets/img/4(1).png" alt="" />
    </li>
    <li>
      <img src="./assets/img/Asset-16.png" alt="" />
    </li>
    <li>
      <img src="./assets/img/PATA.png" alt="" />
    </li>
    <li>
      <img src="./assets/img/Vietnam timeless charm.png" alt="" />
    </li>
    <li>
      <img src="./assets/img/VISTA.png" alt="" />
    </li>
  </ul>
</div>