<div class="home__testimonial--slide">
  <div id="testimonial" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators justify-content-center">
      <li data-target="#testimonial" data-slide-to="0" class="active"></li>
      <li data-target="#testimonial" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="position-relative h-100">
          <img
            src="./assets/img/testimonial.png"
            class="h-100 w-100"
            alt="..."
          />
          <div class="body-testimonial text-white position-absolute text-center w-100 px-4 px-md-0">
            <h4 class="fw-600 pb-2">Testimonial</h4>
            <h3 class="font-weight-bold text-uppercase pb-2 pb-md-3">what our clients are saying?</h3>
            <p>
              “Everything went very smoothly... All the hotels you recommended were excellent, very clean, with friendly staff,<br> more than pleased. Both to boat trips you recommended and arranged were brilliant... As you know <br> your company was recommended to us by relatives, who were happy with your services,<br> and we too would have no hesitation in recommending your company to anyone looking to go on an Indochina trip”
            </p>
            <div class="name-auth d-flex flex-column pt-2 pt-md-2">
              <span class="font-weight-bold fz-18">CLAY JOHNSON</span>
              <span class="fz-14 fw-600">Business Director</span>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="position-relative h-100">
          <img
            src="./assets/img/testimonial.png"
            class="h-100 w-100"
            alt="..."
          />
          <div class="body-testimonial text-white position-absolute text-center w-100 px-4 px-md-0">
            <h4 class="fw-600 pb-2">Testimonial</h4>
            <h3 class="font-weight-bold text-uppercase pb-2 pb-md-3">what our clients are saying?</h3>
            <p>
              “This is the first time I am writing about a tour agency on TripAdvisor even though we have been travelling regularly <br> since last 12 years spanning more than 15 countries. This trip of ours was so well arranged, our correspondence <br> was handled by Ms Jacqueline based in Vietnam, the day we landed at Siem Reap on August 5th, <br> till we left back from Hanoi on August 16, the whole arrangements including the hotel stay, the transportation ,<br> the daily itinerary all was done so meticulously. The guides in all the three countries were very knowledgeable and so nice to get along."
            </p>
            <div class="name-auth d-flex flex-column pt-2 pt-md-2">
              <span class="font-weight-bold fz-18">CLAY JOHNSON</span>
              <span class="fz-14 fw-600">Business Director</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
