<div class="travel-guide-work">
  <div class="container">
    <h2 class="heading-title-main">Blog</h2>
    <div class="row">
      <div class="col-md-8 col-sm-12 mb-4">
        <div class="d-block d-md-none">
          <div class="input-group search-form">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <img src="./assets/img/icon-search.svg" alt="Search" />
              </span>
            </div>
          </div>
        </div>
        <div class="travel-guide-work--item">
          <div class="travel-guide-work--image">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/da8a7e08-f4d4-43fa-ba57-0fa110c280ea?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="img"
            />
          </div>
          <div class="travel-guide-work--blog">
            <div class="blog-title">Blog title</div>
            <div class="blog-date">October 14, 2021</div>
            <div class="blog-content">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur.
            </div>
          </div>
        </div>
        <div class="travel-guide-work--item">
          <div class="travel-guide-work--image">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/e5cdc042-0cac-4ff8-b9db-f0c3a247b768?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="img"
            />
          </div>
          <div class="travel-guide-work--blog">
            <div class="blog-title">Blog title</div>
            <div class="blog-date">October 14, 2021</div>
            <div class="blog-content">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur.
            </div>
          </div>
        </div>
        <div class="travel-guide-work--item">
          <div class="travel-guide-work--image">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/ff1b9da2-14fd-457b-8f91-e59e36c3350f?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="img"
            />
          </div>
          <div class="travel-guide-work--blog">
            <div class="blog-title">Blog title</div>
            <div class="blog-date">October 14, 2021</div>
            <div class="blog-content">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur.
            </div>
          </div>
        </div>
        <div class="travel-guide-work--item">
          <div class="travel-guide-work--image">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/f1760b2c-1428-4ac6-9277-ef1e619c7357?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="img"
            />
          </div>
          <div class="travel-guide-work--blog">
            <div class="blog-title">Blog title</div>
            <div class="blog-date">October 14, 2021</div>
            <div class="blog-content">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur.
            </div>
          </div>
        </div>
        <div class="travel-guide-work--item">
          <div class="travel-guide-work--image">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/5575c6d3-f855-434b-8377-022166ea797a?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="img"
            />
          </div>
          <div class="travel-guide-work--blog">
            <div class="blog-title">Blog title</div>
            <div class="blog-date">October 14, 2021</div>
            <div class="blog-content">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur.
            </div>
          </div>
        </div>
        <div class="travel-guide-work--item">
          <div class="travel-guide-work--image">
            <img
              loading="lazy"
              srcset="
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                https://cdn.builder.io/api/v1/image/assets/TEMP/234eed08-369b-4dd3-b6ac-4af93d5962e0?apiKey=b4655bf8d56943228c825aef8f09662b&
              "
              class="img"
            />
          </div>
          <div class="travel-guide-work--blog">
            <div class="blog-title">Blog title</div>
            <div class="blog-date">October 14, 2021</div>
            <div class="blog-content">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur.
            </div>
          </div>
        </div>

        <div class="pagination-bar">
          <div class="page page-active">1</div>
          <div class="page">2</div>
          <div class="page">3</div>
          <div class="page">...</div>
          <div class="page">99</div>
          <div class="page">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/094b86d5-8462-45e7-8e21-7f01e8691056?apiKey=b4655bf8d56943228c825aef8f09662b&"
              class="img"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="d-none d-md-block">
          <div class="input-group search-form">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <img src="./assets/img/icon-search.svg" alt="Search" />
              </span>
            </div>
          </div>
        </div>

        <div class="need-help">
          <div class="need-help-blur">
            <div class="need-help--title">Need Help?</div>
            <div class="need-help--content">
              Lorem ipsum dolor sit amet consectetur adipiscing elit dolor
            </div>
            <div class="need-help--action">
              <button class="call-us">
                <a href="tel:+85563766728">Call us</a>
              </button>
              <button class="book-consultation">Book Consultation</button>
            </div>
          </div>
        </div>

        <div class="location-section">
          <div class="location-section--title">Location</div>
          <div class="location-section--list">
            <ul>
              <li>Binh Thuan</li>
              <li>Cambodia Itinerary</li>
              <li>Career</li>
              <li>Da Nang</li>
              <li>Dalat</li>
              <li>Destination Guide</li>
              <li>Detox</li>
              <li>Halong Bay</li>
              <li>Hanoi</li>
              <li>Ho Chi Minh City</li>
              <li>Hoi An Old Quarter</li>
              <li>Hue</li>
              <li>ITB</li>
              <li>Meditation</li>
              <li>Mui Ne</li>
              <li>News &amp; Updates</li>
              <li>Nha Trang</li>
              <li>Ninh Binh</li>
              <li>OTM</li>
              <li>Phnom Penh</li>
              <li>Phu Quoc</li>
              <li>Recap</li>
              <li>Retreat</li>
              <li>Sapa</li>
              <li>Siem Reap</li>
              <li>Stress Release</li>
              <li>Thailand Itinerary</li>
              <li>Uncategorized</li>
              <li>Vientiane</li>
              <li>Vietnam Itinerary</li>
              <li>Webinar</li>
              <li>Yoga</li>
              <li>Yoga Studio</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
