<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>{{pageTitle}}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    />
    <link href="./assets/css/style.css" rel="stylesheet" />
  </head>
  <body class="{{bodyClasses}}">
    <div class="wrapper">
      {% include "../share/header.html" %} {% block content %}{% endblock %} {%
      include "../share/footer.html" %}
    </div>
    <script
      src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
      async
      defer
    ></script>
    <script src="./assets/js/jquery-3.1.1.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/select2.min.js"></script>
    <script src="./assets/js/slick.js"></script>
    <script type="module" src="./assets/js/main.js"></script>
    <script src="./assets/js/imageMapResizer.min.js"></script>
    {% block js %}{% endblock %}
    <script>
      var onloadCallback = function () {
        grecaptcha.render("g-recaptcha", {
          sitekey: "6LcYdigpAAAAAFPlDaU3L6hH2DHD5iL8QtIe5iZZ",
        });
      };

      // var recaptchaCallback = function () {
      //   let submit = document.getElementById("submit-btn");
      //   submit.classList.remove("disabled");
      // };

      // form = document.getElementById("dmca-report-form");
      // form.addEventListener("submit", function (e) {
      //   if (grecaptcha && grecaptcha.getResponse().length !== 0) {
      //     this.submit();
      //   } else {
      //     alert("Please check captcha");
      //   }
      //   e.preventDefault();
      // });
    </script>
  </body>
</html>
