<div class="traveland-timeline">
  <div class="container">
    <div class="timeline-content">
      Traveland Asial is one of leading DMCs in Indochina for 2 decades. In each country we operate, we’ve curated
      in-depth and customized tours that uncover the most authentic part of each destination while ensuring top-notch
      ground services.
    </div>
    <section id=timeline>
      <div class="demo-card-wrapper">
        <div class="demo-card demo-card--step1">
          <div class="head">
            <h2>2002 | THE BEGINNING</h2>
          </div>
          <div class="body">
            <img src="./assets/img/2002.jpeg" alt="Graphic">
            <p>
              Our story started in 2002 and 2 years later, Traveland Asia commenced its activities and tour operation to
              all Indochina countries – Vietnam, Laos and Cambodia.
            </p>
          </div>
        </div>

        <div class="demo-card demo-card--step2">
          <div class="head">
            <h2>2010 | UNCOVER MORE OF ASIA</h2>
          </div>
          <div class="body">
            <img src="./assets/img/2010.png" alt="Graphic">
            <p>
              As a new chapter, we granted the master and exclusive licensee of Gray Line Worldwide, spread our wings
              over Southeast Asia, we are local suppliers for well-known OTAs: Expedia, Booking.com, Viator,
              Getyourguide, Ctrip, Rideways, Qnar, Tuniu.. in ground handling services.
            </p>
          </div>
        </div>

        <div class="demo-card demo-card--step3">
          <div class="head">
            <h2>2015 | BROADEN OUR NETWORKS</h2>
          </div>
          <div class="body">
            <img src="./assets/img/2015.jpeg" alt="Graphic">
            <p>
              Serving different worldwide markets, we open sales offices in India, Portugal, Italia, Spain & Turkey in order to work closely with our partners to ensure that every requirement is met with the highest level of customer service and timely support by our multilingual senior tour consultants. The MICE product becomes one of our key products with groups of hundred passengers annually.
            </p>
          </div>
        </div>

        <div class="demo-card demo-card--step4">
          <div class="head">
            <h2>2017 | NEW ECO-PROJECTS</h2>
          </div>
          <div class="body">
            <img src="./assets/img/2017.jpeg" alt="Graphic">
            <p>
              Co-invested in an eco-project with a luxury Retreat in Pu Luong - an excellent outdoor destination in Northern Vietnam as well as an ideal alternative to Sapa. As a Travelife partner, we create a responsible policy as a commitment to define the way we work and perform.
            </p>
          </div>
        </div>

        <div class="demo-card demo-card--step5">
          <div class="head">
            <h2>2023 | DEVELOPE UNIQUE PRODUCTS</h2>
          </div>
          <div class="body">
            <img src="./assets/img/2023.jpeg" alt="Graphic">
            <p>
              We continue to expand our network and open sales offices in the UK and Poland. Especially, we develop products towards new travel trends for those who want more meaningful, authentic travel experiences beyond the obvious. 
            </p>
          </div>
        </div>

      </div>
    </section>

    <div class="text-center mt-5">
      <a href="" class="btn btn-custom">
        Find out more
      </a>
    </div>

  </div>
</div>