@import "helper/normalize";
@import "helper/helper";
@import "helper/select2";
@import "helper/slick";
@import "include/common";

// @import "color";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

.slide-intro {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  max-height: 100vh;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: #0000001f;
    z-index: 1;
  }

  .heading {
    color: #fff;
    position: absolute;
    z-index: 2;
    // transform: translate(0%, 100%);
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 35%;
    left: 0;
    right: 0;

    h3 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    h2 {
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      background: linear-gradient(
        180deg,
        #fff 45.1%,
        rgba(255, 255, 255, 0) 78.62%
      );
      background: linear-gradient(
        180deg,
        #fff 45.1%,
        rgba(255, 255, 255, 0) 78.62%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h4 {
      font-family: "Pacifico", cursive;
      font-size: 22px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
  }

  .carousel {
    max-height: 880px;
  }

  .carousel-indicators {
    margin-right: 5%;
    margin-left: 5%;
    justify-content: flex-end;
  }

  @media (max-width: 767px) {
    img {
      min-height: 100vh;
    }

    .heading {
      h3 {
        font-size: calc(32px - 6px);
      }

      h2 {
        font-size: calc(96px - 20px);
      }

      h4 {
        font-size: calc(22px - 6px);
      }
    }

    &::after {
      background: rgba(0, 0, 0, 0.29);
    }
  }

  @media (max-width: 500px) {
    .heading {
      margin-top: 30%;

      h2 {
        font-size: calc(96px - 50px);
      }
    }
  }
}

.about-us {
  padding: 4rem 0;
  position: relative;
  background-image: url("../img/bgr-about-us.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;

  .body-content {
    text-align: justify;
    max-width: 600px;
  }

  &--sevice {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

    &-item {
      width: calc(100% / 2 - 15px);
      max-width: 300px;
      height: 300px;
      padding: 30px 20px;
      flex-direction: column;
      align-items: center;
      display: flex;
      gap: 10px;
      border-radius: 10px;
      border-bottom: 2px solid transparent;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
      backdrop-filter: blur(10px);
      transition: all 0.3s;

      &:hover {
        border-bottom: 2px solid var(--blue, #194399);
        transition: all 0.3s;
      }

      .heading {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        background: var(
          --gra,
          linear-gradient(90deg, #194399 0%, #44ac45 50.52%, #194399 100%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        margin-bottom: 15px;

        &::after {
          content: "";
          position: absolute;
          width: 80%;
          height: 2px;
          background: var(--blue);
          left: 0;
          right: 0;
          bottom: -10px;
          margin: auto;
          opacity: 0.3;
        }
      }
    }
  }

  &.about-position {
    padding-bottom: 8rem;

    .about-us--sevice {
      position: absolute;
      top: -125px;
      z-index: 2;
    }
  }

  @media (max-width: 1200px) {
    &--sevice {
      &-item {
        .heading {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .body-content {
      max-width: 100%;
    }

    &.about-position {
      padding-bottom: 4rem;

      .about-us--sevice {
        position: unset;
      }
    }

    &--sevice {
      margin-top: 30px;

      &-item {
        width: calc(100% / 2 - 7.5px);
        max-width: 100%;
      }
    }
  }

  @media (max-width: 489px) {
    &--sevice {
      &-item {
        width: calc(100% / 1 - 0px);
        height: auto;
      }
    }
  }
}

.body-content {
  font-size: 14px;
  font-weight: 600;
  color: var(--blue);
}

.text-description-center {
  color: var(--gray1, #5a5a5a);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  word-spacing: 3px;
}

.btn-custom {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 8px;
  border: none;

  svg {
    margin-left: 5px;
  }
}

.find-your-destination {
  padding: 4rem 0;

  .heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // h2{
    //     background: linear-gradient(90deg, #194399 0%, #44ac45 50.52%, #194399 100%);
    //     background-clip: text;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    //     font-size: 48px;
    //     font-style: normal;
    //     font-weight: 700;
    //     line-height: normal;
    //     text-transform: uppercase;
    //     gap: 10px;
    // }

    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      color: var(--blue, #194399);
      text-align: center;
    }
  }

  &--owl {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 45%;
      border: none;
      background: transparent;

      &.prev-btn {
        left: 10%;
      }

      &.next-btn {
        right: 10%;
      }
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      margin: 0;
      padding: 1rem 0;

      list-style-type: none;

      li {
        margin: 0 0.25rem;
      }

      button {
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        padding: 0;
        border: 1px solid var(--blue);
        border-radius: 100%;
        background-color: transparent;
        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: var(--green);
      }
    }

    .slider {
      width: 100%;
      margin: 2rem auto;
      overflow: hidden;
      position: relative;

      &-item {
        overflow: hidden;
        // transform: scale(0.9);
        min-height: 500px;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
          z-index: 1;
          background: #000;
          background: #00000069;
          border-radius: 10px;
        }

        .heading-title {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background: linear-gradient(
            180deg,
            rgba(77, 199, 78, 0) 0%,
            rgba(77, 199, 78, 0.7) 100%
          );
          min-height: 118.581px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;

          h3 {
            background: linear-gradient(
              180deg,
              #fff 33.83%,
              rgba(255, 255, 255, 0) 80.36%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
    }

    .slick-list {
      padding: 0 !important;
      margin-left: -25%;
      margin-right: -25%;
    }

    .slick-slide {
      margin: 10px 10px;
      transform: scale(0.8);
    }

    .slick-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // transform: scale(0.8);
      box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
      border-radius: 10px;
      overflow: hidden;
      position: absolute;
      inset: 0;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-center {
      // padding: 0 10rem
      transform: scale(1);
      // transform: scale(1.3);
    }

    .slick-center .slider-item {
      box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
      border-radius: 10px;
      overflow: hidden;

      &::after {
        background: transparent;
      }
    }

    .slick-center img {
      width: 100%;
      height: 100%;
    }
  }
}

.traveland-service {
  .row {
    align-items: center;
  }

  .heading {
    h3 {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-start;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      color: var(--blue);

      img {
        max-width: 65%;
      }
    }

    // h2{
    //     font-size: 42px;
    //     font-style: normal;
    //     font-weight: 700;
    //     line-height: normal;
    //     text-transform: uppercase;
    //     background: linear-gradient(90deg, #194399 0%, #44ac45 50.52%, #194399 100%);
    //     background-clip: text;
    //     -webkit-background-clip: text;
    //     -webkit-text-fill-color: transparent;
    // }
  }

  &--list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      width: calc(100% / 2 - 7.5px);
      padding: 15px;

      .title-head {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
        text-transform: uppercase;

        span {
          display: inline-block;
          font-weight: 700;
          font-size: 18px;
          line-height: 1.2;
        }
      }
    }
  }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
  margin-left: 5px;

  &.active {
    background-color: var(--green);
  }
}

img {
  max-width: 100%;
}

.heading-title-main {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(90deg, #194399 0%, #44ac45 50.52%, #194399 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.traveland-experience {
  padding: 4rem 0;

  .heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .description {
    max-width: 945px;
    margin: 0 auto;
  }

  .item-col {
    margin-top: 30px;
  }

  .box-exper {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(7.5px);
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    height: 100%;
    cursor: pointer;

    .icon-exper {
      width: 60px;
    }

    .des-exper {
      width: 100%;
    }

    h3 {
      background: linear-gradient(
        90deg,
        #194399 0%,
        #44ac45 50.52%,
        #194399 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }

    .text {
      color: var(--gray1);
      text-align: justify;
      /* text body */
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%;
      /* 25.2px */
    }

    &:hover {
      background-color: var(--blue);
      color: var(--white);

      h3 {
        background: transparent;
        color: var(--white);
        -webkit-text-fill-color: unset;
      }

      .text {
        color: var(--white);
      }
    }
  }
}

.bgr-section-2 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        313deg,
        rgba(255, 255, 255, 0) 33.58%,
        #fff 60.56%
      ),
      url("../img/bgr-section-2.png"), lightgray 50% / cover no-repeat;
    // background-image: url('../img/bgr-section-2.png');
    // background: linear-gradient(313deg, rgba(255, 255, 255, 0) 20.58%, #ffffff 40.56%), url('../img/bgr-section-2.png'), white 50%/cover no-repeat;
    background-repeat: no-repeat;
    inset: 0;
    z-index: -2;
    background-position: right;
    background-size: cover;
  }

  &::before {
    content: "";
    background: linear-gradient(358deg, rgba(255, 255, 255, 0) 0, #fff 85.56%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 155px;
    z-index: -1;
  }
}

.testimonial-slide {
  .carousel-item {
    position: relative;
    max-height: 500px;

    .body-testimonial {
      color: #fff;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      max-width: 900px;
      transform: translate(0, 50%);
      margin: auto;
      text-align: center;

      h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      h3 {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.8;
        width: 100%;
        max-width: 715px;
        margin: 0 auto 20px;
      }

      .name-auth {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;

        span {
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          display: block;
        }
      }
    }
  }
}

.inspiration-traveland {
  padding: 4rem 0;

  &--slide {
    margin-left: 15%;

    .heading {
      position: relative;

      h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        color: var(--blue);
        margin-bottom: 0;
      }

      .heading-title-main {
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          background-image: url("../img/ic-khicau.png");
          background-size: contain;
          width: 50px;
          height: 50px;
          position: absolute;
          top: -20px;
          right: -60px;
        }
      }

      .btn-wrap {
        position: absolute;
        top: 20px;
        right: 20px;
        display: inline-flex;
        align-items: center;
        gap: 20px;

        button {
          border: none;
          background: transparent;
        }
      }
    }

    .slider-blogs {
      &--item {
        padding: 0 3rem 0 0;

        &-position {
          position: relative;
          min-height: 350px;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.35);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
          }

          .info-post {
            color: #fff;
            position: absolute;
            z-index: 2;
            width: 100%;
            bottom: 0;
            padding: 20px;

            h3 {
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              margin-bottom: 10px;
            }

            .date-post {
              display: flex;
              align-items: center;
              gap: 40px;
              margin-bottom: 10px;

              .date-item {
                display: inline-flex;
                align-items: center;
                gap: 5px;
              }
            }

            .description {
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              overflow: hidden;
              color: var(--Style, #fff);
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

.affiliates-traveland {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/Affiliates.png");
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  flex-direction: column;

  h3 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &--brand {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    li {
      img {
        width: 160px;
      }
    }
  }
}

.contact-us {
  padding: 4rem 0;
  max-width: 1100px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  .heading {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--blue);
    }

    .ic-heading-form {
      position: absolute;

      &.ic-1 {
        position: absolute;
        left: 23%;
        top: 0;
      }

      &.ic-2 {
        position: absolute;
        right: 23%;
        top: 0;
      }
    }

    &::after {
      content: "";
      background: url("../img/drop1.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 20%;
      width: 80px;
      height: 105px;
    }

    &::before {
      content: "";
      background: url("../img/drop2.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 20%;
      width: 80px;
      height: 105px;
    }
  }

  .form-control {
    border-color: var(--blue);
    border-width: 2px;
    min-height: 48px;
    font-weight: 500;

    &::placeholder {
      color: var(--blue);
    }
  }

  .btn {
    text-transform: uppercase;
    width: 160px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
}

footer {
  position: relative;
  min-height: 360px;
  background-image: url("../img/bgr-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url("../img/after-footer.png");
    width: 215px;
    height: 165px;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
  }

  .footer-logo {
    h3 {
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .footer-isocial {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .footer-infomation {
    .content-contact {
      p {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        gap: 15px;
        color: #fff;
      }
    }

    .menu-footer {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      li.item {
        width: 48%;

        a {
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }

  .footer-bottom {
    padding: 2rem 0;
    border-top: 1px solid #ffffff38;
    width: 900px;
    margin: auto;
    color: #fff;
    text-align: center;
  }
}

.groupTour-infomation {
  padding: 4rem 0;

  &--row {
    display: flex;

    .heading {
      padding-right: 2rem;
    }

    .content {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      color: var(--gray1);
      text-align: justify;
      padding-left: 2rem;
      line-height: 1.8;
      border-left: 1px solid #000;
    }
  }
}

.groupTour-service {
  padding: 4rem 0;
  min-height: 300px;
  background-image: url("../img/bgr-group-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &--item {
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(25px);
    display: flex;
    min-height: 300px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;

    .logo {
      text-align: center;
      margin-bottom: 15px;
    }

    .heading {
      color: var(--blue);
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      border-bottom: 1px solid var(--blue);
      padding-bottom: 5px;
    }

    .des {
      color: var(--blue);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%;
      /* 25.2px */
    }
  }
}

.groupTour-Slide {
  padding: 4rem 0;
  margin-left: 15%;

  &--block {
    display: flex;
    // align-items: center;
    gap: 40px;

    .lager-image {
      max-width: 60%;
      border-radius: 10px;
      overflow: hidden;
      max-height: 500px;
      max-width: 750px;
      min-width: 55%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16/9;
      }
    }

    .image-slide {
      min-width: 45%;

      .btn-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 15px;

        button {
          border: none;
          background: transparent;
          padding: 0;
        }
      }
    }

    .slider-groupTour {
      .slick-slide {
        padding-right: 40px;
      }

      &--item {
        overflow: hidden;
        max-height: 350px;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          min-height: 320px;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

.aboutUs-infomation {
  padding: 4rem 0;

  &--box {
    display: flex;
    align-items: center;
    justify-content: center;

    .box-content,
    .box-img {
      width: 50%;
    }

    .box-content {
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
      padding: 30px;
      position: relative;
      top: 65px;
      left: 100px;
      color: var(--gray1);
      text-align: justify;
      font-weight: 500;
      max-width: 590px;

      .des {
        font-size: 14px;
        line-height: 1.8;
      }
    }

    .heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    .heading-title-main {
      text-align: center;
    }
  }
}

.aboutUs-content {
  padding: 4rem 0;

  &--heading {
    text-align: center;

    img {
      display: inline-block;
    }
  }

  &--body {
    margin: 5rem 0 0;

    .aboutUs-grid {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 80px;

      &::after {
        content: "";
        background-image: url("../img/line-plane.png");
        height: 100%;
        width: 30px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-size: cover;
      }

      &--box {
        text-align: justify;
        font-size: 14px;
        width: calc(50% - 40px);
        font-weight: 500;

        img {
          max-height: 600px;
          width: 100%;
          border: 8px solid var(--white, #fff);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
          margin: 15px 0;
          padding: 3px;
        }

        p {
          margin: 15px 0;
        }
      }
    }
  }
}

.aboutUs-collection {
  padding: 4rem 0;

  .des {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: var(--blue);
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--body {
    margin: 3rem 0;

    .item-box {
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
      backdrop-filter: blur(7.5px);
      display: flex;
      padding: 40px;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      flex: 1 0 0;
      align-self: stretch;
      justify-content: center;
      min-height: 240px;
      cursor: pointer;

      h3 {
        background: linear-gradient(
          90deg,
          #194399 0%,
          #44ac45 50.52%,
          #194399 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
      }

      &:hover {
        background: var(--blue);
        backdrop-filter: blur(7.5px);

        h3 {
          color: #fff;
          -webkit-text-fill-color: unset;
        }
      }
    }
  }
}

.aboutUs-gallary {
  background-image: url("https://hinhnen123.com/wp-content/uploads/2021/12/Man-nhan-88-anh-canh-dong-tuyet-dep-trai-dai-bat-tan-42.jpg");
  min-height: 500px;
  padding: 3rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  .gallary-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &--item {
      width: calc(100% - 30px);
      border-radius: 20px;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(25px);
      padding: 20px;
      min-height: 400px;
      text-align: center;

      .img-thumbnail {
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 20px;
        padding: 0;
        border: none;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }
      }

      .btn-more {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid var(--white, #fff);
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        padding: 5px 10px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.definiteUs-philosophy {
  padding: 3rem 0;

  .about-us--sevice-item {
    max-width: unset;
    width: calc(33.33% - 27px);
    height: auto;
    min-height: 350px;
    cursor: pointer;
  }

  .about-us--sevice {
    gap: 40px;
    margin-top: 3rem;
  }

  .text-description-center {
    text-align: left;
  }
}

.definiteUs-vision {
  padding: 3rem 0;
  position: relative;

  .slider-vision {
    position: relative;

    .slick-dots {
      justify-content: flex-end;
    }

    &--item {
      img {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      h2 {
        font-size: 48px;
      }

      h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        color: var(--blue);
      }

      ul {
        padding-left: 20px;
        line-height: 1.7;

        li {
          font-size: 14px;
          color: var(--gray1);
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
    }
  }

  .btn-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    position: absolute;
    bottom: 50px;

    button {
      border: none;
      background: transparent;
      padding: 0;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;

  li {
    margin: 0 0.25rem;
  }

  button {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    padding: 0;
    border: 1px solid var(--blue);
    border-radius: 100%;
    background-color: transparent;
    text-indent: -9999px;
  }

  li.slick-active button {
    background-color: var(--green);
  }
}

.definiteUs-gallary {
  padding: 2rem 0 4rem;

  &--list {
    display: flex;
    align-items: center;
    gap: 40px;

    .item {
      width: calc(100% / 3 - 20px);
    }
  }
}

.definiteUs-people {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-image: url("../img/our-core-values-and-people.png");
  // background-image: url(<path-to-image>), lightgray;
  min-height: 500px;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: #0000007a;
    z-index: 0;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    h3 {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .btn-wrap {
      .prev-btn-people {
        margin-right: 5px;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  // &--slide {
  //   padding: 50px 0;
  // }

  .slide-people {
    &--item {
      border-radius: 20px;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      padding: 20px;
      min-height: 400px;

      .thumnail-img-people {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 15px;
        height: 210px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .des {
        color: var(--white, #fff);
        text-align: justify;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 180%;
      }
    }

    .slick-list {
      margin-left: -30px;
      margin-right: -30px;
    }

    .slick-track {
      display: flex;
      gap: 40px;
      margin: 50px 0;
    }
  }

  .slick-dots {
    justify-content: flex-start;
    padding: 0;

    button {
      border-color: #fff;
    }
  }
}

.definiteUs-commitment {
  padding: 4rem 0;

  &--body {
    margin-top: 20px;
  }

  &--item {
    border-radius: 20px;
    background: #5a5a5a14;
    box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(7.5px);
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    min-height: 210px;
    margin: 15px 0;

    img {
      width: 100px;
    }

    .text {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      color: var(--gray1);
      line-height: 1.8;
    }
  }
}

.btn-custom {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background: var(--green);
  border-radius: 8px;
  color: #fff;
  min-width: 180px;
  padding: 8px;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.definiteUs-inovation {
  background-image: url("https://thanhnienmoi.com/upload/img/canh-dong-lua-chin-o-ha-giang-01.jpg");
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem 0;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1005;
    position: absolute;
    inset: 0;
    z-index: 0;
    background: #0000001c;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .heading-title-main {
    color: #fff;
    -webkit-text-fill-color: unset;
  }

  .innovation-list {
    display: flex;
    gap: 40px;
    margin-top: 4rem;

    &--item {
      position: relative;
      width: calc(100% / 3 - 20px);
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0px 3.08402px 19.27514px 0px rgba(0, 0, 0, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.5);
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 6/8;
      }

      .info-text {
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        min-height: 100px;
        color: #fff;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        box-shadow: 0px 3.08402px 19.27514px 0px rgba(0, 0, 0, 0.15);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
      }
    }
  }
}

.traveland-timeline {
  padding: 5rem 0 0;

  .container {
    max-width: 1150px;
  }

  .timeline-content {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(
      90deg,
      #194399 0%,
      #44ac45 50.52%,
      #194399 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.8;
  }

  @media (min-width: 1000px) {
    #timeline .demo-card:nth-child(even) .head::after,
    #timeline .demo-card:nth-child(odd) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
    }

    #timeline .demo-card:nth-child(even) .head::before,
    #timeline .demo-card:nth-child(odd) .head::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      background-color: #2f9d4e;
      border-radius: 15px;
      box-shadow: 0px 0px 0px 3px #fff;
    }
  }
  /* Some Cool Stuff */
  .demo-card:nth-child(1) {
    order: 1;
  }

  .demo-card:nth-child(2) {
    order: 4;
  }

  .demo-card:nth-child(3) {
    order: 2;
  }

  .demo-card:nth-child(4) {
    order: 5;
  }

  .demo-card:nth-child(5) {
    order: 3;
  }

  .demo-card:nth-child(6) {
    order: 6;
  }

  #timeline {
    padding: 5rem 0 0;
  }
  #timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      height: 1960px;
      margin: 0 auto;
    }
  }
  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
      border-left: 5px solid #2f9d4e;
    }
  }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
    border-radius: 10px;
    border: 1px solid #efefef;
    border-bottom: 3px solid transparent;
    background: #f1f1f1;
    box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(10px);
    // padding-top: 10px;
    transition: all 0.5s;
  }
  #timeline .demo-card:hover {
    border-bottom: 3px solid var(--blue, #194399);
    transition: all 0.5s;
  }
  @media (min-width: 480px) {
    #timeline .demo-card {
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }
  @media (min-width: 720px) {
    #timeline .demo-card {
      max-width: 70%;
    }
    #timeline .demo-card-wrapper::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 4px solid rgba(191, 191, 191, 0.4);
    }
  }
  @media (min-width: 1000px) {
    #timeline .demo-card {
      max-width: 40%;
      //   height: 400px;
      margin: 60px;
      margin-top: 45px;
      margin-bottom: 45px;
    }
    #timeline .demo-card:nth-child(odd) {
      margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
      border-left-width: 30px;
      border-left-style: solid;
      left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
      left: 493px;
      // @media (max-width: 1200px) {
      // left: 500px;
      // }
    }
    #timeline .demo-card:nth-child(even) {
      margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
      border-right-width: 30px;
      border-right-style: solid;
      right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
      right: 483px;
    }
    #timeline .demo-card:nth-child(2) {
      margin-top: 180px;
    }
  }
  #timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    padding: 20px;
    border-bottom: 1px solid var(--blue);
  }
  #timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    line-height: 1rem;
    background: linear-gradient(
      90deg,
      #194399 0%,
      #44ac45 50.52%,
      #194399 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 {
      font-size: 130%;
      line-height: 1.8;
    }
  }
  #timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
      font-size: 0.8rem;
    }
  }
  #timeline .demo-card .body {
    background: #f1f1f1;
    border-top: 0;
    padding: 20px;
  }
  #timeline .demo-card .body img {
    border-radius: 15px;
    margin-bottom: 15px;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card .body {
      //   height: 315px;
    }
  }
  #timeline .demo-card .body p {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8;
  }
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
  }
  #timeline .demo-card {
    background: #f1f1f1;
  }
  #timeline .demo-card .head::after {
    border-color: #f1f1f1;
  }
}

.meetTeam-work {
  padding: 3rem 0;

  .heading-title-main {
    text-align: center;
    margin-bottom: 40px;
  }

  &--item {
    border-radius: 20px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(7.5px);
    padding: 20px;
    min-height: 430px;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      background-color: var(--blue);

      p {
        color: var(--white);
      }
    }

    a {
      color: var(--blue);
      &:hover {
        text-decoration: none;
      }
    }

    .thumbnail {
      margin-bottom: 20px;
      border-radius: 15px;
      max-height: 200px;
      overflow: hidden;
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: var(--blue);
    text-align: center;
  }
}

.meetTeam-client {
  background: rgba(25, 67, 153, 0.1);
  padding: 3rem 0;

  .row {
    align-items: center;
  }

  .content {
    text-align: right;
    font-size: 14px;
    color: var(--blue);
    font-weight: 600;

    h3 {
      color: var(--blue);
      text-align: right;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }

    .control {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;

      span {
        font-size: 16px;
      }
    }
  }

  .list-client {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;

    &--item {
      width: calc(100% - 15px);
      border-radius: 20px;
      border: 1px solid #fff;
      padding: 20px;
      // background: var(--blue, #194399);
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.2);
      backdrop-filter: blur(7.5px);
      min-height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      cursor: pointer;

      &:hover {
        background-color: var(--blue);

        h3,
        p {
          color: var(--white);
        }
      }

      .thumbnail-image {
        border-radius: 100%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }
      }
      h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--blue);
        text-align: center;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: var(--blue);
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

.meetTeam-request {
  background: var(--blue);
  padding: 3rem 0;

  img {
    max-height: 360px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .content {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding: 0 20px;
    line-height: 1.8;

    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      text-align: justify;
    }

    .btn-custom-2 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 8px 10px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 8px;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}

.sustainability-aboutUs {
  padding: 0;

  .aboutUs-infomation--box {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .aboutUs-infomation--box .box-content {
    background: var(--blue);
    color: #fff;
    text-align: left;
    top: -60px;
    left: 0;
    z-index: 1;
    padding: 40px 30px;

    &--des {
      color: var(--white);
      text-align: justify;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 200%;
    }
  }

  .heading-title-main {
    text-align: left;
    -webkit-text-fill-color: unset;
    margin-bottom: 40px;
    position: relative;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    &::after {
      content: "";
      width: 140px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -20px;
      background: #fff;
    }

    @media (max-width: 767px) {
      font-size: 36px;
    }
  }
}

.sustainability-local {
  display: flex;
  padding-right: 100px;
  padding-bottom: 3rem;

  .heading-title-main {
    max-width: 518px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }

  .thumbnail {
    width: 50%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 20px 40px;
    width: 50%;
  }

  .content-text {
    max-width: 518px;
    margin-top: 15px;
    font-size: 14px;
    color: var(--gray1);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%; /* 25.2px */

    ul {
      li {
        margin-bottom: 5px;
      }
    }
  }
}

.banner-with-text {
  max-height: 550px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/6;
    object-position: bottom;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 2;
    position: absolute;
    background: #00000047;
  }

  &::before {
    content: "";
    background-image: url("../img/child-protection.png");
    position: absolute;
    left: 0;
    width: 230px;
    height: 100%;
    z-index: 1;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  .content {
    position: absolute;
    inset: 0;
    max-width: 640px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    z-index: 10;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;

    h3 {
      margin-bottom: 20px;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.sustainability-philosophy {
  .heading-title-main {
    text-align: center;
    font-size: 36px;
  }

  .about-us--sevice {
    gap: 15px;
  }

  .about-us--sevice-item {
    max-width: unset;
    width: calc(25% - 12px);
    height: auto;
    min-height: 320px;

    img {
      // margin-bottom: 15px;
    }

    .line {
      width: 80%;
      height: 1px;
      background: var(--blue);
      margin: 10px auto;
    }
  }
}

.sustainability-ourcsr {
  padding: 3rem 0;
  // background-image: url('https://vapa.vn/wp-content/uploads/2022/12/hinh-nen-rung-cay-011.jpg');
  background-repeat: no-repeat;
  // background-size: cover;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../img/bgr-rungcay.jpg"), lightgray 50% / cover no-repeat;
  box-shadow: 0px 0px 20px 0px rgba(23, 50, 97, 0.5);
  color: #fff;
  font-size: 14px;
  line-height: 1.6;

  .heading {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }

  .thumb-lager {
    border: 5px solid #fff;
    width: 100%;
    margin-bottom: 30px;
  }

  .title-content {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 25px;
  }

  ul {
    padding-left: 20px;
    li {
      margin-bottom: 5px;
    }
  }

  .col-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: 20px 0;

    li {
      width: 50%;
      text-align: justify;
      padding: 20px 40px;
      padding-left: 0;
      margin-bottom: 0;

      .heading {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 22px;
      }

      p {
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .heading-title-main {
    font-size: 30px;
  }

  .traveland-service--list-item {
    width: calc(50% - 0.5px);
  }

  .traveland-service--list-item .title-head span {
    font-size: 15px;
  }

  .text-description-center {
    font-size: 13px;
  }

  .about-us.about-position {
    padding-bottom: 3rem;
  }

  .find-your-destination {
    padding: 4rem 0 0;
  }

  .traveland-experience .description {
    max-width: 860px;
    font-size: 14px;
  }

  .traveland-experience .box-exper {
    padding: 25px;
  }

  .testimonial-slide .carousel-item .body-testimonial {
    transform: translate(0, 35%);
  }

  .testimonial-slide .carousel-item .body-testimonial h3 {
    font-size: 35px;
  }

  .affiliates-traveland {
    min-height: 420px;
  }

  .affiliates-traveland h3 {
    font-size: 35px;
  }

  .aboutUs-collection--body .item-box h3 {
    font-size: 18px;
  }
  .aboutUs-collection {
    padding: 2rem 0;
  }
  .aboutUs-content {
    padding: 2rem 0;
  }

  .definiteUs-people .heading h3 {
    font-size: 40px;
  }

  .definiteUs-commitment--item {
    height: 100%;
  }

  .definiteUs-commitment--body {
    .row {
      gap: 30px 0;
    }
  }

  .groupTour-Slide--block .slider-groupTour .slick-slide {
    padding-right: 15px;
  }

  .meetTeam-client .list-client--item {
    width: calc(33.33% - 15px);
  }

  .meetTeam-client .list-client--item .thumbnail-image {
    width: 100%;
    height: 140px;
  }

  .meetTeam-client .content h3 {
    font-size: 18px;
  }

  .sustainability-local .heading-title-main {
    font-size: 30px;
  }

  .sustainability-philosophy .heading-title-main {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .traveland-service--list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .testimonial-slide .carousel-item {
    min-height: 400px;

    img {
      height: 100%;
      min-height: 400px;
      object-fit: cover;
    }
  }
  .testimonial-slide .carousel-item .body-testimonial h3 {
    font-size: 30px;
  }

  .inspiration-traveland--slide {
    margin-left: 80px;
  }

  .contact-us .heading::before {
    right: 10%;
  }

  .contact-us .heading::after {
    top: -13px;
    left: 17%;
  }
  .footer-infomation {
    margin: 30px 0;
  }

  footer .footer-bottom {
    width: 100%;
  }
  .aboutUs-infomation--box .box-content {
    left: 0;
    top: 0;
  }

  .aboutUs-collection--body .item-box {
    min-height: 200px;
    margin-bottom: 30px;
  }

  .aboutUs-gallary .gallary-group {
    max-width: 100%;
    // justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: -webkit-box;
  }

  .aboutUs-gallary .gallary-group--item {
    width: 290px;
    min-height: 360px;
    scroll-snap-align: start;
  }

  .definiteUs-philosophy .about-us--sevice-item {
    width: calc(50% - 20px);
  }

  .definiteUs-vision .slider-vision--item h2 {
    font-size: 30px;
  }
  .definiteUs-vision .slider-vision--item h3 {
    font-size: 20px;
  }

  .definiteUs-vision .slider-vision--item ul li {
    font-size: 13px;
  }

  .definiteUs-vision {
    padding: 3rem 0 0;
  }

  .definiteUs-vision .btn-wrap {
    bottom: 0;
  }

  .definiteUs-gallary--list {
    gap: 10px;

    .item {
      width: calc(33.3333333333% - 5px);

      img {
        width: 100%;
      }
    }
  }

  .definiteUs-people .heading h3 {
    font-size: 30px;
  }

  .definiteUs-people .slide-people .slick-track {
    gap: 20px;
  }

  // .definiteUs-people .slide-people .slick-list {
  //     margin-left: 0px;
  //     margin-right: 0px;
  // }

  .definiteUs-commitment--item {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }

  .definiteUs-commitment--item img {
    width: 70px;
  }

  .groupTour-infomation--row {
    align-items: center;
  }

  .groupTour-Slide--block .slider-groupTour--item img {
    min-height: 200px;
  }

  .meetTeam-client .content {
    margin-bottom: 20px;
  }

  .meetTeam-request .content {
    margin-top: 20px;
  }

  .sustainability-aboutUs .aboutUs-infomation--box {
    flex-direction: column-reverse;
    padding: 2rem 0;

    .box-content {
      position: unset;
      width: 100%;
      max-width: 100%;
    }
    .box-img {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .sustainability-local {
    flex-direction: column;
    padding-right: 30px;

    @media (max-width: 991px) {
      padding-left: 16px;
      padding-right: 16px;
    }

    .thumbnail {
      width: 100%;
    }

    .content {
      padding: 20px;
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .about-us.about-position {
    padding-bottom: 0rem;
  }
  .heading-title-main {
    font-size: 26px;
  }
  .find-your-destination .heading h3 {
    font-size: 18px;
  }

  .traveland-service .heading h3 {
    font-size: 20px;
  }

  .traveland-service--list-item {
    width: 100%;
    border-bottom: 1px solid #dedede;
  }

  .traveland-service--list-item .title-head {
    margin-bottom: 5px;
  }

  .traveland-experience {
    padding: 2rem 0;
  }

  .traveland-experience .box-exper h3 {
    font-size: 18px;
  }

  .traveland-experience .box-exper {
    gap: 20px;
    background: #fff;
  }

  .traveland-experience .box-exper .text {
    line-height: 1.6;
    font-weight: 500;
  }

  .testimonial-slide .carousel-item .body-testimonial h3 {
    font-size: 20px;
  }

  .testimonial-slide .carousel-item .body-testimonial h4 {
    font-size: 18px;
  }

  .testimonial-slide .carousel-item .body-testimonial p {
    font-size: 13px;
    padding: 0 20px;
  }

  .testimonial-slide .carousel-item .body-testimonial {
    -webkit-transform: translate(0, 35%);
    transform: translate(0, 20%);
  }

  .inspiration-traveland--slide {
    margin-left: 30px;
  }

  .inspiration-traveland {
    padding: 2rem 0;
  }

  .inspiration-traveland--slide .slider-blogs--item {
    padding: 0 1rem 0 0;
  }

  .inspiration-traveland--slide .slider-blogs--item-position img {
    aspect-ratio: 1/1.2;
  }
  .inspiration-traveland--slide .slider-blogs--item-position .info-post h3 {
    font-size: 20px;
  }

  .inspiration-traveland--slide .heading .heading-title-main::after {
    top: -52px;
    right: -40px;
  }

  .affiliates-traveland {
    min-height: 300px;
    padding: 0 20px;
  }

  .affiliates-traveland h3 {
    font-size: 26px;
  }

  .contact-us .heading::after {
    width: 50px;
    height: 60px;
    top: -30px;
    background-size: contain;
  }

  .contact-us .heading::before {
    width: 50px;
    height: 81px;
    background-size: contain;
    top: -44px;
  }

  footer .footer-logo h3 {
    font-size: 33px;
    margin-bottom: 10px;
  }

  footer .footer-infomation .content-contact p {
    font-size: 14px;
  }

  footer .footer-bottom {
    width: 100%;
    padding: 10px 0 0;
  }

  .affiliates-traveland--brand {
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-width: 100%;
    padding: 0 20px;

    li {
      scroll-snap-align: start;
    }
  }

  .aboutUs-infomation--box {
    flex-direction: column-reverse;
  }

  .aboutUs-infomation {
    padding: 2rem 0;
  }

  .aboutUs-infomation--box .box-content,
  .aboutUs-infomation--box .box-img {
    width: 100%;
  }

  .aboutUs-content--body .aboutUs-grid--box {
    width: 100%;
  }

  .aboutUs-content--body .aboutUs-grid::after {
    display: none;
  }

  .aboutUs-content--body {
    margin: 1rem 0 0;
  }
  .aboutUs-content--body .aboutUs-grid {
    gap: 0;
  }

  .aboutUs-grid--box {
    .box-item {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .aboutUs-collection .des {
    font-size: 16px;
  }

  .aboutUs-collection--body .item-box h3 {
    font-size: 14px;
  }

  .aboutUs-collection--body {
    margin: 3rem 0 0;
  }

  .definiteUs-philosophy .about-us--sevice-item {
    width: 100%;
    min-height: unset;
  }

  .definiteUs-philosophy .about-us--sevice {
    margin-top: 2rem;
  }

  .definiteUs-vision .slider-vision--item h2 {
    font-size: 30px;
  }

  .definiteUs-vision .slider-vision--item h3 {
    font-size: 20px;
  }

  .definiteUs-gallary--list {
    flex-wrap: wrap;
    gap: 15px;

    .item {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .definiteUs-vision {
    padding: 3rem 0 0;
  }

  .definiteUs-vision .btn-wrap {
    bottom: 0;
    position: relative;
  }

  .definiteUs-people .slide-people--item {
    min-height: 330px;
  }

  .definiteUs-people .slide-people .slick-list {
    margin-left: 0;
    margin-right: 0;
  }

  .definiteUs-people .slide-people .slick-track {
    gap: 50px;
  }

  .definiteUs-inovation {
    padding: 2rem 0;

    .innovation-list {
      gap: 25px;
      max-width: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      display: -webkit-box;
      margin-top: 2rem;

      &--item {
        scroll-snap-align: start;
        width: 280px;
      }
    }
  }

  .groupTour-infomation {
    padding: 2rem 0;
  }

  .groupTour-infomation--row {
    flex-direction: column;

    .content {
      border: 0;
      padding-left: 0;
    }
  }

  .groupTour-service--item {
    min-height: auto;
  }

  .groupTour-Slide--block {
    flex-direction: column;
    gap: 20px;
  }

  .groupTour-Slide {
    padding: 4rem 20px 2rem;
    margin-left: 0;
  }

  .meetTeam-work--item {
    min-height: auto;
  }

  .meetTeam-work {
    padding: 3rem 0 1rem;
  }

  .meetTeam-client .list-client {
    max-width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: -webkit-box;
    gap: 15px;

    &--item {
      scroll-snap-align: start;
      width: 180px;
    }
  }

  .sustainability-local .heading-title-main,
  .banner-with-text .content h3,
  .sustainability-ourcsr .heading {
    font-size: 26px;
  }

  .banner-with-text {
    height: 400px;

    .content {
      padding: 20px;
    }
  }
  .sustainability-philosophy .heading-title-main,
  .sustainability-ourcsr .title-content {
    font-size: 26px;
  }

  .sustainability-ourcsr .col-content {
    flex-wrap: wrap;

    li {
      width: 100%;
    }
  }

  .contact-us {
    padding: 4rem 0 2rem;

    img {
      width: 100%;
    }
  }

  .traveland-timeline #timeline {
    padding: 2rem 0 0;
  }

  .traveland-timeline {
    padding: 2rem 0 0;
  }
}

@media (max-width: 350px) {
  .definiteUs-people .slide-people .slick-track {
    gap: 0px;
  }

  .definiteUs-people .slide-people--item .thumnail-img-people {
    height: 170px;
  }
}

@media (max-width: 1199px) {
  .traveland-timeline #timeline .demo-card:nth-child(odd) .head::before {
    left: 109.5%;
  }

  .traveland-timeline #timeline .demo-card:nth-child(even) .head::before {
    right: 108.5%;
  }
}

.travel-guide-work {
  padding: 3rem 0;

  .heading-title-main {
    text-align: center;
    margin-bottom: 40px;
    background: linear-gradient(
      90deg,
      #194399 0%,
      #44ac45 50.52%,
      #194399 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--item {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(7.5px);
    margin-bottom: 25px;
    cursor: pointer;

    .travel-guide-work--image {
      width: 200px;
      height: 200px;

      @media (max-width: 489px) {
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
      }
    }

    .travel-guide-work--blog {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      flex: 1 0 0;
      align-self: stretch;

      .blog-title {
        color: var(--blue, #194399);
        /* text bold */
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .blog-date {
        color: var(--blue, #194399);
        /* text light */
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 180%; /* 25.2px */
        opacity: 0.6;
      }
      .blog-content {
        color: var(--gray1, #5a5a5a);
        /* text body */
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 180%; /* 25.2px */
      }
    }

    &:hover {
      background: var(--blue, #194399);

      .blog-title {
        color: var(--white, #fff);
      }
      .blog-date {
        color: var(--white, #fff);
      }
      .blog-content {
        color: var(--white, #fff);
      }
    }
  }

  .location-section {
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(7.5px);

    &--title {
      align-self: stretch;
      color: var(--blue, #194399);
      /* text body bold */
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 21.6px */
      text-transform: uppercase;
    }

    &--list {
      color: var(--gray1, #5a5a5a);
      /* text body */
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%; /* 25.2px */

      li {
        cursor: pointer;
      }
    }
  }
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 10px 0px rgba(23, 50, 97, 0.2);
  backdrop-filter: blur(7.5px);
  margin-bottom: 25px;

  input {
    border: none;
    margin: 2px;
    color: var(--gray1, #5a5a5a);
    /* Text 2 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 48px;
  }

  .input-group-append {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--green, #4dc74e);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;

    .input-group-text {
      background: var(--green, #4dc74e);
      border: none;

      img {
        max-width: none;
      }
    }
  }
}

.need-help {
  display: flex;
  height: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  background-image: url(../img/need-help.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;

  .need-help-blur {
    width: 100%;
    height: 100%;
    background-color: #194399;
    opacity: 0.85;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 40px;
    @media (min-width: 768px) and (max-width: 992px) {
      padding: 12px 16px;
    }
  }

  &--title {
    align-self: stretch;
    color: var(--white, #fff);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &--content {
    color: var(--white, #fff);
    /* Text 1 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &--action {
    display: flex;
    @media (min-width: 768px) and (max-width: 992px) {
      display: block;
      button {
        width: 100%;
      }
      .book-consultation {
        margin-top: 12px;
      }
    }
    .call-us {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: var(--green, #4dc74e);
      color: var(--white, #fff);
      margin-right: 10px;
      min-width: 100px;
      border: none;

      a {
        color: var(--white, #fff);
      }
    }
    .book-consultation {
      display: flex;
      padding: 10px 2px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      background: transparent;
      border: 2px solid var(--green, #4dc74e);
      color: var(--white, #fff);
      min-width: 100px;
    }
  }
}

.pagination-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
  align-items: center;
  background: var(--white, #fff);

  .page {
    cursor: pointer;

    &.page-active {
      display: flex;
      width: 40px;
      height: 40px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: var(--blue, #194399);
      box-shadow: 0px 0px 10px 0px rgba(23, 50, 97, 0.2);
      color: var(--white, #fff);
      cursor: not-allowed;
    }
  }
}

.single-blog {
  padding: 3rem 0;

  .heading-title-main {
    color: var(--blue, #194399);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }

  .blog-content {
    p {
      line-height: 2;
    }
  }

  .latest-post {
    &--title {
      align-self: stretch;
      color: var(--blue, #194399);
      /* text body bold */
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 21.6px */
      text-transform: uppercase;
    }

    .post-item {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 0px 10px 0px rgba(23, 50, 97, 0.2);
      backdrop-filter: blur(7.5px);
      margin-bottom: 25px;
      cursor: pointer;

      .post-item--image {
        width: 82px;
        height: 82px;
      }

      .post-item--blog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;

        .blog-date {
          color: var(--blue, #194399);
          /* text light */
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 180%; /* 25.2px */
        }
        .blog-description {
          color: var(--gray1, #5a5a5a);
          /* text body */
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 180%; /* 25.2px */
        }
      }

      &:hover {
        background: var(--blue, #194399);

        .blog-title {
          color: var(--white, #fff);
        }
        .blog-date {
          color: var(--white, #fff);
        }
        .blog-content {
          color: var(--white, #fff);
        }
      }
    }
  }
}

.post-comment {
  &--title {
    color: var(--blue, #194399);
    font: 700 36px/44px Montserrat, sans-serif;
  }

  &--sub-title {
    color: var(--gray1, #5a5a5a);
    margin-top: 10px;
    font: 14px/25px Montserrat, sans-serif;
  }

  form {
    margin: 20px 0;
  }

  &--form-label {
    color: var(--gray1, #5a5a5a);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .form-check-label {
    color: var(--gray1, #5a5a5a);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%; /* 25.2px */
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
    min-width: unset;
  }
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    padding-left: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--gray1, #5a5a5a);
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: var(--gray1, #5a5a5a);
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: var(--blue, #194399);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.leisure-travel-styles {
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto;

    .heading-title-main {
      width: fit-content;
      margin-bottom: 10px;
    }

    .heading-title-sub {
      max-width: 1018px;
      color: var(--text-body-text, #666);
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%;
    }
  }

  .leisure-travel-slide {
    padding: 4rem 0;
    // margin-left: 15%;

    &--block {
      // display: flex;
      // align-items: center;
      // gap: 40px;

      // .lager-image {
      //   max-width: 60%;
      //   border-radius: 10px;
      //   overflow: hidden;
      //   max-height: 500px;
      //   max-width: 750px;
      //   min-width: 55%;

      //   img {
      //     width: 100%;
      //     height: 100%;
      //     object-fit: cover;
      //     object-position: center;
      //     aspect-ratio: 16/9;
      //   }
      // }

      // .image-slide {
      //   min-width: 45%;

      //   .btn-wrap {
      //     display: flex;
      //     align-items: center;
      //     gap: 10px;
      //     margin-top: 15px;

      //     button {
      //       border: none;
      //       background: transparent;
      //       padding: 0;
      //     }
      //   }
      // }

      .slider-leisure-travel {
        &--item {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 60px;

          .slide-image {
            max-height: 385px;
            max-width: 700px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              min-height: 320px;
              aspect-ratio: 1/1;
              border-radius: 10px;
            }
          }

          .slide-description {
            max-width: 400px;

            &--title {
              color: var(--blue);
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              padding-bottom: 20px;
              margin-bottom: 20px;
              border-bottom: 1px solid var(--gray);
            }
            &--content {
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 200%; /* 25.2px */
              color: var(--text-body-text, #666);
            }

            .btn-wrap {
              margin-top: 20px;
            }
          }

          @media (max-width: 1199px) {
            .slide-image {
              max-width: 400px;
            }
          }
        }
      }
    }
  }
}

.leisure-travel-list {
  padding: 3rem 0;
  background: rgba(25, 67, 153, 0.1);

  .travel-filter {
    background: var(--white);
    padding: 24px 48px;
    border-radius: 10px;
    margin-bottom: 40px;

    .travel-dropdown {
      width: 100%;
    }
  }

  .travel-item {
    border-radius: 10px;
    background-color: var(--white);
    margin-bottom: 40px;

    &__thumb {
      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    &__info {
      padding: 24px;
    }

    &__title {
      color: var(--blue);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 21.6px */
      text-transform: uppercase;
      margin-bottom: 10px;
      min-height: 44px;
    }

    &__subtitle {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--blue);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%; /* 25.2px */
      margin-bottom: 24px;
    }

    &__btn {
    }
  }
}

.select2-container--default {
  width: 100%;

  .select2-selection,
  .select2-selection--single {
    border: none;
    border-bottom: 1px solid var(--gray1);
    border-radius: 0%;
  }
}

.mice-introduction {
  display: flex;
  align-items: center;
  margin-top: 60px;

  .col-lg-6:nth-child(1) {
    display: flex;
    align-items: center;
  }

  .mice-thumb {
    border: 10px solid #fff;
    box-shadow: 0px 3.08402px 19.27514px 0px rgba(0, 0, 0, 0.15);
  }

  .mice-title {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .mice-description {
    p {
      color: var(--gray);
      text-align: justify;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 2.2;
    }
  }

  @media (min-width: 720px) {
    .mice-thumb {
      margin-right: 15px;
    }

    .mice-title {
      margin-left: 15px;
    }

    .mice-description {
      margin-left: 15px;
    }
  }
}

.mice-secret {
  margin-top: 60px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/mice-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
  background-size: cover;
  padding: 10px 20px;

  @media (min-width: 991px) {
    padding: 100px 120px;
  }

  .heading {
    color: var(--white);

    &__title {
      width: 268px;
      color: var(--white, #fff);
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 38.4px */
      text-transform: uppercase;
    }

    hr {
      max-width: 600px;
      height: 1px;
      background: var(--white, #fff);
    }

    &__subtitle {
      max-width: 600px;
      color: var(--white, #fff);
      text-align: justify;

      /* text body */
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%; /* 25.2px */
    }
  }

  .mice-slide {
    margin-top: 100px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 20px;

    .slide-item {
      img {
        max-width: 60px;
      }
      display: flex;
      width: 280px;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(20px);
      height: 280px;
      margin: 0 8px;
      @media (max-width: 768px) {
        width: 240px;
      }

      &__heading {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;

        .heading-title {
          color: var(--blue, #194399);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 19.2px */
          text-transform: uppercase;
        }
      }

      &__content {
        color: var(--gray, #5a5a5a);
        /* text body */
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 180%; /* 25.2px */
      }
    }
  }
}

.mice-gallery {
  margin: 60px auto;

  &__item {
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }
}

.viet-nam {
  &__overview {
    padding: 60px 0;
    &--heading {
      color: var(--blue);

      h2 {
        font-weight: 700;
      }
      span {
        font-weight: 600;
        line-height: 32px;
      }
    }
    &--content {
      .item {
        &::before {
          content: "";
          width: 100%;
          height: 30%;
          position: absolute;
          background: linear-gradient(to bottom, transparent, var(--blue));
          opacity: 0.8;
          z-index: 10;
          bottom: 0;
          left: 0;
        }
        img {
          object-fit: cover;
        }
        &:hover .info p {
          -webkit-line-clamp: 10;
        }
      }
      .info {
        color: var(--white);
        bottom: 0;
        padding: 0 32px 16px 16px;
        h4 {
          text-transform: uppercase;
        }
        p {
          font-weight: 600;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
        }
      }
    }
  }
  &__weather {
    &--breadcrumbs {
      top: 0;
      right: 0;
      padding: 48px;
      hr {
        width: 100px;
        background: var(--white);
      }
      .items {
        .active {
          font-weight: 700;
        }
        span {
          white-space: nowrap;
        }
      }
    }
    &--content {
      bottom: 32px;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 1300px) {
        width: 100vw;
        overflow-x: scroll;
      }
      .weather {
        width: max-content;
        h3 {
          width: 200px;
          height: 100px;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: 18px;
        }
        img {
          width: 40px;
        }
      }
      .quick-facts {
        font-size: 14px;
        font-weight: 500;
        width: 1200px;
        h3 {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 4px;
        }
        h1 {
          font-size: 64px;
          font-weight: bold;
          padding-right: 12px;
        }
        span {
          line-height: 24px;
        }
      }
      .faq {
        .item {
          width: 1300px;
          @media (max-width: 1600px) {
            width: 80vw;
          }
          .read-more {
            border-radius: 6px;
          }
          p {
            font-weight: 500;
          }
        }
        .pagination {
          font-weight: 500;
          border-top: 1px solid transparent;
          .active {
            border-top: 1px solid var(--white);
            font-weight: 800;
          }
        }
      }
    }
    .background {
      min-height: 820px;
      object-fit: cover;
    }
  }
  &__culture {
    @media (min-width: 576px) and (max-width: 992px) {
      max-width: max-content;
    }
    &--intro {
      color: var(--gray1);
      font-weight: 500;
      .title {
        color: var(--blue);
      }
    }
    &--trending {
      h4 {
        color: var(--blue);
        font-weight: 600;
      }
    }
  }
  &__recommended {
    &--tour {
      color: var(--gray);
      .intro {
        h4 {
          font-weight: 600;
          span {
            color: var(--blue);
          }
        }
        .sub-title {
          color: var(--blue);
        }
        .description {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
        }
      }
      .details {
        background: rgba(90, 90, 90, 0.1);
        border-radius: 10px;
        h4 {
          background: rgba(90, 90, 90, 0.2);
          &:first-child {
            border-radius: 10px 10px 0 0;
          }
        }
      }
      .paginate {
        .pagination-item {
          border-radius: 10px;
        }
        .active {
          background: var(--blue);
          a {
            color: var(--white);
          }
        }
        a {
          color: var(--gray);
        }
      }
    }
  }
  &__description {
    p {
      font-size: 14px;
      color: var(--blue);
      font-weight: 500;
    }
  }
  .item-slide-page-viet-nam {
    top: 50%;
    transform: translateY(16px);

    @media (min-width: 576px) {
      transform: translateY(-100px);
      font-size: 18px;
    }
  }
}

.customized-tour-term {
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px auto;

    .heading-title-main {
      width: fit-content;
      margin-bottom: 10px;
    }

    .heading-title-sub {
      color: var(--text-body-text, #666);
      text-align: left;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 2.2;
    }
  }
}

.customized-tour-form {
  position: relative;
  background-image: url("../img/customized-tour-form-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
  background-size: cover;
  border-radius: 40px;
  padding: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .form-title {
    position: relative;
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
  }

  .form-question {
    position: relative;
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
  }

  .form-input-label {
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }

  input {
    display: flex;
    height: 41px;
    padding: 10px;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    background: var(--white, #fff);
    box-shadow: 0px 0px 10px 0px rgba(23, 50, 97, 0.2);
    backdrop-filter: blur(7.5px);
    border: none;
    width: 100%;
    margin-bottom: 10px;

    &::placeholder {
      color: var(--blue);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 180%;
    }
  }

  .checkmark {
    background-color: var(--white);
  }

  .form-check-label {
    color: var(--blue);
    font-weight: 600;
  }

  .form-question__desc {
    position: relative;
    color: var(--blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
  }

  textarea {
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }

  .tell-us-about-you {
    position: relative;
    color: var(--blue);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  button {
    padding: 10px 25px;
  }
}
.tour {
  &__overview {
    &--intro {
      color: var(--gray);
      .left {
        h4 {
          font-weight: 600;
          span {
            color: var(--blue);
          }
        }
        .description {
          font-weight: 600;
        }
        .contact {
          .quick-enquiry,
          .like {
            font-weight: 500;
            border-radius: 100px;
            box-shadow: 0 0 20px 0px rgba(23, 50, 97, 0.1);
            cursor: pointer;
          }
          .quick-enquiry {
            background: rgba(25, 67, 153, 0.2);
            color: var(--blue);
            i {
              background: var(--blue);
              border-radius: 50%;
              padding: 9px;
            }
          }
        }
      }
      .right {
        background: rgba(90, 90, 90, 0.1);
        border-radius: 10px;
        h4 {
          background: rgba(90, 90, 90, 0.2);
          &:first-child {
            border-radius: 10px 10px 0 0;
          }
        }
      }
    }
    &--carousel {
      .carousel-inner {
        .carousel-item {
          height: 480px;
          @media (max-width: 768px) {
            height: 320px;
          }
          img {
            object-fit: cover;
            height: 100%;
          }
        }
      }
    }
  }
  &__highlights {
    .slider {
      .slider-item {
        background: #f1f3f5;
        border-radius: 20px;
        min-height: 400px;
        box-shadow: 0 0 20px 0px rgba(23, 50, 97, 0.3);
        p {
          font-weight: 600;
          font-size: 14px;
          color: var(--blue);
          padding: 0 24px;
        }
      }
    }
    .prev-btn {
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
    }
    .next-btn {
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
    }
  }
  &__glance {
    &--list {
      .item {
        background: #f1f3f5;
        box-shadow: 0 0 20px 0px rgba(23, 50, 97, 0.3);
        border-radius: 20px;
        height: 240px;
        @media (max-width: 576px) {
          height: 280px;
        }
        h4 {
          color: var(--blue);
        }
        .description {
          font-weight: 600;
          color: var(--gray1);
          line-height: 32px;
        }
        .title {
          display: flex;
          align-items: center;
          h4 {
            margin-left: 12px;
          }
          @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;

            h4 {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
  &__itinerary {
    &--details {
      .schedule {
        color: var(--gray);
        .map-pin {
          .title {
            .image {
              width: 40px;
              img {
                transform: translateX(-50%);
              }
            }
            p {
              font-weight: 500;
            }
          }
          .description {
            line-height: 28px;
            border-left: 2px solid var(--gray1);
            div:first-child {
              background: var(--gray-transparent);
              color: var(--gray);
              margin-left: 40px;
            }
          }
        }
      }
      .price {
        border-radius: 10px;
        .economy {
          margin-bottom: 1px;
          .old-price {
            font-weight: 600;
            position: relative;
            opacity: 0.7;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background: var(--gray);
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .new-price {
            font-weight: 600;
            color: var(--green);
          }
        }
        .note {
          ul li {
            list-style-type: disc;
            line-height: 32px;
          }
        }
      }
      .includes {
        .left {
          @media (min-width: 768px) {
            border-right: 1px solid var(--gray);
          }
        }
        .right {
          @media (min-width: 768px) {
            padding-left: 48px;
          }
        }
      }
    }
  }
  &__similar-tour {
    .similar-tour-slider {
      color: var(--gray);
      .intro {
        h4 {
          font-weight: 600;
          span {
            color: var(--blue);
          }
        }
        .sub-title {
          color: var(--blue);
        }
        .description {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
        }
      }
      .details {
        background: rgba(90, 90, 90, 0.1);
        border-radius: 10px;
        h4 {
          background: rgba(90, 90, 90, 0.2);
          &:first-child {
            border-radius: 10px 10px 0 0;
          }
        }
      }
    }
    .prev-btn1 {
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
    }
    .next-btn1 {
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
    }
  }
}

.home__testimonial--slide {
  .carousel-item {
    height: 500px;
    img {
      object-fit: cover;
    }
    .body-testimonial {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (min-width: 768px) {
        h3 {
          font-size: 48px;
        }
      }
      @media (min-width: 768px) and (max-width: 992px) {
        h3 {
          font-size: 32px;
        }
      }
    }
  }
}

#popupPlanHoliday {
  .body {
    .form {
      input {
        border: 1px solid #ccc;
      }
    }
  }
}
