<div class="groupTour-infomation">
  <div class="container">
    <div class="groupTour-infomation--row">
      <div class="heading">
        <h2 class="heading-title-main">SERIES/GROUP TOURS</h2>
      </div>
      <div class="content">
        Cooperate with over 1600 agents/partners, Traveland Asia is capable of leveraging our buying power to secure the best deals for Group Series departures. With special discounts on room rates and allotments for group series at selected hotels, we ensure our group/series can benefit from good value of money, high standards of quality, prompt support on the spot with operation offices across Indochina. We’re all about building long term partnerships through consistent service, transparency and trust.
      </div>
    </div>
  </div>
</div>
