<div class="groupTour-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="groupTour-service--item">
          <div class="logo">
            <img src="./assets/img/ic-group-1.png" alt="" />
          </div>
          <h3 class="heading">White-labelling</h3>
          <p class="des">
            Services provided to clients are solely made under your brand
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="groupTour-service--item">
          <div class="logo">
            <img src="./assets/img/ic-group-2.png" alt="" />
          </div>
          <h3 class="heading">High quality service</h3>
          <p class="des">
            Be mindful in every travel plan to provide meaningful experience & meet international standards.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="groupTour-service--item">
          <div class="logo">
            <img src="./assets/img/ic-group-3.png" alt="" />
          </div>
          <h3 class="heading">Rate winner</h3>
          <p class="des">
            Special bulk agreements with hotels & other service providers
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="groupTour-service--item">
          <div class="logo">
            <img src="./assets/img/ic-group-4.png" alt="" />
          </div>
          <h3 class="heading">Attention to details</h3>
          <p class="des">
            Attentive to single detail in travel plan & the client’s need.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="groupTour-service--item">
          <div class="logo">
            <img src="./assets/img/ic-group-5.png" alt="" />
          </div>
          <h3 class="heading">Excellent group management</h3>
          <p class="des">
            Effective operation & sales inhouse system management.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="groupTour-service--item">
          <div class="logo">
            <img src="./assets/img/ic-group-6.png" alt="" />
          </div>
          <h3 class="heading">High Travel Liability Insurance</h3>
          <p class="des">
            Ensure worry-free for every client during their trip
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
