<div class="groupTour-Slide">
  <div class="groupTour-Slide--block">
    <div class="lager-image">
      <img
        src="https://congthuong-cdn.mastercms.vn/stores/news_dataimages/hoaquynh/102015/08/11/289caa8405c165836b95fbfc31b14186_vhl.jpg"
        alt=""
      />
    </div>
    <div class="image-slide">
      <div class="slider-groupTour">
        <div class="slider-groupTour--item">
          <img
            src="https://disantrangan.vn/wp-content/uploads/2022/06/hinh_anh_dep_du_lich_5.jpg"
            alt=""
          />
        </div>
        <div class="slider-groupTour--item">
          <img
            src="https://vcdn1-dulich.vnecdn.net/2022/06/03/cauvang-1654247842-9403-1654247849.jpg?w=900&h=540&q=100&dpr=1&fit=crop&s=rriNDvKrNQpoJeus6QAHmw"
            alt=""
          />
        </div>
        <div class="slider-groupTour--item">
          <img
            src="https://tourdulichmalaysia.vn/wp-content/uploads/2018/07/10-hinh-anh-du-lich-malaysia-khien-ban-nhin-la-muon-di-3.jpg"
            alt=""
          />
        </div>
        <div class="slider-groupTour--item">
          <img
            src="https://www.anhdulich.vn/storage/album-anh/danang/cau-rong-da-nang.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="btn-wrap">
        <button class="prev-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
          >
            <path
              d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
              fill="#4DC74E"
            />
            <path
              d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
              fill="white"
            />
          </svg>
        </button>
        <button class="next-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
          >
            <path
              d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
              fill="#4DC74E"
            />
            <path
              d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
