<div class="definiteUs-commitment">
  <div class="container">
    <h2 class="heading-title-main">Our commitment</h2>

    <div class="definiteUs-commitment--body">
      <div class="row">
        <div class="col-md-6">
          <div class="definiteUs-commitment--item">
            <img src="./assets/img/commit-1.png" alt="" />
            <div class="text">
               Traveland.Asia is also working on solutions to make our trips non-plastic by replacing plastic water bottles with biodegradable or refillable bottles.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="definiteUs-commitment--item">
            <img src="./assets/img/commit-2.png" alt="" />
            <div class="text">
              From small details of notice for green travel tips in the itinerary to well-educated tour guides, we are making huge efforts from smallest actions to make every trip more responsible to the environment.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="definiteUs-commitment--item">
            <img src="./assets/img/commit-3.png" alt="" />
            <div class="text">
              Carbon-footprint is also among our great concerns as we always encourage our clients to use more environmentally friendly transportation for sightseeing whenever possible.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="definiteUs-commitment--item">
            <img src="./assets/img/commit-4.png" alt="" />
            <div class="text">
              Has strategic alliances with suppliers to offer fast, accurate and personalized service at competitive prices within 24- 48h.
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-5">
        <a href="/about-us.html" class="btn btn-custom"> Find out more </a>
      </div>
    </div>
  </div>
</div>
