<div class="definiteUs-gallary">
  <div class="container">
    <div class="definiteUs-gallary--list">
      <div class="item">
        <img src="./assets/img/Rectangle 374.png" alt="" />
      </div>
      <div class="item">
        <img src="./assets/img/Rectangle 375.png" alt="" />
      </div>
      <div class="item">
        <img src="./assets/img/Rectangle 376.png" alt="" />
      </div>
    </div>
  </div>
</div>
