<div class="definiteUs-inovation">
  <div class="container">
    <h2 class="heading-title-main">Our Passion & innovation</h2>

    <div class="innovation-list">
      <a href="" class="innovation-list--item">
        <img
          src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2023/3/12/1156807/926CF352-BBE0-4764-B.jpeg"
          alt=""
        />
        <div class="info-text">
          Creativity, education and continuous innovation are the lifeblood of our company.
        </div>
      </a>
      <a href="" class="innovation-list--item">
        <img
          src="https://www.anhdulich.vn/storage/album-anh/danang/cau-rong-da-nang.jpg"
          alt=""
        />
        <div class="info-text">
          Love creating unique experiences and showing the most authentic part of our countries.
        </div>
      </a>
      <a href="" class="innovation-list--item">
        <img
          src="https://bloganchoi.com/wp-content/uploads/2022/01/du-lich-4.jpg"
          alt=""
        />
        <div class="info-text">
          Make exclusive journeys for different partners with updated travel trends and service quality.
        </div>
      </a>
    </div>
  </div>
</div>
