<div class="definiteUs-philosophy">
  <div class="container">
    <div class="heading">
      <h2 class="heading-title-main">Our philosophy & ethics</h2>
    </div>
    <div class="about-us--sevice">
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-sevice-1.png" alt="" />
        <h3 class="heading"> Brand protection</h3>
        <div class="text-description-center">
          We treasure our long-term partnerships & give full support but retain your own clients and brand as partner relationships are built on trust and reliability by our established, secure, transparency group.
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-sevice-2.png" alt="" />
        <h3 class="heading">Consistent service</h3>
        <div class="text-description-center">
          We master Group series for any brand from the style of travel and regularity of departures by our mutual direction and in-depth support on the ground. We retain personal service to which our partners and mutual customers are entitled.
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-sevice-3.png" alt="" />
        <h3 class="heading">High-valued product</h3>
        <div class="text-description-center">
          Hotels, vehicles and activities are frequently inspected by the operation team before shortlisting to ensure international standards. No matter what itinerary, our people working behind the scenes are well trained in crisis management and altitude safety.
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-sevice-4.png" alt="" />
        <h3 class="heading">Sustainability in tourism</h3>
        <div class="text-description-center">
          We are a Travelife member with responsible tourism practices through our yearly audited action plan by Travelife. “Being responsible” is not only to the environment but also to the people collaborating with Threeland including partners, staff and travellers.
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-sevice-4.png" alt="" />
        <h3 class="heading">Customer-oriented business</h3>
        <div class="text-description-center">
          Technology speeds up our process & makes our work more efficient. Though tourism is people's business in the end, our culture is characterised by its commitment & dedication to differentiate through personal service, continuous know-how and passion.
        </div>
      </div>
      <div class="about-us--sevice-item">
        <img src="./assets/img/ic-sevice-4.png" alt="" />
        <h3 class="heading">Our Collaboration</h3>
        <div class="text-description-center">
          We handpicked the best suppliers sharing the same ethics. Our partners benefit from crucial advantages: the synergistic effect of delivering the highest quality of services at the most competitive rates for different markets.
        </div>
      </div>
    </div>
  </div>
</div>
