<div class="definiteUs-vision">
  <div class="container">
    <div class="slider-vision">
      <div class="slider-vision--item">
        <div class="row">
          <div class="col-md-5">
            <h2 class="heading-title-main">Our Vision & Mission</h2>
            <div class="d-block d-md-none btn-wrap">
              <button class="prev-btn-vision">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
              <button class="next-btn-vision">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <path
                    d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
                    fill="#4DC74E"
                  />
                  <path
                    d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
                    fill="white"
                  />
                </svg>
              </button>
            </div>
            <br />
            <h3>To partners/customers</h3>
            <ul>
              <li>
                Keep building win-win and hand-in-hand partnerships, bringing
                mutual benefits and growth for all.
              </li>
              <li>
                Company filled with friendship, pride, and professional
                performance with like-minded partners.
              </li>
              <li>
                We value democracy, freedom, happiness and responsibility to
                provide exceptional service.
              </li>
              <li>
                Our way of working with our clients is always open, respectful,
                honest, courteous and helpful.
              </li>
            </ul>
          </div>
          <div class="col-md-7">
            <img
              src="https://dulichhalongquangninh.com/wp-content/uploads/2016/07/hinh-anh-du-lich-ha-long.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="slider-vision--item">
        <div class="row">
          <div class="col-md-5">
            <h2 class="heading-title-main">Our Vision & Mission</h2>
            <br />
            <h3>To employee</h3>
            <ul>
              <li>
                Provide the best working environment for personal development
                and promotion.
              </li>
              <li>
                Our working philosophy: If you want to travel fast, travel
                alone. If you want to travel far, travel together.
              </li>
              <li>
                Equal opportunity of promotion for anyone with excellent
                distribution.
              </li>
              <li>
                Ensure fair & ethical employment, working opportunities for
                every employee regardless of background.
              </li>
            </ul>
          </div>
          <div class="col-md-7">
            <img
              src="https://wall.vn/wp-content/uploads/2020/04/anh-dep-viet-nam-2.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="slider-vision--item">
        <div class="row">
          <div class="col-md-5">
            <h2 class="heading-title-main">Our Vision & Mission</h2>
            <br />
            <h3>To community</h3>
            <ul>
              <li>
                Focus on the community's benefit, deliver exceptional travel
                experiences to connect our guests with local people and
                cultures.
              </li>
              <li>
                Share best practices in responsibility to support local
                communities via our travel programs.
              </li>
              <li>
                Provide promotional and financial support for external
                initiatives in the remote operating area.
              </li>
              <li>
                Strengthen the capacity of our suppliers and community partners
                to ensure the best service and authentic experiences.
              </li>
            </ul>
          </div>
          <div class="col-md-7">
            <img
              src="https://storage.googleapis.com/blogvxr-uploads/2020/10/A%CC%89nh-phong-ca%CC%89nh-de%CC%A3p-Vie%CC%A3%CC%82t-Nam-thi%CC%A3-tra%CC%82%CC%81n-mo%CC%9B%CC%80i-su%CC%9Bo%CC%9Bng-Sapa.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="slider-vision--item">
        <div class="row">
          <div class="col-md-5">
            <h2 class="heading-title-main">Our Vision & Mission</h2>
            <br />
            <h3>To environment</h3>
            <ul>
              <li>
                Present high responsibility of preserving privilege of living
                for generations to come while operating within a marvelous
                natural and cultural heritage;
              </li>
              <li>
                Integrate sustainability in every travel style as we appreciate
                whatever nature of the destinations has to offer and never take
                it for granted.
              </li>
              <li>
                Implement a solid waste reduction and recycling policy with
                quantitative goals to reduce non-re-useable waste.
              </li>
              <li>
                Design tour itineraries with definite mindfulness to the natural
                environment. Encourage our guests about preserving the natural
                environment everywhere they go, especially in extremely
                environmentally sensitive areas.
              </li>
            </ul>
          </div>
          <div class="col-md-7">
            <img
              src="https://storage.googleapis.com/blogvxr-uploads/2020/10/A%CC%89nh-phong-ca%CC%89nh-de%CC%A3p-Vie%CC%A3%CC%82t-Nam-thi%CC%A3-tra%CC%82%CC%81n-mo%CC%9B%CC%80i-su%CC%9Bo%CC%9Bng-Sapa.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block btn-wrap">
      <button class="prev-btn-vision">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
        >
          <path
            d="M40 7C40 3.13401 36.866 0 33 0H7C3.13401 0 0 3.13401 0 7V33C0 36.866 3.13401 40 7 40H33C36.866 40 40 36.866 40 33V7Z"
            fill="#4DC74E"
          />
          <path
            d="M13.9239 19.8764C13.9942 19.805 13.9942 19.7335 14.0644 19.6621L18.2817 15.3764C18.5628 15.0907 18.9845 15.0907 19.2657 15.3764C19.5468 15.6621 19.5468 16.0907 19.2657 16.3764L16.2433 19.4478H25.1038C25.5255 19.4478 25.8066 19.7335 25.8066 20.1621C25.8066 20.5907 25.5255 20.8764 25.1038 20.8764H16.2433L19.2657 23.9478C19.5468 24.2335 19.5468 24.6621 19.2657 24.9478C19.1251 25.0907 18.9142 25.1621 18.7737 25.1621C18.6331 25.1621 18.4222 25.0907 18.2817 24.9478L14.0644 20.6621C13.9942 20.5907 13.9239 20.5193 13.9239 20.4478C13.8536 20.2335 13.8536 20.0907 13.9239 19.8764Z"
            fill="white"
          />
        </svg>
      </button>
      <button class="next-btn-vision">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
        >
          <path
            d="M0 7C0 3.13401 3.13401 0 7 0H33C36.866 0 40 3.13401 40 7V33C40 36.866 36.866 40 33 40H7C3.13401 40 0 36.866 0 33V7Z"
            fill="#4DC74E"
          />
          <path
            d="M26.0761 19.8764C26.0058 19.805 26.0058 19.7335 25.9356 19.6621L21.7183 15.3764C21.4372 15.0907 21.0155 15.0907 20.7343 15.3764C20.4532 15.6621 20.4532 16.0907 20.7343 16.3764L23.7567 19.4478H14.8962C14.4745 19.4478 14.1934 19.7335 14.1934 20.1621C14.1934 20.5907 14.4745 20.8764 14.8962 20.8764H23.7567L20.7343 23.9478C20.4532 24.2335 20.4532 24.6621 20.7343 24.9478C20.8749 25.0907 21.0858 25.1621 21.2263 25.1621C21.3669 25.1621 21.5778 25.0907 21.7183 24.9478L25.9356 20.6621C26.0058 20.5907 26.0761 20.5193 26.0761 20.4478C26.1464 20.2335 26.1464 20.0907 26.0761 19.8764Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
