<div class="single-blog">
  <div class="container">
    <h2 class="heading-title-main">Blog Title</h2>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="blog-content">
          <p>
            Lorem ipsum dolor sit amet consectetur. Cursus adipiscing elit velit
            ipsum faucibus maecenas pharetra mauris. Sapien ultrices vel
            pulvinar eu volutpat eget. Sit pellentesque sit pulvinar tellus
            velit nulla etiam habitant habitant. Ultricies amet aliquam rhoncus
            lectus sit. Diam et nulla quis odio ipsum.
          </p>
          <img
            loading="lazy"
            srcset="
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
              https://cdn.builder.io/api/v1/image/assets/TEMP/dcc8969a-a8b2-46c7-9ceb-832cf85ea67c?apiKey=b4655bf8d56943228c825aef8f09662b&
            "
            class="img pt-4 pb-4"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur. Id est vel tellus purus
            pharetra volutpat. Fermentum porta massa diam aenean lobortis semper
            mauris fermentum. Faucibus molestie morbi sed blandit euismod dolor
            egestas semper penatibus. Aliquam gravida nullam libero mauris
            semper habitant. Morbi nisl at condimentum egestas quam. A pharetra
            leo faucibus ut. Pharetra sed elementum imperdiet aenean neque
            tortor. Tincidunt ipsum eu quam cras ut. Pretium interdum sed purus
            id nunc massa consectetur lacus.
          </p>
          <p>
            Commodo neque viverra gravida diam eget sed dolor sed tortor.
            Pharetra quam pellentesque mollis massa. Fusce diam egestas volutpat
            metus sed non nullam varius. Risus neque augue hendrerit nisi. Arcu
            vitae pretium semper vel. Mattis blandit aliquam risus a ultrices
            accumsan nunc. Sagittis justo dolor dui malesuada vulputate eu
            tristique in. Eleifend imperdiet erat lorem amet gravida vel lacus
            etiam. Ultricies in tellus nisi donec fringilla urna ipsum ac amet.
            Mauris sed volutpat eleifend odio. Et vitae vestibulum laoreet
            convallis tristique quam lectus cras integer. Arcu auctor lorem
            scelerisque sit ut dolor nisl. Elit morbi tortor sed lectus eget
            massa. Malesuada cras consectetur sem leo. Viverra adipiscing nunc
            viverra nunc. Vehicula eget sapien vulputate hendrerit. Aliquam mi
            enim etiam libero lectus lobortis. Enim amet sed fusce consectetur.
            In eu amet fermentum ipsum quam. Diam dapibus.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="input-group search-form">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">
              <img src="./assets/img/icon-search.svg" alt="Search" />
            </span>
          </div>
        </div>

        <div class="need-help">
          <div class="need-help-blur">
            <div class="need-help--title">Need Help?</div>
            <div class="need-help--content">
              Lorem ipsum dolor sit amet consectetur adipiscing elit dolor
            </div>
            <div class="need-help--action">
              <button class="call-us">
                <a href="tel:+85563766728">Call us</a>
              </button>
              <button class="book-consultation" data-toggle="modal" data-target="#popupPlanHoliday">Book Consultation</button>
            </div>
          </div>
        </div>

        <div class="latest-post">
          <div class="latest-post--title">Latest Post</div>
          <div class="latest-post--list">
            <div class="post-item">
              <div class="post-item--image">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/94d33c55-9d2f-41e6-a6b4-6bc5d59ef3a9?apiKey=b4655bf8d56943228c825aef8f09662b&
                  "
                  class="img"
                />
              </div>
              <div class="post-item--blog">
                <div class="blog-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </div>
                <div class="blog-date">October 14, 2021</div>
              </div>
            </div>
            <div class="post-item">
              <div class="post-item--image">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/31406e5e-c512-4933-95f6-357a306535de?apiKey=b4655bf8d56943228c825aef8f09662b&
                  "
                  class="img"
                />
              </div>
              <div class="post-item--blog">
                <div class="blog-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </div>
                <div class="blog-date">October 14, 2021</div>
              </div>
            </div>
            <div class="post-item">
              <div class="post-item--image">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/90d34165-1298-4d86-a5f8-df966660f988?apiKey=b4655bf8d56943228c825aef8f09662b&
                  "
                  class="img"
                />
              </div>
              <div class="post-item--blog">
                <div class="blog-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </div>
                <div class="blog-date">October 14, 2021</div>
              </div>
            </div>
            <div class="post-item">
              <div class="post-item--image">
                <img
                  loading="lazy"
                  srcset="
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&width=100   100w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&width=200   200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&width=400   400w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&width=800   800w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&width=1200 1200w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&width=1600 1600w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&width=2000 2000w,
                    https://cdn.builder.io/api/v1/image/assets/TEMP/6056dbbd-fee6-494f-b550-5160a0d581fd?apiKey=b4655bf8d56943228c825aef8f09662b&
                  "
                  class="img"
                />
              </div>
              <div class="post-item--blog">
                <div class="blog-description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                </div>
                <div class="blog-date">October 14, 2021</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
