<div class="container post-comment">
  <div class="post-comment--title">Leave a Reply</div>
  <div class="post-comment--sub-title">
    Your email address will not be published. Required fields are marked *
  </div>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="post-comment--form-label">Message</label>
          <textarea class="form-control" rows="4" name="message"> </textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="post-comment--form-label">Name</label>
          <input type="text" class="form-control" name="name" />
        </div>

        <div class="form-group">
          <label class="post-comment--form-label">Email</label>
          <input type="text" class="form-control" name="email" />
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label class="form-check-label custom-checkbox" for="save_my_name"
            >Save my name, email, and website in this browser for the next time
            I comment.

            <input type="checkbox" class="form-check-input" id="save_my_name" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success  btn-custom text-capitalize">
      Post Comment
    </button>
  </form>
</div>
