<div class="meetTeam-client">
  <div class="container">
    <div class="row d-flex align-items-start">
      <div class="col-lg-4 mb-4">
        <div class="content">
          <h3 class="mb-3">
            Speak to a specialist to start planning your tailor-made holiday...
          </h3>
          <p class="mb-3">
            Call one of our experts or arrange a video appointment for ideas and
            advice.
          </p>
          <div class="control">
            <a href="" class="btn btn-custom">make an enquiry</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row d-flex align-items-start">
          <div class="col-md-4 col-6 color-blue text-right mb-4">
            <h5 class="fz-16 font-weight-bold mb-3">
              CAMBODIA OFFICE
            </h5>
            <p class="mb-2">
              # 203 Sangkat, Svay Dungum, Siem Reap, Cambodia
            </p>
            <p class="mb-2">
              +855 63 766 728
            </p>
            <p class="mb-2">
              help@traveland.asia
            </p>
          </div>
          <div class="col-md-4 col-6 color-blue text-right mb-4">
            <h5 class="fz-16 font-weight-bold mb-3">
              VIETNAM OFFICE
            </h5>
            <p class="mb-2">
              125 Hong Ha, Ba Dinh, Hanoi, Vietnam
            </p>
            <p class="mb-2">
              +84 988 775 260
            </p>
            <p class="mb-2">
              help@traveland.asia
            </p>
          </div>
          <div class="col-md-4 col-6 color-blue text-right mb-4">
            <h5 class="fz-16 font-weight-bold mb-3">
              LAOS OFFICE
            </h5>
            <p class="mb-2">
              88/07 Ban Phonpheng, Luang Prabang, Laos PDR
            </p>
            <p class="mb-2">
              +856 20 5570880
            </p>
            <p class="mb-2">
              help@traveland.asia
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
