<div class="meetTeam-request">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="https://datviettour.com.vn/uploads/images/chau-a/thai-lan/hinh-danh-thang/golden-pagoda.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <h3>Request our brochure</h3>
                    <p>
                                Covering all seven continents, The world your way shows you how you can see the world with us. It features trip ideas from our specialists alongside hand-picked stays and experiences, and introduces our approach to creating meaningful travel experiences.
                            </p>
                    <button type="button" class="btn btn-custom-2" data-toggle="modal" data-target="#popupPlanHoliday">request a brochure</button>
                </div>
            </div>
        </div>
    </div>
</div>