<div class="aboutUs-collection">
  <div class="container">
    <div class="heading">
      <h2 class="heading-title-main">Our experience collection</h2>
      <h3 class="des">Our multiple segments in products:</h3>
    </div>
    <div class="aboutUs-collection--body">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-6">
          <a href="/group-tours.html">
            <div class="item-box">
              <div class="logo-box">
                <img src="./assets/img/ic-exper (1).png" alt="" />
              </div>
              <h3>SERIES/GROUP TOURS</h3>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <a href="/leisure-travel-styles.html">
            <div class="item-box">
              <div class="logo-box">
                <img src="./assets/img/ic-exper (1).png" alt="" />
              </div>
              <h3>LEISURE STYLES</h3>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <a href="/mice.html">
            <div class="item-box">
              <div class="logo-box">
                <img src="./assets/img/ic-exper (1).png" alt="" />
              </div>
              <h3>MICE</h3>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
          <a href="/customized-tour.html">
            <div class="item-box">
              <div class="logo-box">
                <img src="./assets/img/ic-exper (1).png" alt="" />
              </div>
              <h3>CUSTOMIZED TOUR</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
