<div class="aboutUs-gallary">
  <div class="container">
    <div class="gallary-group">
      <div class="gallary-group--item">
        <div class="img-thumbnail">
          <img
            src="https://wall.vn/wp-content/uploads/2020/04/anh-dep-viet-nam-4.jpg"
            alt=""
          />
        </div>
        <a href="/what-define-us.html" class="btn-more">
          what defines us
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9"
            height="15"
            viewBox="0 0 9 15"
            fill="none"
          >
            <path
              d="M1.3335 13.9414L7.3335 7.94141L1.3335 1.94141"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="gallary-group--item">
        <div class="img-thumbnail">
          <img
            src="https://wall.vn/wp-content/uploads/2020/04/anh-dep-viet-nam-1.jpg"
            alt=""
          />
        </div>
        <a href="/our-timelines.html" class="btn-more">
          Our Timelines
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9"
            height="15"
            viewBox="0 0 9 15"
            fill="none"
          >
            <path
              d="M1.3335 13.9414L7.3335 7.94141L1.3335 1.94141"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="gallary-group--item">
        <div class="img-thumbnail">
          <img
            src="https://wall.vn/wp-content/uploads/2020/04/anh-dep-viet-nam-4.jpg"
            alt=""
          />
        </div>
        <a href="/meet-the-team.html" class="btn-more">
          Meet the team
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9"
            height="15"
            viewBox="0 0 9 15"
            fill="none"
          >
            <path
              d="M1.3335 13.9414L7.3335 7.94141L1.3335 1.94141"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
