<div class="viet-nam__culture container pt-5 mb-5">
  <div class="row m-md-5">
    <div class="col-lg-6 col-12 p-4">
      <img class="w-100" src="./assets/img/cambodia-map.png" alt="cambodia-map" usemap="#image-map-cambodia">
      <map name="image-map-cambodia">
        <area class="pointer" target="" alt="" title="SIEM REAP" coords="200,114,37" shape="circle">
        <area class="pointer" target="" alt="" title="BATTAMBANG" coords="112,221,50" shape="circle">
        <area class="pointer" target="" alt="" title="PREAH VIHEAR" coords="328,130,49" shape="circle">
        <area class="pointer" target="" alt="" title="KAMPONG THOM" coords="332,246,48" shape="circle">
        <area class="pointer" target="" alt="" title="KAMPONG CHAM" coords="353,334,34" shape="circle">
        <area class="pointer" target="" alt="" title="KRATIE" coords="NaN" shape="circle">
        <area class="pointer" target="" alt="" title="PHNOM PENH" coords="322,420,43" shape="circle">
        <area class="pointer" target="" alt="" title="SIHANOUKVILLE" coords="NaN" shape="circle">
        <area class="pointer" target="" alt="" title="KOH RONG" coords="NaN" shape="circle">
    </map>
    </div>
    <div class="viet-nam__culture--intro col-lg-6 col-12">
      <img class="w-100" src="./assets/img/Rectangle 295 (12).png" alt="#">
      <div class="px-3 mb-4">
        <h6 class="title fz-14 font-weight-bold">PHNOM PENH</h6>
        <p class="description">
          Featured by well-organized streets, charming old houses alongside new deluxe buildings, busy river ports, exciting night markets and various cuisines, Phnom Penh is a typical growing Asian capital. Owning the biggest international airport of the country and connecting with Vietnam by short landway and riverway, Phnom Penh welcomes not only tourists coming for holiday but the businessmen from Vietnam, all over Asia, and beyond. In comparison with other towns in Cambodia, Phnom Penh resembles the fascination and growth of the country utmost. On the other hand, the city will relieve you with its deep cultural value and inspiring architectural works.
        </p>
      </div>
      <div class="row px-3 ">
        <div class="info_1 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (9).png" alt="#">
          <p>Culture site: Royal Palace complex with Silver Pagoda; The Independence Monument; The Statue of King Father Norodom Sihanouk</p>
        </div>
        <div class="info_2 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (10).png" alt="#">
          <p>National Museum – the largest and the central museum of the country,  Tuol Sleng Genocide Museum; Choeung Ek Genocidal centre (Killing Fields)</p>
        </div>
        <div class="info_3 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (11).png" alt="#">
          <p> Wat Phnom – located on the top of the city’s hill, Koh Dach (Silk Island); Tonle Bati; A sunset boat tour on the Mekong river.</p>
        </div>
        <div class="info_4 col-6 mb-3">
          <img class="mb-2" src="./assets/img/Group 5 (12).png" alt="#">
          <p>Others: Mekong Island cycling tour, Beer Tasting Experience, foodie tour,</p>
        </div>
      </div>
    </div>
  </div>
  <div class="viet-nam__culture--trending d-flex flex-column align-items-center">
    <h4 class="fz-24 mb-4">TRENDING NOW</h4>
    <div class="d-flex">
      <img class="px-3 pointer" src="./assets/img/icon-youtube.png" alt="icon youtube">
      <img class="px-3 pointer" src="./assets/img/icon-insta.png" alt="icon instagram">
      <img class="px-3 pointer" src="./assets/img/icon-fb.png" alt="icon facebook">
      <img class="px-3 pointer" src="./assets/img/icon-linkin.png" alt="icon linkin">
      <img class="px-3 pointer" src="./assets/img/icon-twitter.png" alt="icon twitter">
    </div>
  </div>
</div>