<div class="viet-nam__description container py-5">
  <p class="mb-4">“Cambodia – the Kingdom of Wonder - a charming yet confounding country witnessed many ups and downs during over 2 thousand years of civilizations. In the long history on this land, the foundation and development of the mighty Khmer Empire that used to rule much of land covering Laos, Thailand and Vietnam today was the most splendid period with many great achievements in both architecture and agriculture. Among many legacies left by this empire until today, Angkor temple complex was the most notable one, considered as the most extensive concentration of religious temples in the world.”</p>
  <img class="w-100" src="./assets/img/Rectangle 295 (11).png" alt="Rectangle 295 (7)">
</div>