<div class="viet-nam__weather position-relative">
  <img src="./assets/img/FAQs (1).png" class="d-block w-100 background" alt="weather" />
  <div class="viet-nam__weather--breadcrumbs position-absolute d-flex align-items-center">
    <hr>
    <div class="items text-white fz-16">
      <span class="weather-tab pointer px-4 active">Weather</span>
       / 
      <span class="quick-facts-tab pointer px-4">Quick facts</span>
       / 
      <span class="faq-tab pointer px-4">Useful FAQs</span>
    </div>
  </div>
  <div class="viet-nam__weather--content position-absolute p-lg-5 p-4 text-white fz-18 font-weight-bold">
    <div class="weather d-none d-block">
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white">
          REGION
        </h3>
        <p class="text-center px-4">1 <br> JAN</p>
        <p class="text-center px-4">2 <br> FEB</p>
        <p class="text-center px-4">3 <br> MAR</p>
        <p class="text-center px-4">4 <br> APR</p>
        <p class="text-center px-4">5 <br> MAY</p>
        <p class="text-center px-4">6 <br> JUN</p>
        <p class="text-center px-4">7 <br> JUL</p>
        <p class="text-center px-4">8 <br> AUG</p>
        <p class="text-center px-4">9 <br> SEP</p>
        <p class="text-center px-4">10 <br> OCT</p>
        <p class="text-center px-4">11 <br> NOV</p>
        <p class="text-center px-4">12 <br> DEC</p>
      </div>
      <div class="d-flex align-items-center border-bottom border-white">
        <h3 class="border-right border-white text-uppercase">
          siem reap / <br> phnom penh
        </h3>
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/rain.png" alt="rain">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="snowflake">
      </div>
      <div class="d-flex align-items-center">
        <h3 class="border-right">
          BEACHES
        </h3>
        <img class="mx-4" src="./assets/img/sun.png" alt="snowflake">
        <img class="mx-4" src="./assets/img/sun.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/rain.png" alt="sun">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_2">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="sun_3">
        <img class="mx-4" src="./assets/img/sun_3.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="rain_2">
        <img class="mx-4" src="./assets/img/rain_3.png" alt="snowflake">
      </div>
    </div>
    <div class="quick-facts d-none">
      <div class="row">
        <div class="col-6">
          <div class="capital d-flex mb-3">
            <h3>CAPITAL:</h3>
            <span class="pl-2">Phnom Penh</span>
          </div>
          <div class="language mb-3">
            <h3>LANGUAGE:</h3>
            <span>Khmer language as the country's sole official language.
              <br>
              French is spoken among many old people. English is widely used specially among youth in big cities.
            </span>
          </div>
          <div class="population mb-3">
            <h3>POPULATION:</h3>
            <div class="d-flex align-items-center">
              <h1>16.68</h1>
              <span>million <br> (Mar, 2020)</span>
            </div>
          </div>
          <div class="area mb-3">
            <h3>AREA:</h3>
            <div class="d-flex align-items-center">
              <h1>181.035</h1>
              <span>km2 <br> (69.898 m2)</span>
            </div>
          </div>
          <div class="currency mb-3">
            <h3>CURRENCY:</h3>
            <span>The Riel.
              <br>
              USD is accepted everywhere like local currency (Riel)
              <br>
              ATM is popular in the city center. Money withdrawal rate at ATMs costs an average of 3.3%.
              <br>
              ATM is popular in the city center. Money withdrawal rate at ATMs costs an average of 3.3%.
            </span>
          </div>
          <div class="coordinates mb-3 d-flex">
            <h3>COORDINATES:</h3>
            <span class="pl-2">11° 59' 16.68'' N;  ‎104° 58' 50.21'' E</span>
          </div>
        </div>
        <div class="col-6">
          <div class="electricity mb-3">
            <h3>ELECTRICITY:</h3>
            <span>Between</span>
            <div class="d-flex align-items-center">
              <h1>220-230</h1>
              <span>Volt <br> 50 Hz</span>
            </div>
            <span>Plugs with two flat pins
            </span>
          </div>
          <div class="religion mb-3">
            <h3>TIME ZONE:</h3>
            <div class="d-flex align-items-center">
              <h1>GMT+7</h1>
              <span>Hours</span>
            </div>
            <span>Daylight saving time (DST) is not implemented in Cambodia.
            </span>
          </div>
          <div class="religion mb-3">
            <h3>RELIGION:</h3>
            <span>Largely homogeneous in population with majority is Khmer people (90%), some minor groups including Vietnamese, Chams, Chinese, and Khmer-Loeu or Montagnards.
              <br>
              Majority of the population (95%) practice Theravada Buddhism which is deeply influenced by Hinduism and native animism. People tend to live in harmony and avoid aggression and conflict.
            </span>
          </div>
          <div class="currency mb-3">
            <h3>CURRENCY:</h3>
            <span>Vietnamese Dong VND
              <br>
              ($1 = 23.500 VND – April 2023)
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="faq p-lg-5 d-none p-4 w-100">
      <div class="item">
        <div class="d-none d-block i1">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Visa for Cambodia</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-visa-viet-nam" aria-expanded="false" aria-controls="faq-visa-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-visa-viet-nam">
            You may, however, obtain a 30-day visa upon arrival and renew it while still inside the nation. You may seek a visa in advance through an embassy or consulate, and there is now an e-visa option that is appropriate if you want to remain for a long time.
          </p>
        </div>
        <div class="d-none i2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Best time to visit Cambodia</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-best-time" aria-expanded="false" aria-controls="faq-best-time" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-best-time">
            Cambodia is warm year-round. Dry season, running November through May, encompasses two seasons: cool (November-February) and hot (March-May). Cool season is when most travellers visit Cambodia. Wet season runs May through September and is a good time to visit Angkor.
          </p>
        </div>
        <div class="d-none i3">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Dress code</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-dess-code" aria-expanded="false" aria-controls="faq-dess-code" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-dess-code">
            Dress modestly, covering your shoulders and knees, when visiting religious places, the countryside, and the Ho Chi Minh Mausoleum. Before visiting a temple or pagoda, don't forget to take off your hat and shoes. Don't wear shorts, miniskirts, or bare shoulders. You should never turn your back on a Buddha statue or image.
          </p>
        </div>
        <div class="d-none i5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Emergency contact</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-emergency" aria-expanded="false" aria-controls="faq-emergency" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-emergency">
            Ask the aid of a Khmer speaker because there might not be an English-speaking operator on the line:
            <br>
            Ambulance: 119
            <br>
            Fire department: 118
            <br>
            Police: 117 or 118
        </div>
        <div class="d-none i4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Safety in Cambodia</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-safety-viet-nam" aria-expanded="false" aria-controls="faq-safety-viet-nam" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-safety-viet-nam">
            In Cambodia, there hasn't been much of a concern with physical safety, according to reports. Be on the lookout for pickpockets and always keep any expensive electronics and documents in a safe location because pickpockets may operate in well-known tourist spots.
          </p>
        </div>
        <div class="d-none i6">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Health advices</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-health-advices" aria-expanded="false" aria-controls="faq-health-advices" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-health-advices">
            - Avoid raw meat and fish
            <br>
            - Prefer boiled or cooked vegetables instead of raw vegetables.
            <br>
            - Wash your hands frequently
            <br>
            - Drink a lot of water to keep your body hydrated, and avoid strong physical exercise before you get used to the heat.
            <br>
            - Use insect repellent several times a day if you are in a humid region of Cambodia, and at night time in the whole country. Wear long sleeved/legged clothes to avoid mosquito bites, mostly at night time also.
          </p>
        </div>
        <div class="d-none i7">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="fz-14 font-weight-bold">Do and don’t in Cambodia</h6>
            <button type="button" data-toggle="collapse" data-target="#faq-do-dont" aria-expanded="false" aria-controls="faq-do-dont" class="read-more fz-16 text-white border border-white px-3 py-2">Read More</button>
          </div>
          <p class="collapse fz-14" id="faq-do-dont">
            Always respect local traditions out of consideration for the people who gladly welcome visitors. There are a few things to keep in mind while you explore this stunning nation:
            <br>
            Do
            <br>
            <span class="pl-3 d-block pt-1">
              - Always get someone's permission before taking their picture, especially in remote areas.
              <br>
              - To combat mosquitoes, have insect repellent on hand. No vaccines are required, however it is advisable for anyone considering a trip to Cambodia to think about getting some and packing some medication because it may not be available everywhere.
              <br>
              - Remove your shoes before visiting temples, pagodas, and other places of worship.
              <br>
              - In such places, bare skin is discouraged; stay away from shorts, cover your shoulders, and take off your cap.
              <br>
              - When entering someone's home, take off your shoes. If you are asked to come to a meal, bring a small present; flowers or fruit are acceptable.
              <br>
              - If you're going to a wedding in Cambodia, provide a monetary gift.
              <br>
              - As you offer and receive, use both hands.
              <br>
              - If you are being introduced to someone, bow slightly forward while clasping your hands together (as if in prayer). Use common sense; it is generally formal and not always anticipated.
            </span>
            <br>
            Don’t
            <br>
            <span class="pl-3 d-block pt-1">
            - Use your feet to indicate, as they are thought to be the dirtiest part of the body.
            <br>
            - Don't touch anyone's head; it's the most significant and private area of the body.
            <br>
            - Under no circumstances should you begin eating before your host.
            <br>
            - If you're a woman, touch monks or give them something.
            <br>
            - Show excessive affection in front of others.
            </span>

          </p>
        </div>
      </div>
      <div class="pagination fz-14 d-flex mt-3">
        <div class="px-3 py-2 pointer p1 active">1.</div>
        <div class="px-3 py-2 pointer p2">2.</div>
        <div class="px-3 py-2 pointer p3">3.</div>
        <div class="px-3 py-2 pointer p4">4.</div>
        <div class="px-3 py-2 pointer p5">5.</div>
        <div class="px-3 py-2 pointer p6">6.</div>
        <div class="px-3 py-2 pointer p7">7.</div>
      </div>
    </div>
  </div>
</div>