:root {
  --orange: #ff5942;
  --red: #e91925;
  --gray: #696969;
  --blue: #194399;
  --gray1: #5a5a5a;
  --green: #4dc74e;
  --green1: #44ac45;
  --black: #000;
  --white: #fff;
  --gray-transparent: rgba(90, 90, 90, 0.1);
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #ccc;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}
body.bg-dc {
  background: #fff url("#{$img-path}/bg-login.jpg") no-repeat right -44px;
  background-size: contain;
}
@mixin hover {
  filter: saturate(1.9);
  -webkit-filter: saturate(1.9);
}
a {
  transition: 0.25s;
}
a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

input {
  &:focus {
    box-shadow: none !important;
  }
}

//header
.top-header {
  padding: 3px 0;
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn-filter {
    width: 24px;
    height: 24px;
    background: url("#{$img-path}/icon-filter.svg") no-repeat;
    margin-left: auto;
  }
}

.travel-menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;

  .container {
    .navbar {
      border: 0;
      list-style: none;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: var(--white);
      padding: 1.5rem 1rem;

      @media (max-width: 991px) {
        padding: 0.5rem 0;
      }

      .logo {
        max-width: 200px;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        margin-left: 16px;

        a {
          color: var(--white);
        }
      }

      .navbar-toggler {
        border: none;

        &.collapsed {
          background: transparent;
        }

        .navbar-toggler-icon {
          color: var(--white);
        }
      }

      .navbar-collapse {
        flex-grow: initial;

        .navbar-nav {
          gap: 40px;
          margin-right: 40px;

          @media (max-width: 991px) {
            gap: 0;
            margin-right: 0;
          }

          .nav-item {
            .nav-link {
              color: var(--white);
              font-weight: 600;
              line-height: 180%;
              padding: 8px 12px;
            }

            .dropdown-menu {
              &.show {
                display: flex;
              }
              min-width: 200px;
              padding: 8px;
              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              border-radius: 12px;
              border: 0.5px solid var(--transparent-black-1, rgba(0, 0, 0, 0.1));
              background: rgba(255, 255, 255, 0.7);

              box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05),
                0px 25px 37px 0px rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(10px);

              .dropdown-item {
                display: flex;
                padding: 12px 8px 12px 16px;
                align-items: center;
                gap: 12px;
                align-self: stretch;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.3);
                font-size: 14px;
                color: var(--blue);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 180%;

                &:hover {
                  background-color: var(--blue);
                  color: var(--white);
                }
              }
            }

            &.active {
              border-bottom: 2px solid var(--white);
            }

            &:hover {
              .nav-link {
                color: var(--blue);
              }
            }
          }
        }
      }

      .dropdown:hover > .dropdown-menu {
        display: flex;
      }

      .box-search-menu {
        position: relative;

        .btn-search-top {
          border: none;
          background: transparent;

          svg {
            color: var(--white);
            width: 20px;
          }

          &:hover {
            svg {
              color: var(--blue);
            }
          }

          @media (max-width: 991px) {
            display: none;
          }
        }

        .form-search-top {
          padding: 8px;
          margin-bottom: 8px;

          .form-control {
            font-size: 14px;
            min-width: 250px;
          }
          .btn {
            font-size: 14px;
            color: var(--black);
            border-color: var(--black);
          }

          @media (min-width: 991px) {
            display: none;

            &.show {
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: absolute;
              top: 30px;
              right: 0;
              min-width: 350px;
              padding: 16px 8px;
              background-color: var(--white);
              border-radius: 10px;

              input {
                border-color: var(--black);
              }

              .btn {
                color: var(--black);
                border-color: var(--black);

                &:hover {
                  color: var(--white);
                  background-color: var(--blue);
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      padding: 0;

      .navbar {
        .navbar-collapse {
          background-color: var(--white);

          .navbar-nav {
            .nav-item {
              .nav-link {
                color: var(--black);
              }
            }
          }
        }
      }
    }
  }

  &.fixed-menu {
    background-color: var(--white);

    .container {
      .navbar {
        .logo {
          a {
            color: var(--black);
          }
        }

        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        .navbar-collapse {
          .navbar-nav {
            gap: 40px;
            margin-right: 40px;

            @media (max-width: 991px) {
              gap: 0;
              margin-right: 0;
            }

            .nav-item {
              .nav-link {
                color: var(--black);
              }

              &:hover {
                .nav-link {
                  color: var(--blue);
                }
              }

              @media (min-width: 991px) {
                &.active {
                  border-bottom: 2px solid var(--black);
                }
              }
            }
          }
        }
        .box-search-menu {
          .btn-search-top {
            svg {
              color: var(--black);
            }

            &:hover {
              svg {
                color: var(--blue);
              }
            }
          }
        }
      }
    }
  }
}

//home
main {
  &.home {
    padding-bottom: 94px;
  }
}
.wallet {
  h4 {
    margin-bottom: 4px;
    padding-left: 24px;
    background: url("#{$img-path}/icon-eye.svg") no-repeat left center;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray);
  }
  span {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
  }
}
.flag,
.notifi {
  margin-left: 15px;
  button {
    width: 24px;
    height: 25px;
    position: relative;
  }
  span {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange);
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    top: -4px;
    right: -3px;
  }
}
.flag {
  button {
    background: url("#{$img-path}/icon-flag.svg") no-repeat;
  }
}
.notifi {
  button {
    background: url("#{$img-path}/icon-notifi.svg") no-repeat;
  }
}
.list-feature {
  justify-content: center;
  button {
    margin: 0 6px;
  }
  .txt {
    min-width: 68px;
    text-align: center;
  }
  .icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 8px;
    background: #f1f1f1;
    border-radius: 50%;
  }
}
.advertise {
  .close {
    width: 16px;
    height: 16px;
    background: url(#{$img-path}/close.svg) no-repeat;
    position: absolute;
    top: 6px;
    right: 6px;
  }
}
.transactions {
  .item {
    padding: 12px 16px;
    border-radius: 5px;
    background: #f7f7f7;
  }
  .icon {
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
  }
  span {
    display: block;
  }
}
.recent-transaction {
  margin-top: 76px;
  padding-bottom: 20px;
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background: url("#{$img-path}/icon-file.svg") no-repeat;
  }
}
.menu-bottom {
  width: 100%;
  padding: 12px 12px 32px;
  background: #fff;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px -7px 16px -4px rgba(0, 0, 0, 0.04);
  border-top: 1px solid #e7e7e7;
  position: fixed;
  bottom: 0;
  left: 0;
  a {
    min-width: 108px;
    display: block;
    text-align: center;
    font-weight: 700;
    color: var(--gray);
  }
  .active {
    color: #000;
    .icon {
      filter: grayscale(0);
    }
  }
  span {
    display: block;
  }
  .icon {
    width: 25px;
    height: 24px;
    display: block;
    margin: 0 auto 4px;
    filter: grayscale(1);
  }
  .icon-home {
    background: url("#{$img-path}/icon-home.svg") no-repeat;
  }
  .icon-cart {
    background: url("#{$img-path}/icon-cart.svg") no-repeat;
  }
  .icon-profile {
    background: url("#{$img-path}/icon-profile.svg") no-repeat;
  }
}

//login
.wealify-account {
  display: flex;
  flex-direction: column;
  padding: 80px 0 32px;
  min-height: calc(100vh - 58px);
  form {
    flex: 1 1 auto;
  }
  h1 {
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.72px;
    span {
      display: block;
    }
  }
  .forgot-password {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    a {
      color: #000;
    }
  }
  .note-inputname {
    width: 243px;
    padding: 8px 12px;
    background: #000;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: -1;
    &::before {
      content: "";
      border-color: transparent transparent #000 transparent;
      border-style: solid;
      border-width: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -10px;
    }
    &.show {
      opacity: 1;
      z-index: 2;
      transition: opacity 0.25s;
    }
  }
  .text-q {
    font-weight: 500;
    color: #696969;
    text-align: center;
    a {
      color: #000;
      font-weight: 700;
      color: #000;
    }
  }
}
.wealify-form {
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    line-height: 20px;
  }
  input {
    width: 100%;
    height: 48px;
    padding: 0 14px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    &:focus {
      border-color: #ffcec7;
    }
  }
  .error {
    display: none;
    margin-top: 6px;
    color: #e91925;
    line-height: 20px;
    &.show {
      display: block;
    }
  }
  .toggle-password {
    width: 18px;
    height: 18px;
    background: url("#{$img-path}/icon-eye-1.svg") no-repeat center center;
    position: absolute;
    right: 14px;
    top: 40px;
    &.show {
      background: url("#{$img-path}/icon-eye-2.svg") no-repeat center center;
    }
  }
  .btn-submit {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background: #ccc;
    color: #9b9b9b;
    &.active {
      background: var(--orange);
      color: #fff;
    }
  }
}
.modal {
  .modal-header {
    display: block;
    padding: 25px 16px 16px;
    border: none;
  }
  .modal-content {
    border-radius: 20px;
  }
  .modal-body {
    padding: 0 16px 24px;
  }
  .modal-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  .close {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    background: #f8f8f8 url("#{$img-path}/close.svg") no-repeat center center;
    border-radius: 50%;
    position: absolute;
    top: 28px;
    right: 16px;
    opacity: 1;
  }
  .text-resend {
    margin-top: 56px;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
    span {
      font-weight: 500;
      color: #696969;
    }
    button {
      font-weight: 700;
      color: var(--orange);
    }
  }
  .form-otp {
    flex-wrap: nowrap;
    justify-content: space-around;
    &.error input {
      border-color: #f48d92;
    }
    input {
      width: 48px;
      height: 48px;
      padding: 0;
      border-radius: 8px;
      border: 1px solid #e7e7e7;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
      color: #000;
      text-align: center;
    }
    input:focus {
      box-shadow: 0px 0px 0px 4px rgba(#ff5942, 0.04);
      color: #ff5942;
      border-color: #ffcec7;
    }
  }
  .error-message {
    margin-top: 8px;
    color: var(--red);
    line-height: 20px;
  }
  .btn-back {
    width: 24px;
    height: 24px;
    background: url("#{$img-path}/arrow-left.svg") no-repeat;
    position: absolute;
    left: 16px;
    top: 28px;
  }
  .note-list {
    margin-bottom: 24px;
    color: var(--gray);
    > * + * {
      margin-top: 8px;
    }
    p {
      padding-left: 24px;
      background: url("#{$img-path}/tick.svg") no-repeat top left;
    }
  }
  .box-notifi {
    padding-top: 24px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
.modal-bottom {
  top: inherit;
  &.fade .modal-dialog {
    transform: translate(0, 25%);
  }
  &.show .modal-dialog {
    transform: translate(0, 0);
  }
  .modal-dialog {
    margin: 0;
    max-width: 100%;
  }
  .modal-content {
    border-radius: 20px 20px 0 0;
    max-height: 90vh;
    overflow: auto;
  }
}
.modal-reset-success {
  .modal-content {
    max-width: 326px;
    margin: 0 auto;
  }
  .close {
    top: 20px;
  }
}

//uikit
.pr {
  position: relative;
}
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.btn-pr {
  background: var(--orange);
  padding: 12px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.txt-xs {
  font-size: 12px;
  line-height: 18px;
}
.txt-md {
  font-size: 16px;
  line-height: 24px;
}
.txt-lg {
  font-size: 20px;
  line-height: 30px;
}
.fw-b {
  font-weight: 700;
}
.fw-sm {
  font-weight: 600;
}
.fw-m {
  font-weight: 500;
}
.txt-gray {
  color: var(--gray);
}
input:focus {
  outline: none;
}

.fz-8 {
  font-size: 8px;
}

.fz-10 {
  font-size: 10px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 22px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-30 {
  font-size: 30px;
}

.fz-32 {
  font-size: 32px;
}

.fz-36 {
  font-size: 36px;
}

.fz-40 {
  font-size: 40px;
}

.fz-48 {
  font-size: 48px;
}

.z-index-10 {
  z-index: 10;
}

.pointer {
  cursor: pointer;
}

.color-blue {
  color: var(--blue);
}

.background-blue {
  background: #2A65AD;
}

.background-red {
  background: #C85C54;
}

.background-green {
  background: #74B667;
}

.color-gray {
  color: var(--gray);
}

.bg-gray-transparent {
  background: var(--gray-transparent);
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-800 {
  font-weight: 800;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}
